openapi: 3.2.0
info:
  title: Lawmatics OAuth Email Campaigns API
  version: 1.22.0
  description: 'The official Lawmatics REST API for legal CRM, client intake and law firm automation. Manage matters (prospects), contacts, companies, custom forms and form entries, custom fields, events and appointments, tasks, notes, files, tags, users, time entries, expenses, invoices and transactions.


    Authentication is OAuth 2.0 authorization code grant; access tokens do not expire, there are no refresh tokens, and Lawmatics does not currently support scopes - an authorized app receives full CRUD access to the granted account.


    All list endpoints support the shared query-parameter grammar documented in the Param Guide: `fields` (field selection, one level deep, `fields=all` to expand), `page` (pagination), `sort_by`/`sort_order`, and `filter_by`/`filter_on`/`filter_with` (one filter at a time; operators `=`, `!=`, `<=`, `<`, `>=`, `>`, `like`, `ilike`, `null`, `not_null`).


    Responses follow a JSON:API-style `data` / `attributes` / `relationships` envelope.'
  contact:
    name: Lawmatics API Support
    email: api@lawmatics.com
    url: https://docs.lawmatics.com/
  termsOfService: https://www.lawmatics.com/terms-of-use
servers:
- url: https://api.lawmatics.com
  description: Lawmatics production API
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Email Campaigns
paths:
  /v1/email_campaigns/{id}:
    get:
      operationId: getEmailCampaign
      summary: Email Campaign
      description: 'Returns a specific campaign in Lawmatics.


        To retrieve a specific campaign, use the following format: TypeofCampaign-id


        An example of retrieving a marketing campaign would be:

        /v1/email_campaigns/MarketingCampaign-1


        An example of retrieving a recurring campaign would be:

        /v1/email_campaigns/RecurringCampaign-1


        An example of retrieving a date campaign would be:

        /v1/email_campaigns/DateCampaign-1'
      tags:
      - Email Campaigns
      parameters:
      - name: id
        in: path
        required: true
        description: The id
        schema:
          type: string
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                getEmailCampaign:
                  summary: GET Email Campaign
                  value:
                    data:
                      id: MarketingCampaign-1
                      type: marketing_campaign_view
                      attributes:
                        name: new campagin
                        status: 0
                        open_rate: null
                        send_count: 0
                        sent_at: null
                        started_processing_at: '2023-04-17T11:36:37.108-07:00'
                        campaign_type: MarketingCampaign
                        created_at: '2023-04-17T10:47:32.675-07:00'
                      relationships:
                        audience:
                          data:
                            id: '1'
                            type: audience
                        custom_email:
                          data:
                            id: '23'
                            type: custom_email
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/email_campaigns:
    get:
      operationId: getEmailCampaigns
      summary: Email Campaigns
      description: Returns all email campaigns in Lawmatics.
      tags:
      - Email Campaigns
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                getEmailCampaigns:
                  summary: GET Email Campaigns
                  value:
                    data:
                    - id: RecurringCampaign-1
                      type: marketing_campaign_view
                      attributes:
                        name: jasmine recurring
                        status: 1
                        open_rate: null
                        send_count: 0
                        sent_at: '2023-07-26T16:29:07.937-07:00'
                        started_processing_at: '2023-07-26T16:28:19.471-07:00'
                        campaign_type: RecurringCampaign
                        created_at: '2023-07-24T11:28:27.459-07:00'
                      relationships:
                        audience:
                          data:
                            id: '1'
                            type: audience
                        custom_email:
                          data:
                            id: '25'
                            type: custom_email
                    - id: MarketingCampaign-1
                      type: marketing_campaign_view
                      attributes:
                        name: new campagin
                        status: 0
                        open_rate: null
                        send_count: 0
                        sent_at: null
                        started_processing_at: '2023-04-17T11:36:37.108-07:00'
                        campaign_type: MarketingCampaign
                        created_at: '2023-04-17T10:47:32.675-07:00'
                      relationships:
                        audience:
                          data:
                            id: '1'
                            type: audience
                        custom_email:
                          data:
                            id: '23'
                            type: custom_email
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 2
                    links:
                      self: /v1/marketing_campaign_views?page=1
                getEmailCampaignsByType:
                  summary: GET Email Campaigns by Type
                  value:
                    data:
                    - id: MarketingCampaign-2
                      type: email_campaign
                      attributes:
                        name: run once
                        status: 0
                        open_rate: null
                        send_count: 0
                        sent_at: null
                        started_processing_at: '2023-07-28T07:41:18.465-07:00'
                        campaign_type: MarketingCampaign
                        created_at: '2023-07-28T07:41:14.484-07:00'
                      relationships:
                        audience:
                          data:
                            id: '1'
                            type: audience
                        custom_email:
                          data:
                            id: '1'
                            type: custom_email
                    - id: MarketingCampaign-15
                      type: email_campaign
                      attributes:
                        name: another marketing campaign
                        status: 0
                        open_rate: null
                        send_count: null
                        sent_at: null
                        started_processing_at: null
                        campaign_type: MarketingCampaign
                        created_at: '2023-08-09T14:32:34.630-07:00'
                      relationships:
                        audience:
                          data:
                            id: '1'
                            type: audience
                        custom_email:
                          data:
                            id: '1'
                            type: custom_email
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 2
                    links:
                      self: /v1/marketing_campaign_views?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant. Register a developer app at https://app.lawmatics.com/settings/developers (developer settings must be enabled by Lawmatics support). Access tokens are non-expiring; no refresh tokens are issued and scopes are not supported.
      flows:
        authorizationCode:
          authorizationUrl: https://app.lawmatics.com/oauth/authorize
          tokenUrl: https://api.lawmatics.com/oauth/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: 'The OAuth 2.0 access token is sent as `Authorization: Bearer <access_token>`.'
externalDocs:
  description: Official Lawmatics RESTful API documentation (Postman)
  url: https://docs.lawmatics.com/
x-provenance:
  generated: '2026-08-13'
  method: derived
  publisher: API Evangelist
  source: https://docs.lawmatics.com/api/collections/26379991/2sA3JM7gbw?segregateAuth=true&versionTag=latest
  source_type: Postman collection published by Lawmatics as its official API documentation
  source_file: postman/lawmatics-oauth-api.postman_collection.json
  note: 'NOT published by Lawmatics. Lawmatics publishes no OpenAPI. Every path, method, parameter, request example and response example in this document was converted mechanically from the provider-published Postman collection "Lawmatics OAuth API v1.22.0"; nothing was invented. Schemas are typed as generic objects because the collection carries examples, not JSON Schema. The server URL is the base documented in the collection Param Guide (https://api.lawmatics.com), not the collection''s disabled {{host}} placeholder. The 401 and 429 responses added to every authenticated operation are the provider-documented, globally applicable responses: the collection''s auth guide states a per-firm rate limit applies to all endpoints and returns 429 with a Retry-After header, and https://api.lawmatics.com/v1/contacts was observed returning 401 unauthenticated on 2026-08-13.'
