openapi: 3.2.0
info:
  title: Lawmatics OAuth Payment Transactions API
  version: 1.22.0
  description: 'The official Lawmatics REST API for legal CRM, client intake and law firm automation. Manage matters (prospects), contacts, companies, custom forms and form entries, custom fields, events and appointments, tasks, notes, files, tags, users, time entries, expenses, invoices and transactions.


    Authentication is OAuth 2.0 authorization code grant; access tokens do not expire, there are no refresh tokens, and Lawmatics does not currently support scopes - an authorized app receives full CRUD access to the granted account.


    All list endpoints support the shared query-parameter grammar documented in the Param Guide: `fields` (field selection, one level deep, `fields=all` to expand), `page` (pagination), `sort_by`/`sort_order`, and `filter_by`/`filter_on`/`filter_with` (one filter at a time; operators `=`, `!=`, `<=`, `<`, `>=`, `>`, `like`, `ilike`, `null`, `not_null`).


    Responses follow a JSON:API-style `data` / `attributes` / `relationships` envelope.'
  contact:
    name: Lawmatics API Support
    email: api@lawmatics.com
    url: https://docs.lawmatics.com/
  termsOfService: https://www.lawmatics.com/terms-of-use
servers:
- url: https://api.lawmatics.com
  description: Lawmatics production API
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Payment Transactions
paths:
  /v1/transactions/{transaction_id}:
    get:
      operationId: getTransaction
      summary: Transaction
      description: A specific Transaction in Lawmatics
      tags:
      - Payment Transactions
      parameters:
      - name: transaction_id
        in: path
        required: true
        description: The transaction id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getTransaction:
                  summary: GET Transaction
                  value:
                    data:
                      id: '1'
                      type: transaction
                      attributes:
                        account_type: Contact
                        bank_account_type: trust
                        status: processed
                        payment_method: venmo
                        transaction_type: credit
                        amount_cents: 12323
                        amount_currency: USD
                        account_id: 101
                        created_by_id: 5
                        firm_id: 2
                        external_id: null
                        invoice_id: null
                        prospect_id: 101
                        created_at: '2021-12-26T14:52:44.808-08:00'
                        updated_at: '2021-12-26T14:52:44.808-08:00'
                        note: Such a goo payment
                      relationships:
                        account:
                          data:
                            id: '101'
                            type: contact
                        prospect:
                          data:
                            id: '101'
                            type: prospect
                        invoice:
                          data: null
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/transactions:
    get:
      operationId: getTransactions
      summary: Transactions
      description: A paginated list of all Transactions in Lawmatics
      tags:
      - Payment Transactions
      parameters:
      - name: fields
        in: query
        required: false
        schema:
          type: string
        example: all
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getTransactions:
                  summary: GET Transactions
                  value:
                    data:
                    - id: '6'
                      type: transaction
                      attributes:
                        account_type: Contact
                        bank_account_type: trust
                        status: processed
                        payment_method: other
                        transaction_type: credit
                        amount_cents: 12300
                        amount_currency: USD
                        account_id: 3
                        created_by_id: 5
                        firm_id: 2
                        external_id: null
                        invoice_id: null
                        prospect_id: null
                        created_at: '2022-04-21T00:17:38.437-07:00'
                        updated_at: '2022-04-21T00:17:38.437-07:00'
                        note: asdasd
                      relationships:
                        account:
                          data:
                            id: '3'
                            type: contact
                        prospect:
                          data: null
                        invoice:
                          data: null
                    - id: '5'
                      type: transaction
                      attributes:
                        account_type: Contact
                        bank_account_type: trust
                        status: processed
                        payment_method: credit_card
                        transaction_type: credit
                        amount_cents: 1230
                        amount_currency: USD
                        account_id: 3
                        created_by_id: 5
                        firm_id: 2
                        external_id: null
                        invoice_id: null
                        prospect_id: 3
                        created_at: '2022-04-20T22:37:22.982-07:00'
                        updated_at: '2022-04-20T22:37:22.982-07:00'
                        note: asdasdas
                      relationships:
                        account:
                          data:
                            id: '3'
                            type: contact
                        prospect:
                          data:
                            id: '3'
                            type: prospect
                        invoice:
                          data: null
                    - id: '4'
                      type: transaction
                      attributes:
                        account_type: Contact
                        bank_account_type: trust
                        status: processed
                        payment_method: credit_card
                        transaction_type: credit
                        amount_cents: 1230
                        amount_currency: USD
                        account_id: 9
                        created_by_id: 5
                        firm_id: 2
                        external_id: null
                        invoice_id: null
                        prospect_id: null
                        created_at: '2022-04-20T16:47:22.562-07:00'
                        updated_at: '2022-04-20T16:47:22.562-07:00'
                        note: asdasdasd
                      relationships:
                        account:
                          data:
                            id: '9'
                            type: contact
                        prospect:
                          data: null
                        invoice:
                          data: null
                    - id: '3'
                      type: transaction
                      attributes:
                        account_type: Contact
                        bank_account_type: trust
                        status: processed
                        payment_method: credit_card
                        transaction_type: credit
                        amount_cents: 12300
                        amount_currency: USD
                        account_id: 3
                        created_by_id: 5
                        firm_id: 2
                        external_id: null
                        invoice_id: null
                        prospect_id: 3
                        created_at: '2022-04-20T16:47:07.893-07:00'
                        updated_at: '2022-04-20T16:47:07.893-07:00'
                        note: test
                      relationships:
                        account:
                          data:
                            id: '3'
                            type: contact
                        prospect:
                          data:
                            id: '3'
                            type: prospect
                        invoice:
                          data: null
                    - id: '2'
                      type: transaction
                      attributes:
                        account_type: Contact
                        bank_account_type: trust
                        status: processed
                        payment_method: credit_card
                        transaction_type: credit
                        amount_cents: 123123
                        amount_currency: USD
                        account_id: 101
                        created_by_id: 5
                        firm_id: 2
                        external_id: null
                        invoice_id: null
                        prospect_id: 101
                        created_at: '2022-01-10T20:05:03.839-08:00'
                        updated_at: '2022-01-10T20:05:03.839-08:00'
                        note: Tester
                      relationships:
                        account:
                          data:
                            id: '101'
                            type: contact
                        prospect:
                          data:
                            id: '101'
                            type: prospect
                        invoice:
                          data: null
                    - id: '1'
                      type: transaction
                      attributes:
                        account_type: Contact
                        bank_account_type: trust
                        status: processed
                        payment_method: venmo
                        transaction_type: credit
                        amount_cents: 12323
                        amount_currency: USD
                        account_id: 101
                        created_by_id: 5
                        firm_id: 2
                        external_id: null
                        invoice_id: null
                        prospect_id: 101
                        created_at: '2021-12-26T14:52:44.808-08:00'
                        updated_at: '2021-12-26T14:52:44.808-08:00'
                        note: Such a goo payment
                      relationships:
                        account:
                          data:
                            id: '101'
                            type: contact
                        prospect:
                          data:
                            id: '101'
                            type: prospect
                        invoice:
                          data: null
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 6
                    links:
                      self: /v1/transactions?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    post:
      operationId: createTransaction
      summary: Create Transaction
      description: "Create a new Transaction\n\nOptional Fields: invoice_number, invoice_id, note  \n\ninvoice_number or invoice_id: only one should be specified\n\ntransactable: Prospect, Contact, Company with which to associate the transaction\n\ntransaction_type: debit or credit\n\nbank_account_type: operating or trust\n\npayment_method: credit_card, check, cash, paypal, venmo, trust_payment, debit_card, ach, or other"
      tags:
      - Payment Transactions
      parameters:
      - name: fields
        in: query
        required: false
        schema:
          type: string
        example: all
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                postCreateRefundTransaction:
                  summary: POST Create Refund Transaction
                  value:
                    data:
                      id: '38'
                      type: transaction
                      attributes:
                        account_type: Contact
                        bank_account_type: operating
                        payment_method: invoice_refund
                        transaction_type: debit
                        amount_cents: 5000
                        amount_currency: USD
                        account_id: 112
                        external_id: null
                        created_at: '2022-12-27T13:15:25.890-08:00'
                        updated_at: '2022-12-27T13:15:25.890-08:00'
                        note: ''
                      relationships:
                        created_by:
                          data:
                            id: '5'
                            type: user
                        account:
                          data:
                            id: '112'
                            type: contact
                        prospect:
                          data:
                            id: '113'
                            type: prospect
                        invoice:
                          data:
                            id: '1'
                            type: invoice
                        trust_fund_request:
                          data: null
                        refunded_transaction:
                          data:
                            id: '30'
                            type: transaction
                postCreateTransaction:
                  summary: POST Create Transaction
                  value:
                    data:
                      id: '36'
                      type: transaction
                      attributes:
                        account_type: Contact
                        bank_account_type: operating
                        payment_method: credit_card
                        transaction_type: credit
                        amount_cents: 5000
                        amount_currency: USD
                        account_id: 112
                        external_id: null
                        created_at: '2022-12-27T13:09:52.790-08:00'
                        updated_at: '2022-12-27T13:09:52.790-08:00'
                        note: ''
                      relationships:
                        created_by:
                          data:
                            id: '5'
                            type: user
                        account:
                          data:
                            id: '112'
                            type: contact
                        prospect:
                          data:
                            id: '113'
                            type: prospect
                        invoice:
                          data:
                            id: '1'
                            type: invoice
                        trust_fund_request:
                          data: null
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant. Register a developer app at https://app.lawmatics.com/settings/developers (developer settings must be enabled by Lawmatics support). Access tokens are non-expiring; no refresh tokens are issued and scopes are not supported.
      flows:
        authorizationCode:
          authorizationUrl: https://app.lawmatics.com/oauth/authorize
          tokenUrl: https://api.lawmatics.com/oauth/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: 'The OAuth 2.0 access token is sent as `Authorization: Bearer <access_token>`.'
externalDocs:
  description: Official Lawmatics RESTful API documentation (Postman)
  url: https://docs.lawmatics.com/
x-provenance:
  generated: '2026-08-13'
  method: derived
  publisher: API Evangelist
  source: https://docs.lawmatics.com/api/collections/26379991/2sA3JM7gbw?segregateAuth=true&versionTag=latest
  source_type: Postman collection published by Lawmatics as its official API documentation
  source_file: postman/lawmatics-oauth-api.postman_collection.json
  note: 'NOT published by Lawmatics. Lawmatics publishes no OpenAPI. Every path, method, parameter, request example and response example in this document was converted mechanically from the provider-published Postman collection "Lawmatics OAuth API v1.22.0"; nothing was invented. Schemas are typed as generic objects because the collection carries examples, not JSON Schema. The server URL is the base documented in the collection Param Guide (https://api.lawmatics.com), not the collection''s disabled {{host}} placeholder. The 401 and 429 responses added to every authenticated operation are the provider-documented, globally applicable responses: the collection''s auth guide states a per-firm rate limit applies to all endpoints and returns 429 with a Retry-After header, and https://api.lawmatics.com/v1/contacts was observed returning 401 unauthenticated on 2026-08-13.'
