openapi: 3.1.0
info:
  title: Lawmatics OAuth API
  version: 1.22.0
  description: 'The official Lawmatics REST API for legal CRM, client intake and law firm automation.
    Manage matters (prospects), contacts, companies, custom forms and form entries, custom fields, events
    and appointments, tasks, notes, files, tags, users, time entries, expenses, invoices and transactions.


    Authentication is OAuth 2.0 authorization code grant; access tokens do not expire, there are no refresh
    tokens, and Lawmatics does not currently support scopes - an authorized app receives full CRUD access
    to the granted account.


    All list endpoints support the shared query-parameter grammar documented in the Param Guide: `fields`
    (field selection, one level deep, `fields=all` to expand), `page` (pagination), `sort_by`/`sort_order`,
    and `filter_by`/`filter_on`/`filter_with` (one filter at a time; operators `=`, `!=`, `<=`, `<`, `>=`,
    `>`, `like`, `ilike`, `null`, `not_null`).


    Responses follow a JSON:API-style `data` / `attributes` / `relationships` envelope.'
  contact:
    name: Lawmatics API Support
    email: api@lawmatics.com
    url: https://docs.lawmatics.com/
  termsOfService: https://www.lawmatics.com/terms-of-use
externalDocs:
  description: Official Lawmatics RESTful API documentation (Postman)
  url: https://docs.lawmatics.com/
servers:
- url: https://api.lawmatics.com
  description: Lawmatics production API
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Addresses
  description: An Address belongs to a Firm, a Contact, or Company.
- name: Collections
- name: Contacts
  description: 'A Contact can be thought of as a collection of data about a "Person".


    A Contact record is the base for all Contactables (Matters, Clients, and Companies).


    Since Contact data reflects a person, and is a base record, it is shared via any Contactable associated
    with the Contact.


    For Example:


    You be'
- name: Companies
- name: Custom Emails
- name: Custom Fields
- name: Custom Forms
  description: 'NOTE: Field IDs for fields that are not considered "Standard", such as General fields,
    and Custom fields, are referred to by special long-form uuids that are enumerated on the API details
    page of the Custom Form in Lawmatics. (E.g. https://app.lawmatics.com/custom-forms/:custom_form_id/api-details).'
- name: Email Addresses
  description: A Email Address is contact information that belongs to a Firm, Contact, or Company.
- name: Email Campaigns
- name: Email Campaign Stats
- name: Events (Appointments)
  description: Events are also referred to in the app as "Appointments"
- name: Event Locations
  description: These are Firm related Locations (for events) that can be configured in Firm settings.
- name: Event Types
  description: 'Event Types define Event defaults, and can trigger automations, for common types of Events
    created in Lawmatics.


    Configuring Calendar Availability defaults is not currently supported by the API. Go to Settings ->
    Event Settings to configure the Event Type in more detail.'
- name: Files
- name: Folders
- name: Matters (Prospects)
  description: 'A Matter is a legal case, and the primary object in Lawmatics.


    NOTE: You may see Matters referenced as "Prospects" or "PNCs". This is for legacy reasons, and we
    are working to migrate away from these names internally.


    When creating a new Matter it will be in status PNC. This stands for Potential N'
- name: Notes
- name: Payment Invoices
- name: Payment Expenses
- name: Payment Time Entries
- name: Payment Transactions
- name: Phone Numbers
  description: A Phone Number is contact information that belongs to a Firm, Contact, or Company.
- name: Tags
- name: Tasks
- name: Task Statuses
- name: Timeline Activities
- name: Users
- name: Param Guide
  description: 'We currently have three possible types of Query Param options that can be included with
    any request to modify the results.


    - Field Selection

    - Pagination

    - Sorting

    - Filtering


    There are two types of Queries,


    - Queries that return a Single Object. These only have access to Field Selection Query Pa'
paths:
  /v1/addresses/{address_id}:
    get:
      operationId: getAddress
      summary: Address
      description: A specific Stage by id
      tags:
      - Addresses
      parameters:
      - name: address_id
        in: path
        required: true
        description: The address id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getAddress:
                  summary: GET Address
                  value:
                    data:
                      id: '101'
                      type: address
                      attributes:
                        label: Miami St
                        street: 1234 Miami
                        street2: null
                        city: Miami
                        state: FL
                        zipcode: '12345'
                        country: United States
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    put:
      operationId: updateAddress
      summary: Update Address
      description: Updates an Address by ID
      tags:
      - Addresses
      parameters:
      - name: address_id
        in: path
        required: true
        description: The address id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              label: Home
              street: 5555 Real Street
              street2: Apt 77
              city: Real Town
              state: CA
              country: United States
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                putUpdateAddress:
                  summary: PUT Update Address
                  value:
                    data:
                      id: '122'
                      type: address
                      attributes:
                        label: Home
                        street: 5555 Real Street
                        street2: Apt 77
                        city: Real Town
                        state: CA
                        zipcode: '92104'
                        country: United States
                      relationships:
                        addressable:
                          data:
                            id: '1'
                            type: contact
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    delete:
      operationId: deleteAddress
      summary: Delete Address
      description: 'Delete an Address


        address_id: ID of the Address to delete'
      tags:
      - Addresses
      parameters:
      - name: address_id
        in: path
        required: true
        description: The address id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                deleteDeleteAddress:
                  summary: DELETE Delete Address
                  value:
                    data:
                      id: '122'
                      type: address
                      attributes:
                        label: Home
                        street: 5555 Real Street
                        street2: Apt 77
                        city: Real Town
                        state: CA
                        zipcode: '92104'
                        country: United States
                      relationships:
                        addressable:
                          data:
                            id: '1'
                            type: contact
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/addresses:
    get:
      operationId: getAddresses
      summary: Addresses
      description: A paginated list of all Addresses in Lawmatics
      tags:
      - Addresses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getAddresses:
                  summary: GET Addresses
                  value:
                    data:
                    - id: '105'
                      type: address
                      attributes:
                        label: Primary
                        street: 1234 Fake Street
                        street2: null
                        city: null
                        state: null
                        zipcode: null
                        country: null
                        full_address: 1234 Fake Street
                        full_street: 1234 Fake Street
                        second_half: ''
                        city_state_zip: ''
                        created_at: '2022-03-29T22:03:55.343-07:00'
                        updated_at: '2022-03-29T22:03:55.343-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '127'
                            type: contact
                        locations:
                          data: []
                    - id: '104'
                      type: address
                      attributes:
                        label: test
                        street: ''
                        street2: null
                        city: null
                        state: null
                        zipcode: null
                        country: null
                        full_address: ''
                        full_street: ''
                        second_half: ''
                        city_state_zip: ''
                        created_at: '2022-02-09T13:56:33.557-08:00'
                        updated_at: '2022-02-09T13:56:33.557-08:00'
                      relationships:
                        addressable:
                          data:
                            id: '116'
                            type: contact
                        locations:
                          data: []
                    - id: '103'
                      type: address
                      attributes:
                        label: Primary
                        street: '123'
                        street2: null
                        city: null
                        state: null
                        zipcode: null
                        country: null
                        full_address: '123'
                        full_street: '123'
                        second_half: ''
                        city_state_zip: ''
                        created_at: '2022-02-09T13:56:33.548-08:00'
                        updated_at: '2022-02-09T13:56:33.548-08:00'
                      relationships:
                        addressable:
                          data:
                            id: '116'
                            type: contact
                        locations:
                          data: []
                    - id: '102'
                      type: address
                      attributes:
                        label: Primary
                        street: 1234 fake street
                        street2: suite 2
                        city: San Diego
                        state: CA
                        zipcode: '92104'
                        country: United States
                        full_address: 1234 fake street, suite 2, San Diego, CA 92104, United States
                        full_street: 1234 fake street, suite 2
                        second_half: San Diego, CA 92104, United States
                        city_state_zip: San Diego, CA 92104
                        created_at: '2021-11-08T14:06:20.224-08:00'
                        updated_at: '2021-11-08T14:06:20.224-08:00'
                      relationships:
                        addressable:
                          data:
                            id: '2'
                            type: firm
                        locations:
                          data: []
                    - id: '101'
                      type: address
                      attributes:
                        label: Miami St
                        street: 1234 Miami
                        street2: null
                        city: Miami
                        state: FL
                        zipcode: '12345'
                        country: United States
                        full_address: 1234 Miami, Miami, FL 12345, United States
                        full_street: 1234 Miami
                        second_half: Miami, FL 12345, United States
                        city_state_zip: Miami, FL 12345
                        created_at: '2021-10-31T19:59:35.424-07:00'
                        updated_at: '2021-10-31T19:59:35.424-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '2'
                            type: firm
                        locations:
                          data:
                          - id: '1'
                            type: location
                    - id: '100'
                      type: address
                      attributes:
                        label: Primary
                        street: 99 Fake Rd
                        street2: null
                        city: City 1
                        state: CA
                        zipcode: '90219'
                        country: United States
                        full_address: 99 Fake Rd, City 1, CA 90219, United States
                        full_street: 99 Fake Rd
                        second_half: City 1, CA 90219, United States
                        city_state_zip: City 1, CA 90219
                        created_at: '2021-10-26T15:47:48.382-07:00'
                        updated_at: '2021-10-26T15:47:48.382-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '100'
                            type: contact
                        locations:
                          data: []
                    - id: '99'
                      type: address
                      attributes:
                        label: Primary
                        street: 98 Fake Rd
                        street2: null
                        city: City 3
                        state: IL
                        zipcode: '55126'
                        country: United States
                        full_address: 98 Fake Rd, City 3, IL 55126, United States
                        full_street: 98 Fake Rd
                        second_half: City 3, IL 55126, United States
                        city_state_zip: City 3, IL 55126
                        created_at: '2021-10-26T15:47:48.119-07:00'
                        updated_at: '2021-10-26T15:47:48.119-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '99'
                            type: contact
                        locations:
                          data: []
                    - id: '98'
                      type: address
                      attributes:
                        label: Primary
                        street: 97 Fake Rd
                        street2: null
                        city: City 2
                        state: IL
                        zipcode: '60633'
                        country: United States
                        full_address: 97 Fake Rd, City 2, IL 60633, United States
                        full_street: 97 Fake Rd
                        second_half: City 2, IL 60633, United States
                        city_state_zip: City 2, IL 60633
                        created_at: '2021-10-26T15:47:47.890-07:00'
                        updated_at: '2021-10-26T15:47:47.890-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '98'
                            type: contact
                        locations:
                          data: []
                    - id: '97'
                      type: address
                      attributes:
                        label: Primary
                        street: 96 Fake Rd
                        street2: null
                        city: City 2
                        state: IL
                        zipcode: '60633'
                        country: United States
                        full_address: 96 Fake Rd, City 2, IL 60633, United States
                        full_street: 96 Fake Rd
                        second_half: City 2, IL 60633, United States
                        city_state_zip: City 2, IL 60633
                        created_at: '2021-10-26T15:47:47.639-07:00'
                        updated_at: '2021-10-26T15:47:47.639-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '97'
                            type: contact
                        locations:
                          data: []
                    - id: '96'
                      type: address
                      attributes:
                        label: Primary
                        street: 95 Fake Rd
                        street2: null
                        city: City 3
                        state: CA
                        zipcode: '55126'
                        country: United States
                        full_address: 95 Fake Rd, City 3, CA 55126, United States
                        full_street: 95 Fake Rd
                        second_half: City 3, CA 55126, United States
                        city_state_zip: City 3, CA 55126
                        created_at: '2021-10-26T15:47:46.875-07:00'
                        updated_at: '2021-10-26T15:47:46.875-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '96'
                            type: contact
                        locations:
                          data: []
                    - id: '95'
                      type: address
                      attributes:
                        label: Primary
                        street: 94 Fake Rd
                        street2: null
                        city: City 3
                        state: CA
                        zipcode: '90219'
                        country: United States
                        full_address: 94 Fake Rd, City 3, CA 90219, United States
                        full_street: 94 Fake Rd
                        second_half: City 3, CA 90219, United States
                        city_state_zip: City 3, CA 90219
                        created_at: '2021-10-26T15:47:46.595-07:00'
                        updated_at: '2021-10-26T15:47:46.595-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '95'
                            type: contact
                        locations:
                          data: []
                    - id: '94'
                      type: address
                      attributes:
                        label: Primary
                        street: 93 Fake Rd
                        street2: null
                        city: City 3
                        state: CA
                        zipcode: '55126'
                        country: United States
                        full_address: 93 Fake Rd, City 3, CA 55126, United States
                        full_street: 93 Fake Rd
                        second_half: City 3, CA 55126, United States
                        city_state_zip: City 3, CA 55126
                        created_at: '2021-10-26T15:47:46.277-07:00'
                        updated_at: '2021-10-26T15:47:46.277-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '94'
                            type: contact
                        locations:
                          data: []
                    - id: '93'
                      type: address
                      attributes:
                        label: Primary
                        street: 92 Fake Rd
                        street2: null
                        city: City 1
                        state: MN
                        zipcode: '60633'
                        country: United States
                        full_address: 92 Fake Rd, City 1, MN 60633, United States
                        full_street: 92 Fake Rd
                        second_half: City 1, MN 60633, United States
                        city_state_zip: City 1, MN 60633
                        created_at: '2021-10-26T15:47:45.923-07:00'
                        updated_at: '2021-10-26T15:47:45.923-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '93'
                            type: contact
                        locations:
                          data: []
                    - id: '92'
                      type: address
                      attributes:
                        label: Primary
                        street: 91 Fake Rd
                        street2: null
                        city: City 1
                        state: MN
                        zipcode: '60633'
                        country: United States
                        full_address: 91 Fake Rd, City 1, MN 60633, United States
                        full_street: 91 Fake Rd
                        second_half: City 1, MN 60633, United States
                        city_state_zip: City 1, MN 60633
                        created_at: '2021-10-26T15:47:45.619-07:00'
                        updated_at: '2021-10-26T15:47:45.619-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '92'
                            type: contact
                        locations:
                          data: []
                    - id: '91'
                      type: address
                      attributes:
                        label: Primary
                        street: 90 Fake Rd
                        street2: null
                        city: City 1
                        state: CA
                        zipcode: '60633'
                        country: United States
                        full_address: 90 Fake Rd, City 1, CA 60633, United States
                        full_street: 90 Fake Rd
                        second_half: City 1, CA 60633, United States
                        city_state_zip: City 1, CA 60633
                        created_at: '2021-10-26T15:47:44.989-07:00'
                        updated_at: '2021-10-26T15:47:44.989-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '91'
                            type: contact
                        locations:
                          data: []
                    - id: '90'
                      type: address
                      attributes:
                        label: Primary
                        street: 89 Fake Rd
                        street2: null
                        city: City 1
                        state: MN
                        zipcode: '60633'
                        country: United States
                        full_address: 89 Fake Rd, City 1, MN 60633, United States
                        full_street: 89 Fake Rd
                        second_half: City 1, MN 60633, United States
                        city_state_zip: City 1, MN 60633
                        created_at: '2021-10-26T15:47:44.732-07:00'
                        updated_at: '2021-10-26T15:47:44.732-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '90'
                            type: contact
                        locations:
                          data: []
                    - id: '89'
                      type: address
                      attributes:
                        label: Primary
                        street: 88 Fake Rd
                        street2: null
                        city: City 1
                        state: MN
                        zipcode: '90219'
                        country: United States
                        full_address: 88 Fake Rd, City 1, MN 90219, United States
                        full_street: 88 Fake Rd
                        second_half: City 1, MN 90219, United States
                        city_state_zip: City 1, MN 90219
                        created_at: '2021-10-26T15:47:44.432-07:00'
                        updated_at: '2021-10-26T15:47:44.432-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '89'
                            type: contact
                        locations:
                          data: []
                    - id: '88'
                      type: address
                      attributes:
                        label: Primary
                        street: 87 Fake Rd
                        street2: null
                        city: City 1
                        state: MN
                        zipcode: '55126'
                        country: United States
                        full_address: 87 Fake Rd, City 1, MN 55126, United States
                        full_street: 87 Fake Rd
                        second_half: City 1, MN 55126, United States
                        city_state_zip: City 1, MN 55126
                        created_at: '2021-10-26T15:47:44.158-07:00'
                        updated_at: '2021-10-26T15:47:44.158-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '88'
                            type: contact
                        locations:
                          data: []
                    - id: '87'
                      type: address
                      attributes:
                        label: Primary
                        street: 86 Fake Rd
                        street2: null
                        city: City 3
                        state: MN
                        zipcode: '60633'
                        country: United States
                        full_address: 86 Fake Rd, City 3, MN 60633, United States
                        full_street: 86 Fake Rd
                        second_half: City 3, MN 60633, United States
                        city_state_zip: City 3, MN 60633
                        created_at: '2021-10-26T15:47:43.410-07:00'
                        updated_at: '2021-10-26T15:47:43.410-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '87'
                            type: contact
                        locations:
                          data: []
                    - id: '86'
                      type: address
                      attributes:
                        label: Primary
                        street: 85 Fake Rd
                        street2: null
                        city: City 1
                        state: MN
                        zipcode: '90219'
                        country: United States
                        full_address: 85 Fake Rd, City 1, MN 90219, United States
                        full_street: 85 Fake Rd
                        second_half: City 1, MN 90219, United States
                        city_state_zip: City 1, MN 90219
                        created_at: '2021-10-26T15:47:43.068-07:00'
                        updated_at: '2021-10-26T15:47:43.068-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '86'
                            type: contact
                        locations:
                          data: []
                    - id: '85'
                      type: address
                      attributes:
                        label: Primary
                        street: 84 Fake Rd
                        street2: null
                        city: City 3
                        state: IL
                        zipcode: '55126'
                        country: United States
                        full_address: 84 Fake Rd, City 3, IL 55126, United States
                        full_street: 84 Fake Rd
                        second_half: City 3, IL 55126, United States
                        city_state_zip: City 3, IL 55126
                        created_at: '2021-10-26T15:47:42.519-07:00'
                        updated_at: '2021-10-26T15:47:42.519-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '85'
                            type: contact
                        locations:
                          data: []
                    - id: '84'
                      type: address
                      attributes:
                        label: Primary
                        street: 83 Fake Rd
                        street2: null
                        city: City 3
                        state: CA
                        zipcode: '90219'
                        country: United States
                        full_address: 83 Fake Rd, City 3, CA 90219, United States
                        full_street: 83 Fake Rd
                        second_half: City 3, CA 90219, United States
                        city_state_zip: City 3, CA 90219
                        created_at: '2021-10-26T15:47:42.294-07:00'
                        updated_at: '2021-10-26T15:47:42.294-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '84'
                            type: contact
                        locations:
                          data: []
                    - id: '83'
                      type: address
                      attributes:
                        label: Primary
                        street: 82 Fake Rd
                        street2: null
                        city: City 3
                        state: MN
                        zipcode: '55126'
                        country: United States
                        full_address: 82 Fake Rd, City 3, MN 55126, United States
                        full_street: 82 Fake Rd
                        second_half: City 3, MN 55126, United States
                        city_state_zip: City 3, MN 55126
                        created_at: '2021-10-26T15:47:42.069-07:00'
                        updated_at: '2021-10-26T15:47:42.069-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '83'
                            type: contact
                        locations:
                          data: []
                    - id: '82'
                      type: address
                      attributes:
                        label: Primary
                        street: 81 Fake Rd
                        street2: null
                        city: City 3
                        state: CA
                        zipcode: '60633'
                        country: United States
                        full_address: 81 Fake Rd, City 3, CA 60633, United States
                        full_street: 81 Fake Rd
                        second_half: City 3, CA 60633, United States
                        city_state_zip: City 3, CA 60633
                        created_at: '2021-10-26T15:47:41.832-07:00'
                        updated_at: '2021-10-26T15:47:41.832-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '82'
                            type: contact
                        locations:
                          data: []
                    - id: '81'
                      type: address
                      attributes:
                        label: Primary
                        street: 80 Fake Rd
                        street2: null
                        city: City 3
                        state: CA
                        zipcode: '60633'
                        country: United States
                        full_address: 80 Fake Rd, City 3, CA 60633, United States
                        full_street: 80 Fake Rd
                        second_half: City 3, CA 60633, United States
                        city_state_zip: City 3, CA 60633
                        created_at: '2021-10-26T15:47:41.082-07:00'
                        updated_at: '2021-10-26T15:47:41.082-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '81'
                            type: contact
                        locations:
                          data: []
                    meta:
                      total_pages: 5
                      limit_per_page: 25
                      total_entries: 105
                    links:
                      self: /v1/addresses?page=1
                      next: /v1/addresses?page=2
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    post:
      operationId: createAddress
      summary: Create Address
      description: 'Create a new Address


        Required Fields: addressable, label, street


        addressable_type: Prospect, Contact, Company, or Firm that the Address belongs to.


        addressable_id: Id of Record. Firm type doesn''t need an ID passed and it will be ignored.


        Note - Setting the Address through a Prospect (Matter) will set the address on the Prospects''
        Contact/Company.'
      tags:
      - Addresses
      parameters:
      - name: fields
        in: query
        required: false
        schema:
          type: string
        example: all
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              label: Home
              street: 1234 Fake Street
              street2: Apt 1
              city: Fake Town
              state: CA
              zipcode: '92104'
              addressable_type: Firm
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              examples:
                postCreateAddress:
                  summary: POST Create Address
                  value:
                    data:
                      id: '122'
                      type: address
                      attributes:
                        label: Primary
                        street: 1234 Fake Street
                        street2: Apt 1
                        city: Fake Town
                        state: CA
                        zipcode: '92104'
                        country: null
                        full_address: 1234 Fake Street, Apt 1, Fake Town, CA 92104
                        full_street: 1234 Fake Street, Apt 1
                        second_half: Fake Town, CA 92104
                        city_state_zip: Fake Town, CA 92104
                        created_at: '2022-06-25T18:22:46.177-07:00'
                        updated_at: '2022-06-25T18:22:46.177-07:00'
                      relationships:
                        addressable:
                          data:
                            id: '1'
                            type: contact
                        locations:
                          data: []
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/collections:
    get:
      operationId: getCollections
      summary: Collections
      description: 'Retrieves a list of all Collections in the Lawmatics account.


        Endpoint

        GET {{host}}/v1/collections


        Authentication

        This request uses OAuth 2.0. Ensure a valid access_token is set in the active environment.


        Headers


        Key

        Value


        Content-Type

        application/json


        Response

        Returns a JSON object with a data array. Each item in the array represents a Collection and includes:


        Field

        Type

        Description


        id

        string

        Unique identifier for the collection


        type

        string

        Resource type — always "collection"


        attributes.name

        string

        Name of the collection


        attributes.custom_fields

        array

        List of custom fields associated with the collection


        attributes.created_at

        string (ISO 8601)

        Timestamp when the collection was created


        attributes.updated_at

        string (ISO 8601)

        Timestamp when the collection was last updated


        Custom Field Object


        Field

        Type

        Description


        id

        string

        Unique identifier for the custom field


        name

        string

        Display name of the custom field


        field_type

        string

        Type of field (e.g., list, multi_picklist, currency)


        visibility

        string

        Visibility setting (e.g., default)


        type

        string

        Parent resource type — always "Collection"


        list_options

        array

        Available options for list/picklist fields


        created_at

        string (ISO 8601)

        Timestamp when the field was created


        updated_at

        string (ISO 8601)

        Timestamp when the field was last updated'
      tags:
      - Collections
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code
            was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                collections:
                  summary: Collections
                  value:
                    data:
                    - id: '6'
                      type: collection
                      attributes:
                        name: Test
                        custom_fields:
                        - id: '306'
                          name: MultiTest
                          field_type: multi_picklist
                          visibility: default
                          type: Collection
                          list_options:
                          - id: '56'
                            name: One
                          - id: '57'
                            name: Two
                          - id: '58'
                            name: Three
                          created_at: '2026-05-27T15:09:15.359-07:00'
                          updated_at: '2026-05-27T15:09:15.359-07:00'
                        created_at: '2026-05-27T15:09:15.354-07:00'
                        updated_at: '2026-05-27T15:09:15.354-07:00'
                    - id: '5'
                      type: collection
                      attributes:
                        name: Bank Accounts
                        custom_fields:
                        - id: '305'
                          name: Type
                          field_type: list
                          visibility: default
                          type: Collection
                          list_options:
                          - id: '54'
                            name: Checking
                          - id: '55'
                            name: Savings
                          created_at: '2026-05-27T14:52:05.096-07:00'
                          updated_at: '2026-05-27T14:52:05.096-07:00'
                        - id: '304'
                          name: Balance
                          field_type: currency
                          visibility: default
                          type: Collection
                          created_at: '2026-05-27T14:52:05.090-07:00'
                          updated_at: '2026-05-27T14:52:05.090-07:00'
                        - id: '303'
                          name: Name
                          field_type: text
                          visibility: default
                          type: Collection
                          created_at: '2026-05-27T14:52:05.057-07:00'
                          updated_at: '2026-05-27T14:52:05.057-07:00'
                        created_at: '2026-05-27T14:52:05.019-07:00'
                        updated_at: '2026-05-27T14:52:05.019-07:00'
                    - id: '2'
                      type: collection
                      attributes:
                        name: Albums
                        custom_fields:
                        - id: '299'
                          name: Artist Name
                          field_type: text
                          visibility: default
                          type: Collection
                          created_at: '2026-05-26T16:10:41.056-07:00'
                          updated_at: '2026-05-26T16:10:41.056-07:00'
                        - id: '298'
                          name: Name
                          field_type: text
                          visibility: default
                          type: Collection
                          created_at: '2026-05-26T16:09:11.640-07:00'
                          updated_at: '2026-05-26T16:11:14.439-07:00'
                        created_at: '2026-05-26T16:09:11.630-07:00'
                        updated_at: '2026-05-26T16:09:11.630-07:00'
                    - id: '1'
                      type: collection
                      attributes:
                        name: Movies
                        custom_fields:
                        - id: '295'
                          name: Name
                          field_type: string
                          visibility: default
                          type: Collection
                          created_at: '2026-05-26T13:09:49.162-07:00'
                          updated_at: '2026-05-26T13:09:49.162-07:00'
                        - id: '296'
                          name: Director
                          field_type: string
                          visibility: default
                          type: Collection
                          created_at: '2026-05-26T13:09:49.168-07:00'
                          updated_at: '2026-05-26T13:09:49.168-07:00'
                        - id: '297'
                          name: Genre
                          field_type: list
                          visibility: default
                          type: Collection
                          list_options:
                          - id: '49'
                            name: Horror
                          - id: '50'
                            name: Romance
                          - id: '51'
                            name: Action
                          - id: '52'
                            name: Comedy
                          - id: '53'
                            name: Drama
                          created_at: '2026-05-26T13:09:49.192-07:00'
                          updated_at: '2026-05-26T13:09:49.192-07:00'
                        created_at: '2026-05-26T13:09:49.160-07:00'
                        updated_at: '2026-05-26T13:09:49.160-07:00'
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 4
                    links:
                      self: /v1/collections?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    post:
      operationId: createCollection
      summary: Create Collection
      description: 'Creates a new Collection in Lawmatics. Collections are used to group and organize
        records (such as contacts or matters) with custom fields tailored to your needs.


        Request Body

        The request body must be a JSON object with the following fields:


        Field

        Type

        Required

        Description


        name

        string

        Yes

        The name of the collection to create.


        custom_fields

        array

        No

        An array of custom field definitions to attach to the collection.


        Custom Field Object

        Each object in the custom_fields array supports the following properties:


        Field

        Type

        Required

        Description


        name

        string

        Yes

        The display name of the custom field.


        field_type

        string

        Yes

        The type of the field. Supported values: integer, boolean, string, text, currency, date, time,
        datetime, list, lookup, multi_picklist


        list_options

        array

        Only for list and multi_picklist types

        An array of option objects, each with a name property, defining the selectable values for a list
        field.


        Response

        Returns 201 Created on success with a JSON object containing the created collection''s data under
        the data key.


        Response Body


        Field

        Type

        Description


        data.id

        string

        The unique ID of the newly created collection.


        data.type

        string

        The resource type (collection).


        data.attributes.name

        string

        The name of the collection.


        data.attributes.custom_fields

        array

        The list of custom fields created for this collection, each including id, name, field_type, visibility,
        created_at, and updated_at.


        data.attributes.created_at

        string

        ISO 8601 timestamp of when the collection was created.


        data.attributes.updated_at

        string

        ISO 8601 timestamp of when the collection was last updated.'
      tags:
      - Collections
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: Bank Accounts
              custom_fields:
              - name: Name
                field_type: text
              - name: Balance
                field_type: currency
              - name: Type
                field_type: list
                list_options:
                - name: Checking
                - name: Savings
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code
            was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                createCollection:
                  summary: Create Collection
                  value:
                    data:
                      id: '7'
                      type: collection
                      attributes:
                        name: Bank Accounts
                        custom_fields:
                        - id: '307'
                          name: Name
                          field_type: text
                          visibility: default
                          type: Collection
                          created_at: '2026-05-28T11:10:33.113-07:00'
                          updated_at: '2026-05-28T11:10:33.113-07:00'
                        - id: '308'
                          name: Balance
                          field_type: currency
                          visibility: default
                          type: Collection
                          created_at: '2026-05-28T11:10:33.236-07:00'
                          updated_at: '2026-05-28T11:10:33.236-07:00'
                        - id: '309'
                          name: Type
                          field_type: list
                          visibility: default
                          type: Collection
                          list_options:
                          - id: '59'
                            name: Checking
                          - id: '60'
                            name: Savings
                          created_at: '2026-05-28T11:10:33.249-07:00'
                          updated_at: '2026-05-28T11:10:33.249-07:00'
                        created_at: '2026-05-28T11:10:33.109-07:00'
                        updated_at: '2026-05-28T11:10:33.109-07:00'
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/collections/{collection_id}:
    get:
      operationId: getCollection
      summary: Collection
      description: 'Retrieves a single Collection by its ID.


        Path Variables


        Variable

        Description


        collection_id

        The unique identifier of the collection to retrieve.


        Response

        Returns a data object representing the collection with the following attributes:


        Field

        Type

        Description


        id

        string

        Unique identifier of the collection.


        type

        string

        Resource type ("collection").


        attributes.name

        string

        Name of the collection.


        attributes.custom_fields

        array

        List of custom fields defined for the collection.


        attributes.created_at

        string

        ISO 8601 timestamp of when the collection was created.


        attributes.updated_at

        string

        ISO 8601 timestamp of when the collection was last updated.


        Custom Field Object


        Field

        Type

        Description


        id

        string

        Unique identifier of the custom field.


        name

        string

        Display name of the custom field.


        field_type

        string

        Data type of the field (e.g., text, currency, list).


        visibility

        string

        Visibility setting of the field.


        type

        string

        Resource type ("Collection").


        list_options

        array

        Available options for list type fields.


        created_at

        string

        ISO 8601 timestamp of when the field was created.


        updated_at

        string

        ISO 8601 timestamp of when the field was last updated.'
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        required: true
        description: The collection id
        schema:
          type: string
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code
            was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                collection:
                  summary: Collection
                  value:
                    data:
                      id: '5'
                      type: collection
                      attributes:
                        name: Bank Accounts
                        custom_fields:
                        - id: '305'
                          name: Type
                          field_type: list
                          visibility: default
                          type: Collection
                          list_options:
                          - id: '54'
                            name: Checking
                          - id: '55'
                            name: Savings
                          created_at: '2026-05-27T14:52:05.096-07:00'
                          updated_at: '2026-05-27T14:52:05.096-07:00'
                        - id: '304'
                          name: Balance
                          field_type: currency
                          visibility: default
                          type: Collection
                          created_at: '2026-05-27T14:52:05.090-07:00'
                          updated_at: '2026-05-27T14:52:05.090-07:00'
                        - id: '303'
                          name: Name
                          field_type: text
                          visibility: default
                          type: Collection
                          created_at: '2026-05-27T14:52:05.057-07:00'
                          updated_at: '2026-05-27T14:52:05.057-07:00'
                        created_at: '2026-05-27T14:52:05.019-07:00'
                        updated_at: '2026-05-27T14:52:05.019-07:00'
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    put:
      operationId: updateCollection
      summary: Update Collection
      description: 'Updates an existing collection by its ID. This endpoint allows you to modify the collection''s
        associated custom fields.


        URL Parameters


        Parameter

        Type

        Description


        id

        integer

        The unique identifier of the collection to update. Provided as a path segment (e.g., 2 in /v1/collections/2).


        Request Body

        Send a JSON object with the following fields:


        Field

        Type

        Required

        Description


        custom_fields

        array of objects

        Yes

        List of custom fields to associate with the collection.


        custom_fields Object Properties


        Property

        Type

        Description


        id

        string

        The unique identifier of the custom field (e.g., "298").


        field_type

        string

        The type of the custom field (e.g., "text").'
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        required: true
        description: The collection id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              custom_fields:
              - id: '{{collection_custom_field_id}}'
                name: Account Balance
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code
            was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                updateCollection:
                  summary: Update Collection
                  value:
                    data:
                      id: '7'
                      type: collection
                      attributes:
                        name: Bank Accounts
                        custom_fields:
                        - id: '309'
                          name: Type
                          field_type: list
                          visibility: default
                          type: Collection
                          list_options:
                          - id: '59'
                            name: Checking
                          - id: '60'
                            name: Savings
                          created_at: '2026-05-28T11:10:33.249-07:00'
                          updated_at: '2026-05-28T11:10:33.249-07:00'
                        - id: '308'
                          name: Account Balance
                          field_type: currency
                          visibility: default
                          type: Collection
                          created_at: '2026-05-28T11:10:33.236-07:00'
                          updated_at: '2026-05-28T11:12:08.285-07:00'
                        - id: '307'
                          name: Name
                          field_type: text
                          visibility: default
                          type: Collection
                          created_at: '2026-05-28T11:10:33.113-07:00'
                          updated_at: '2026-05-28T11:10:33.113-07:00'
                        created_at: '2026-05-28T11:10:33.109-07:00'
                        updated_at: '2026-05-28T11:10:33.109-07:00'
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    delete:
      operationId: deleteCollection
      summary: Delete Collection
      description: 'Deletes an existing collection by its ID.


        Path Variables


        Variable

        Description


        collection_id

        The unique identifier of the collection to delete.


        Response

        Returns a 200 OK with the deleted collection''s data on success, including:


        - id – The collection''s unique identifier.


        - type – Resource type (collection).


        - attributes – Collection attributes:


        - name – Name of the collection.


        - custom_fields – Array of custom fields associated with the collection.


        - created_at – Timestamp when the collection was created.


        - updated_at – Timestamp when the collection was last updated.'
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        required: true
        description: The collection id
        schema:
          type: string
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code
            was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                deleteCollection:
                  summary: Delete Collection
                  value:
                    data:
                      id: '5'
                      type: collection
                      attributes:
                        name: Bank Accounts
                        custom_fields: []
                        created_at: '2026-05-27T14:52:05.019-07:00'
                        updated_at: '2026-05-28T11:10:19.399-07:00'
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/collection_items:
    get:
      operationId: getCollectionItems
      summary: Collection Items
      description: 'Returns a paginated list of all collection items.


        Query Parameters

        Supports standard Lawmatics query parameters for filtering, sorting, pagination, and field selection.


        Response

        Returns a 200 OK with an array of collection item objects under data. Each item includes:


        - id – The collection item''s unique identifier.

        - type – Resource type (collection_item).

        - attributes – Collection item attributes:

        - collection_id – The ID of the parent collection.

        - contactable_type – The type of the associated record (e.g., Prospect, Contact).

        - contactable_id – The ID of the associated record.

        - custom_field_values – Array of custom field values for this item.

        - created_at – Timestamp when the item was created.

        - updated_at – Timestamp when the item was last updated.'
      tags:
      - Collections
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code
            was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                collectionItems:
                  summary: Collection Items
                  value:
                    data:
                    - id: '1'
                      type: collection_item
                      attributes:
                        collection_id: 3
                        contactable_type: Prospect
                        contactable_id: 184
                        custom_field_values:
                        - id: '235'
                          custom_field_id: '302'
                          name: Name
                          field_type: text
                          value: The Matrix
                          formatted_value: The Matrix
                        created_at: '2026-05-29T16:02:51.434-07:00'
                        updated_at: '2026-05-29T16:02:51.482-07:00'
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 1
                    links:
                      self: /v1/collection_items?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    post:
      operationId: createCollectionItem
      summary: Create Collection Item
      description: "Creates a new collection item, associating a contact or matter record with a collection\
        \ and optionally setting custom field values.\n\nRequest Body\n\nField\nType\nRequired\nDescription\n\
        \ncontactable_type\nstring\nYes\nThe type of the associated record. Accepted values: Prospect,\
        \ Contact.\n\ncontactable_id\ninteger\nYes\nThe ID of the associated record.\n\ncollection_id\n\
        integer\nYes\nThe ID of the collection to add the item to.\n\ncustom_field_values\narray\nNo\n\
        Array of custom field value objects to set on the item.\n\ncustom_field_values Object\n\nField\n\
        Type\nDescription\n\nid\ninteger\nThe ID of the custom field.\n\nvalue\nstring\nThe value to set\
        \ for the custom field.\n\nExample Request Body\n{\n    \"contactable_type\": \"Prospect\",\n\
        \    \"contactable_id\": 185,\n    \"collection_id\": 1,\n    \"custom_field_values\": [\n   \
        \     {\n            \"id\": 295,\n            \"value\": \"The Matrix\"\n        },\n       \
        \ {\n            \"id\": 296,\n            \"value\": \"1999-03-31\"\n        }\n    ]\n}\n\n\
        Response\nReturns a 201 Created with the newly created collection item object under data."
      tags:
      - Collections
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code
            was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                createCollectionItem:
                  summary: Create Collection Item
                  value:
                    data:
                      id: '4'
                      type: collection_item
                      attributes:
                        collection_id: 1
                        contactable_type: Prospect
                        contactable_id: 185
                        custom_field_values:
                        - id: '240'
                          custom_field_id: '295'
                          name: Name
                          field_type: string
                          value: The Matrix
                          formatted_value: The Matrix
                        - id: '241'
                          custom_field_id: '296'
                          name: Director
                          field_type: string
                          value: '1999-03-31'
                          formatted_value: '1999-03-31'
                        created_at: '2026-05-28T11:07:47.114-07:00'
                        updated_at: '2026-05-28T11:07:47.172-07:00'
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/collection_items/{collection_item_id}:
    get:
      operationId: getCollectionItem
      summary: Collection Item
      description: 'Returns a single collection item by its ID.


        Path Variables


        Variable

        Description


        collection_item_id

        The unique identifier of the collection item to retrieve.


        Response

        Returns a 200 OK with the collection item object under data, including:


        - id – The collection item''s unique identifier.

        - type – Resource type (collection_item).

        - attributes – Collection item attributes:

        - collection_id – The ID of the parent collection.

        - contactable_type – The type of the associated record (e.g., Prospect, Contact).

        - contactable_id – The ID of the associated record.

        - custom_field_values – Array of custom field values for this item.

        - created_at – Timestamp when the item was created.

        - updated_at – Timestamp when the item was last updated.'
      tags:
      - Collections
      parameters:
      - name: collection_item_id
        in: path
        required: true
        description: The collection item id
        schema:
          type: string
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code
            was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                collectionItem:
                  summary: Collection Item
                  value:
                    data:
                      id: '1'
                      type: collection_item
                      attributes:
                        collection_id: 3
                        contactable_type: Prospect
                        contactable_id: 184
                        custom_field_values:
                        - id: '235'
                          custom_field_id: '302'
                          name: Name
                          field_type: text
                          value: The Matrix
                          formatted_value: The Matrix
                        created_at: '2026-05-29T16:02:51.434-07:00'
                        updated_at: '2026-05-29T16:02:51.482-07:00'
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    put:
      operationId: updateCollectionItem
      summary: Update Collection Item
      description: 'Updates an existing collection item''s custom field values.


        Path Variables


        Variable

        Description


        collection_item_id

        The unique identifier of the collection item to update.


        Request Body


        Field

        Type

        Required

        Description


        custom_field_values

        array

        Yes

        Array of custom field value objects to update on the item.


        custom_field_values Object


        Field

        Type

        Description


        id

        string

        The ID of the custom field.


        name

        string

        The name of the custom field.


        value

        string

        The new value to set for the custom field.


        Response

        Returns a 200 OK with the updated collection item object under data.'
      tags:
      - Collections
      parameters:
      - name: collection_item_id
        in: path
        required: true
        description: The collection item id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              custom_field_values:
              - id: '{{custom_field_id}}'
                value: Wachowski Sisters
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code
            was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                updateCollectionItem:
                  summary: Update Collection Item
                  value:
                    data:
                      id: '3'
                      type: collection_item
                      attributes:
                        collection_id: 1
                        contactable_type: Prospect
                        contactable_id: 185
                        custom_field_values:
                        - id: '238'
                          custom_field_id: '295'
                          name: Name
                          field_type: string
                          value: The Matrix
                          formatted_value: The Matrix
                        - id: '239'
                          custom_field_id: '296'
                          name: Director
                          field_type: string
                          value: Wachowski Sisters
                          formatted_value: Wachowski Sisters
                        created_at: '2026-05-26T16:33:22.565-07:00'
                        updated_at: '2026-05-26T16:39:00.126-07:00'
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    delete:
      operationId: deleteCollectionItem
      summary: Delete Collection Item
      description: 'Deletes an existing collection item by its ID.


        Path Variables


        Variable

        Description


        collection_item_id

        The unique identifier of the collection item to delete.


        Response

        Returns a 200 OK with the deleted collection item''s data on success, including:


        - id – The collection item''s unique identifier.

        - type – Resource type (collection_item).

        - attributes – Collection item attributes:

        - collection_id – The ID of the parent collection.

        - contactable_type – The type of the associated record.

        - contactable_id – The ID of the associated record.

        - custom_field_values – Array of custom field values associated with the item.

        - created_at – Timestamp when the item was created.

        - updated_at – Timestamp when the item was last updated.'
      tags:
      - Collections
      parameters:
      - name: collection_item_id
        in: path
        required: true
        description: The collection item id
        schema:
          type: string
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code
            was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                deleteCollectionItem:
                  summary: Delete Collection Item
                  value:
                    data:
                      id: '3'
                      type: collection_item
                      attributes:
                        collection_id: 1
                        contactable_type: Prospect
                        contactable_id: 185
                        custom_field_values: []
                        created_at: '2026-05-26T16:33:22.565-07:00'
                        updated_at: '2026-05-28T11:08:51.118-07:00'
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/contacts/find_by_phone/{phone_number}:
    get:
      operationId: findContactByPhoneNumber
      summary: Find Contact By Phone Number
      description: Fuzzy find a specific Contact by Phone Number.
      tags:
      - Contacts
      parameters:
      - name: phone_number
        in: path
        required: true
        description: The phone number
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getFindContactByPhoneNumber:
                  summary: GET Find Contact By Phone Number
                  value:
                    data:
                      id: '31556'
                      type: contact
                      attributes:
                        first_name: test
                        last_name: test
                        email: test@nice.com
                        phone: 123-123-1234
                        created_at: '2018-09-06T19:17:17.786-07:00'
                        updated_at: '2018-09-10T16:31:58.836-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/contacts/find_by_email/{email_address}:
    get:
      operationId: findContactByEmailAddress
      summary: Find Contact By Email Address
      description: Fuzzy find a specific Contact by Email Address.
      tags:
      - Contacts
      parameters:
      - name: email_address
        in: path
        required: true
        description: The email address
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getFindContactByEmailAddress:
                  summary: GET Find Contact By Email Address
                  value:
                    data:
                      id: '225'
                      type: contact
                      attributes:
                        first_name: Existing
                        last_name: Contact
                        email: roey@lawmatics.com
                        phone: 520-730-1042
                        created_at: '2018-07-17T10:32:50.009-07:00'
                        updated_at: '2019-03-28T20:17:41.198-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/contacts/find_by_name/{name}:
    get:
      operationId: findContactByName
      summary: Find Contact By Name
      description: Fuzzy find (case-insensitive) a specific Contact by their Name. You can pass either
        '{first_name} {last_name}' or simply '{first_name}'
      tags:
      - Contacts
      parameters:
      - name: name
        in: path
        required: true
        description: The name
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getFindContactByName:
                  summary: GET Find Contact By Name
                  value:
                    data:
                      id: '76746'
                      type: contact
                      attributes:
                        first_name: Roey
                        last_name: Chasman
                        email: null
                        phone: null
                        created_at: '2019-02-04T12:38:11.574-08:00'
                        updated_at: '2019-02-04T12:38:11.574-08:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/custom_contact_types/{custom_contact_type_id}:
    get:
      operationId: getCustomContactType
      summary: Custom Contact Type
      description: A specific Custom Contact Type by ID
      tags:
      - Contacts
      parameters:
      - name: custom_contact_type_id
        in: path
        required: true
        description: The custom contact type id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getCustomContactType:
                  summary: GET Custom Contact Type
                  value:
                    data:
                      id: '15'
                      type: custom_contact_type
                      attributes:
                        name: Judge
                        created_at: '2023-09-21T15:52:24.996-07:00'
                        updated_at: '2023-09-21T15:52:24.996-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    delete:
      operationId: deleteCustomContactType
      summary: Delete Custom Contact Type
      description: 'Delete an existing Custom Contact Type by ID.


        Warning: This is irreversible!'
      tags:
      - Contacts
      parameters:
      - name: custom_contact_type_id
        in: path
        required: true
        description: The custom contact type id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                deleteDeleteCustomContactType:
                  summary: DELETE Delete Custom Contact Type
                  value:
                    data:
                      id: '15'
                      type: custom_contact_type
                      attributes:
                        name: Pudge
                        created_at: '2023-09-21T15:49:44.773-07:00'
                        updated_at: '2023-09-21T15:52:02.257-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/custom_contact_types:
    get:
      operationId: getCustomContactTypes
      summary: Custom Contact Types
      description: A paginated list of all Custom Contact Type in Lawmatics
      tags:
      - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getCustomContactTypes:
                  summary: GET Custom Contact Types
                  value:
                    data:
                    - id: '15'
                      type: custom_contact_type
                      attributes:
                        name: Judge
                        created_at: '2023-09-21T15:31:26.656-07:00'
                        updated_at: '2023-09-21T15:31:26.656-07:00'
                      relationships: {}
                    - id: '12'
                      type: custom_contact_type
                      attributes:
                        name: test2
                        created_at: '2023-09-21T11:00:26.002-07:00'
                        updated_at: '2023-09-21T11:00:26.002-07:00'
                      relationships: {}
                    - id: '10'
                      type: custom_contact_type
                      attributes:
                        name: test
                        created_at: '2023-09-05T10:50:34.586-07:00'
                        updated_at: '2023-09-21T11:00:04.446-07:00'
                      relationships: {}
                    - id: '7'
                      type: custom_contact_type
                      attributes:
                        name: Cool Person
                        created_at: '2023-08-10T21:13:53.027-07:00'
                        updated_at: '2023-08-10T21:13:53.027-07:00'
                      relationships: {}
                    - id: '2'
                      type: custom_contact_type
                      attributes:
                        name: Client
                        created_at: '2023-07-21T14:56:35.146-07:00'
                        updated_at: '2023-07-21T14:56:35.146-07:00'
                      relationships: {}
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 5
                    links:
                      self: /v1/custom_contact_types?page=1
                getFilteredCustomContactTypes:
                  summary: GET Filtered Custom Contact Types
                  value:
                    data:
                    - id: '15'
                      type: custom_contact_type
                      attributes:
                        name: Judge
                        created_at: '2023-09-21T15:31:26.656-07:00'
                        updated_at: '2023-09-21T15:31:26.656-07:00'
                      relationships: {}
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 1
                    links:
                      self: /v1/custom_contact_types?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    post:
      operationId: createCustomContactType
      summary: Create Custom Contact Type
      description: Create a new Custom Contact Type
      tags:
      - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: Judge-6f3bc6c0-98c7-4473-be46-62976e472353
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              examples:
                postCreateCustomContactType:
                  summary: POST Create Custom Contact Type
                  value:
                    data:
                      id: '15'
                      type: custom_contact_type
                      attributes:
                        name: Judge
                        created_at: '2023-09-21T15:49:44.773-07:00'
                        updated_at: '2023-09-21T15:49:44.773-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/custom_contact_types/{contact_id}:
    put:
      operationId: updateCustomContactType
      summary: Update Custom Contact Type
      description: Update an existing Custom Contact Type by ID.
      tags:
      - Contacts
      parameters:
      - name: contact_id
        in: path
        required: true
        description: The contact id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: Pudge
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                putPATCHUpdateCustomContactType:
                  summary: PUT/PATCH Update Custom Contact Type
                  value:
                    data:
                      id: '15'
                      type: custom_contact_type
                      attributes:
                        name: Pudge
                        created_at: '2023-09-21T11:00:26.002-07:00'
                        updated_at: '2023-09-21T15:43:39.161-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/contacts/{contact_id}:
    get:
      operationId: getContact
      summary: Contact
      description: A specific Contact by id
      tags:
      - Contacts
      parameters:
      - name: contact_id
        in: path
        required: true
        description: The contact id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getContact:
                  summary: GET Contact
                  value:
                    data:
                      id: '25'
                      type: contact
                      attributes:
                        first_name: Gregor
                        last_name: Clegane
                        email: gregor@clegane.com
                        email_address: gregor@clegane.com
                        phone: null
                        phone_number: null
                        birthdate: null
                        name_prefix: null
                        middle_name: null
                        name_suffix: null
                        informal_name: null
                        employer: null
                        occupation: null
                        citizenship: null
                        bio: null
                        title: null
                        hobbies: null
                        social_security: null
                        age: null
                        driver_license: null
                        gender: null
                        marital_status: null
                        timezone: null
                        tracking_source_id: null
                        date_of_last_contact: '2018-03-07T13:38:58.288-08:00'
                        days_since_last_contact: 223
                        photo_url: https://lm.lawmatics.com/attachments/0f060d4bbd3d8a2488c3f0b3352ce3ec0c9b6f3c/store/a49240eaa2d0bb7355b82b010b07a2c8f72c4d514b70616198d522266d48/photo
                        custom_fields: []
                        contact_type: PNC
                        created_at: '2018-03-07T13:38:58.288-08:00'
                        updated_at: '2018-03-13T08:09:50.696-07:00'
                      relationships:
                        prospects:
                          data:
                          - id: '21'
                            type: prospect
                        created_by:
                          data:
                            id: '15'
                            type: user
                        client:
                          data: null
                        company:
                          data: null
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    put:
      operationId: updateContact
      summary: Update Contact
      description: 'Update an existing Contact by ID.


        Passing Custom Field id and value, will set the custom field value on the Contact, and overwrite
        any existing value. Passing null as the value will clear it out.'
      tags:
      - Contacts
      parameters:
      - name: contact_id
        in: path
        required: true
        description: The contact id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              first_name: Lawmatics
              last_name: ExampleChanged
              email: roey+changed@lawmatics.com
              phone: 555-555-5555
              notes:
              - name: Cool Note
                body: This is a long form sweet new note
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                putPATCHUpdateContact:
                  summary: PUT/PATCH Update Contact
                  value:
                    data:
                      id: '161260'
                      type: contact
                      attributes:
                        first_name: Lawmatics
                        last_name: ExampleChanged
                        email: roey+changed@lawmatics.com
                        custom_fields:
                        - id: 4788
                          name: text
                          field_type: string
                          value: Changed String
                          formatted_value: Changed String
                        - id: 4788
                          name: text
                          field_type: string
                          value: Changed String
                          formatted_value: Changed String
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    delete:
      operationId: deleteContact
      summary: Delete Contact
      description: 'Delete an existing Contact by ID.


        Warning: This is irreversible!'
      tags:
      - Contacts
      parameters:
      - name: contact_id
        in: path
        required: true
        description: The contact id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                deleteDeleteContact:
                  summary: DELETE Delete Contact
                  value:
                    data:
                      id: '161260'
                      type: contact
                      attributes:
                        first_name: Lawmatics
                        last_name: ExampleChanged
                        email: null
                        phone: null
                        created_at: '2021-08-27T15:36:02.920-07:00'
                        updated_at: '2021-08-27T15:40:57.045-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header
            is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/contacts:
    get:
      operationId: getContacts
      summary: Contacts
      description: A paginated list of all Contacts in Lawmatics
      tags:
      - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getContacts:
                  summary: GET Contacts
                  value:
                    data:
                    - id: '136'
                      type: contact
                      attributes:
                        first_name: Linda
                        last_name: Baker
                        email: Linda35@gmail.com
                        created_at: '2018-03-20T15:12:57.664-07:00'
                        updated_at: '2018-07-16T15:12:57.669-07:00'
                      relationships: {}
                    - id: '135'
                      type: contact
                      attributes:
                        first_name: James
                        last_name: Lee
                        email: James34@gmail.com
                        created_at: '2018-04-18T15:12:57.598-07:00'
                        updated_at: '2018-07-16T15:12:57.605-07:00'
                      relationships: {}
                    - id: '134'
                      type: contact
                      attributes:
                        first_name: Barbara
                        last_name: Martiniez
                        email: Barbara33@gmail.com
                        created_at: '2018-06-21T15:12:57.524-07:00'
[...]
