openapi: 3.2.0
info:
  title: Lawmatics OAuth Timeline Activities API
  version: 1.22.0
  description: 'The official Lawmatics REST API for legal CRM, client intake and law firm automation. Manage matters (prospects), contacts, companies, custom forms and form entries, custom fields, events and appointments, tasks, notes, files, tags, users, time entries, expenses, invoices and transactions.


    Authentication is OAuth 2.0 authorization code grant; access tokens do not expire, there are no refresh tokens, and Lawmatics does not currently support scopes - an authorized app receives full CRUD access to the granted account.


    All list endpoints support the shared query-parameter grammar documented in the Param Guide: `fields` (field selection, one level deep, `fields=all` to expand), `page` (pagination), `sort_by`/`sort_order`, and `filter_by`/`filter_on`/`filter_with` (one filter at a time; operators `=`, `!=`, `<=`, `<`, `>=`, `>`, `like`, `ilike`, `null`, `not_null`).


    Responses follow a JSON:API-style `data` / `attributes` / `relationships` envelope.'
  contact:
    name: Lawmatics API Support
    email: api@lawmatics.com
    url: https://docs.lawmatics.com/
  termsOfService: https://www.lawmatics.com/terms-of-use
servers:
- url: https://api.lawmatics.com
  description: Lawmatics production API
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Timeline Activities
paths:
  /v1/activities/{activity_id}:
    get:
      operationId: getActivity
      summary: Activity
      description: A specific Activity in Lawmatics
      tags:
      - Timeline Activities
      parameters:
      - name: activity_id
        in: path
        required: true
        description: The activity id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getActivity:
                  summary: GET Activity
                  value:
                    data:
                      id: '101'
                      type: timeline_activity
                      attributes:
                        key: prospect.update
                        type: TimelineActivity::Prospect
                        detail_keys:
                        - emails:
                          - id: 187
                            info:
                            - richard93@example.com
                            - ricardo+1@lawmatics.com
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: user
                        tracked:
                          data:
                            id: '94'
                            type: prospect
                        recipient:
                          data:
                            id: '94'
                            type: prospect
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/activities:
    get:
      operationId: getActivities
      summary: Activities
      description: 'A paginated list of Activities in Lawmatics


        Can be filtered by matter_id, contact_id, type, andevent


        as well as all the regular fields as referenced by our Param Guide (most fields returned by?fields=all).'
      tags:
      - Timeline Activities
      parameters:
      - name: filter_by
        in: query
        required: false
        description: matter_id, contact_id, type or event
        schema:
          type: string
        example: matter_id
      - name: filter_on
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                matterActivities:
                  summary: Matter Activities
                  value:
                    data:
                    - id: '1'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Mary Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '1'
                            type: note
                        recipient:
                          data:
                            id: '1'
                            type: prospect
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 1
                    links:
                      self: /v1/timeline_activities?page=1
                contactActivities:
                  summary: Contact Activities
                  value:
                    data:
                    - id: '3'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Michael Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '3'
                            type: note
                        recipient:
                          data:
                            id: '3'
                            type: prospect
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 1
                    links:
                      self: /v1/timeline_activities?page=1
                activitiesByType:
                  summary: Activities By Type
                  value:
                    data:
                    - id: '100'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Lisa Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '100'
                            type: note
                        recipient:
                          data:
                            id: '100'
                            type: prospect
                    - id: '99'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: David Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '99'
                            type: note
                        recipient:
                          data:
                            id: '99'
                            type: prospect
                    - id: '98'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Patricia Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '98'
                            type: note
                        recipient:
                          data:
                            id: '98'
                            type: prospect
                    - id: '97'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Michael Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '97'
                            type: note
                        recipient:
                          data:
                            id: '97'
                            type: prospect
                    - id: '96'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Karen Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '96'
                            type: note
                        recipient:
                          data:
                            id: '96'
                            type: prospect
                    - id: '95'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: James Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '95'
                            type: note
                        recipient:
                          data:
                            id: '95'
                            type: prospect
                    - id: '94'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Richard Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '94'
                            type: note
                        recipient:
                          data:
                            id: '94'
                            type: prospect
                    - id: '93'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Jennifer Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '93'
                            type: note
                        recipient:
                          data:
                            id: '93'
                            type: prospect
                    - id: '92'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: James Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '92'
                            type: note
                        recipient:
                          data:
                            id: '92'
                            type: prospect
                    - id: '91'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Jennifer Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '91'
                            type: note
                        recipient:
                          data:
                            id: '91'
                            type: prospect
                    - id: '90'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Barbara Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '90'
                            type: note
                        recipient:
                          data:
                            id: '90'
                            type: prospect
                    - id: '89'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Jennifer Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '89'
                            type: note
                        recipient:
                          data:
                            id: '89'
                            type: prospect
                    - id: '88'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Maria Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '88'
                            type: note
                        recipient:
                          data:
                            id: '88'
                            type: prospect
                    - id: '87'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Karen Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '87'
                            type: note
                        recipient:
                          data:
                            id: '87'
                            type: prospect
                    - id: '86'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: William Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '86'
                            type: note
                        recipient:
                          data:
                            id: '86'
                            type: prospect
                    - id: '85'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Jennifer Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '85'
                            type: note
                        recipient:
                          data:
                            id: '85'
                            type: prospect
                    - id: '84'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Susan Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '84'
                            type: note
                        recipient:
                          data:
                            id: '84'
                            type: prospect
                    - id: '83'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: William Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '83'
                            type: note
                        recipient:
                          data:
                            id: '83'
                            type: prospect
                    - id: '82'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Michael Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '82'
                            type: note
                        recipient:
                          data:
                            id: '82'
                            type: prospect
                    - id: '81'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Charles Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '81'
                            type: note
                        recipient:
                          data:
                            id: '81'
                            type: prospect
                    - id: '80'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Michael Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '80'
                            type: note
                        recipient:
                          data:
                            id: '80'
                            type: prospect
                    - id: '79'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Joseph Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '79'
                            type: note
                        recipient:
                          data:
                            id: '79'
                            type: prospect
                    - id: '78'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Barbara Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '78'
                            type: note
                        recipient:
                          data:
                            id: '78'
                            type: prospect
                    - id: '77'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: William Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '77'
                            type: note
                        recipient:
                          data:
                            id: '77'
                            type: prospect
                    - id: '76'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Susan Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '76'
                            type: note
                        recipient:
                          data:
                            id: '76'
                            type: prospect
                    meta:
                      total_pages: 4
                      limit_per_page: 25
                      total_entries: 100
                    links:
                      self: /v1/timeline_activities?page=1
                      next: /v1/timeline_activities?page=2
                activitiesByEvent:
                  summary: Activities By Event
                  value:
                    data:
                    - id: '100'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Lisa Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '100'
                            type: note
                        recipient:
                          data:
                            id: '100'
                            type: prospect
                    - id: '99'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: David Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '99'
                            type: note
                        recipient:
                          data:
                            id: '99'
                            type: prospect
                    - id: '98'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Patricia Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '98'
                            type: note
                        recipient:
                          data:
                            id: '98'
                            type: prospect
                    - id: '97'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Michael Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '97'
                            type: note
                        recipient:
                          data:
                            id: '97'
                            type: prospect
                    - id: '96'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Karen Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '96'
                            type: note
                        recipient:
                          data:
                            id: '96'
                            type: prospect
                    - id: '95'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: James Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '95'
                            type: note
                        recipient:
                          data:
                            id: '95'
                            type: prospect
                    - id: '94'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Richard Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '94'
                            type: note
                        recipient:
                          data:
                            id: '94'
                            type: prospect
                    - id: '93'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Jennifer Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '93'
                            type: note
                        recipient:
                          data:
                            id: '93'
                            type: prospect
                    - id: '92'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: James Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '92'
                            type: note
                        recipient:
                          data:
                            id: '92'
                            type: prospect
                    - id: '91'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Jennifer Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '91'
                            type: note
                        recipient:
                          data:
                            id: '91'
                            type: prospect
                    - id: '90'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Barbara Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '90'
                            type: note
                        recipient:
                          data:
                            id: '90'
                            type: prospect
                    - id: '89'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Jennifer Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '89'
                            type: note
                        recipient:
                          data:
                            id: '89'
                            type: prospect
                    - id: '88'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Maria Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '88'
                            type: note
                        recipient:
                          data:
                            id: '88'
                            type: prospect
                    - id: '87'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Karen Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '87'
                            type: note
                        recipient:
                          data:
                            id: '87'
                            type: prospect
                    - id: '86'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: William Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '86'
                            type: note
                        recipient:
                          data:
                            id: '86'
                            type: prospect
                    - id: '85'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Jennifer Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '85'
                            type: note
                        recipient:
                          data:
                            id: '85'
                            type: prospect
                    - id: '84'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Susan Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '84'
                            type: note
                        recipient:
                          data:
                            id: '84'
                            type: prospect
                    - id: '83'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: William Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '83'
                            type: note
                        recipient:
                          data:
                            id: '83'
                            type: prospect
                    - id: '82'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Michael Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '82'
                            type: note
                        recipient:
                          data:
                            id: '82'
                            type: prospect
                    - id: '81'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Charles Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '81'
                            type: note
                        recipient:
                          data:
                            id: '81'
                            type: prospect
                    - id: '80'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Michael Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '80'
                            type: note
                        recipient:
                          data:
                            id: '80'
                            type: prospect
                    - id: '79'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Joseph Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '79'
                            type: note
                        recipient:
                          data:
                            id: '79'
                            type: prospect
                    - id: '78'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Barbara Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '78'
                            type: note
                        recipient:
                          data:
                            id: '78'
                            type: prospect
                    - id: '77'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: William Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '77'
                            type: note
                        recipient:
                          data:
                            id: '77'
                            type: prospect
                    - id: '76'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          name: Susan Note
                        parent_id: null
                      relationships:
                        owner:
                          data:
                            id: '2'
                            type: firm
                        tracked:
                          data:
                            id: '76'
                            type: note
                        recipient:
                          data:
                            id: '76'
                            type: prospect
                    meta:
                      total_pages: 4
                      limit_per_page: 25
                      total_entries: 100
                    links:
                      self: /v1/timeline_activities?page=1
                      next: /v1/timeline_activities?page=2
                activitiesAfterADate:
                  summary: Activities After a Date
                  value:
                    data:
                    - id: '683'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          name: Example Note
                        created_at: '2022-07-25T12:34:17.177-07:00'
                        updated_at: '2022-07-25T12:34:17.177-07:00'
                      relationships:
                        owner:
                          data:
                            id: '1'
                            type: application
                        tracked:
                          data:
                            id: '180'
                            type: note
                        recipient:
                          data:
                            id: '220'
                            type: contact
                    - id: '682'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          name: Example Note
                        created_at: '2022-07-25T12:34:10.224-07:00'
                        updated_at: '2022-07-25T12:34:10.224-07:00'
                      relationships:
                        owner:
                          data:
                            id: '1'
                            type: application
                        tracked:
                          data:
                            id: '179'
                            type: note
                        recipient:
                          data:
                            id: '219'
                            type: contact
                    - id: '681'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          name: Example Note
                        created_at: '2022-07-25T12:33:53.903-07:00'
                        updated_at: '2022-07-25T12:33:53.903-07:00'
                      relationships:
                        owner:
                          data:
                            id: '1'
                            type: application
                        tracked:
                          data:
                            id: '178'
                            type: note
                        recipient:
                          data:
                            id: '218'
                            type: contact
                    - id: '680'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          name: Example Note
                        created_at: '2022-07-25T12:31:37.738-07:00'
                        updated_at: '2022-07-25T12:31:37.738-07:00'
                      relationships:
                        owner:
                          data:
                            id: '1'
                            type: application
                        tracked:
                          data:
                            id: '177'
                            type: note
                        recipient:
                          data:
                            id: '217'
                            type: contact
                    - id: '679'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          name: Example Note
                        created_at: '2022-07-25T12:31:32.040-07:00'
                        updated_at: '2022-07-25T12:31:32.040-07:00'
                      relationships:
                        owner:
                          data:
                            id: '1'
                            type: application
                        tracked:
                          data:
                            id: '176'
                            type: note
                        recipient:
                          data:
                            id: '216'
                            type: contact
                    - id: '678'
                      type: timeline_activity
                      attributes:
                        key: task.complete
                        type: task
                        detail_keys:
                          done: true
                          name: Updated Task
                          due_date: '2022-06-25T00:00:00.000-07:00'
                          priority: high
                          description: The updated tag description
                        created_at: '2022-07-25T10:51:13.545-07:00'
                        updated_at: '2022-07-25T10:51:13.545-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data:
                            id: '28'
                            type: task
                        recipient:
                          data:
                            id: '1'
                            type: prospect
                    - id: '677'
                      type: timeline_activity
                      attributes:
                        key: task.create
                        type: task
                        detail_keys:
                          name: New Task
                          due_date: '2022-06-30T00:00:00.000-07:00'
                          description: An important piece of work to be made until it's due date
                        created_at: '2022-07-25T10:51:13.454-07:00'
                        updated_at: '2022-07-25T10:51:13.560-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data:
                            id: '28'
                            type: task
                        recipient:
                          data:
                            id: '1'
                            type: prospect
                    - id: '676'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: An important thing to remember
                          name: New Note
                        created_at: '2022-07-25T10:51:09.092-07:00'
                        updated_at: '2022-07-25T10:51:09.092-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data:
                            id: '175'
                            type: note
                        recipient:
                          data:
                            id: '113'
                            type: prospect
                    - id: '671'
                      type: timeline_activity
                      attributes:
                        key: task.create
                        type: task
                        detail_keys:
                          name: New Task
                          due_date: '2022-06-30T00:00:00.000-07:00'
                          description: An important piece of work to be made until it's due date
                        created_at: '2022-07-25T10:45:02.163-07:00'
                        updated_at: '2022-07-25T10:45:02.163-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data:
                            id: '27'
                            type: task
                        recipient:
                          data:
                            id: '1'
                            type: prospect
                    - id: '670'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: An important thing to remember
                          name: New Note
                        created_at: '2022-07-25T10:42:16.795-07:00'
                        updated_at: '2022-07-25T10:42:16.795-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data:
                            id: '174'
                            type: note
                        recipient:
                          data:
                            id: '113'
                            type: prospect
                    - id: '669'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: An important thing to remember
                          name: New Note
                        created_at: '2022-07-25T10:41:32.986-07:00'
                        updated_at: '2022-07-25T10:41:32.986-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data:
                            id: '173'
                            type: note
                        recipient:
                          data:
                            id: '113'
                            type: prospect
                    - id: '668'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: An important thing to remember
                          name: New Note
                        created_at: '2022-07-25T10:41:17.434-07:00'
                        updated_at: '2022-07-25T10:41:17.434-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data:
                            id: '172'
                            type: note
                        recipient:
                          data:
                            id: '113'
                            type: prospect
                    - id: '667'
                      type: timeline_activity
                      attributes:
                        key: task.complete
                        type: task
                        detail_keys:
                          done: true
                          name: Updated Task
                          due_date: '2022-06-25T00:00:00.000-07:00'
                          priority: high
                          description: The updated tag description
                        created_at: '2022-07-25T10:30:10.867-07:00'
                        updated_at: '2022-07-25T10:30:10.867-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data:
                            id: '26'
                            type: task
                        recipient:
                          data:
                            id: '1'
                            type: prospect
                    - id: '666'
                      type: timeline_activity
                      attributes:
                        key: task.create
                        type: task
                        detail_keys:
                          name: New Task
                          due_date: '2022-06-30T00:00:00.000-07:00'
                          description: An important piece of work to be made until it's due date
                        created_at: '2022-07-25T10:30:10.124-07:00'
                        updated_at: '2022-07-25T10:30:10.913-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data:
                            id: '26'
                            type: task
                        recipient:
                          data:
                            id: '1'
                            type: prospect
                    - id: '665'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: An important thing to remember
                          name: New Note
                        created_at: '2022-07-25T10:30:05.869-07:00'
                        updated_at: '2022-07-25T10:30:05.869-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data:
                            id: '171'
                            type: note
                        recipient:
                          data:
                            id: '113'
                            type: prospect
                    - id: '664'
                      type: timeline_activity
                      attributes:
                        key: event.delete
                        type: event
                        detail_keys: {}
                        created_at: '2022-07-25T10:29:56.258-07:00'
                        updated_at: '2022-07-25T10:29:56.258-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data: null
                        recipient:
                          data:
                            id: '3'
                            type: contact
                    - id: '663'
                      type: timeline_activity
                      attributes:
                        key: task.complete
                        type: task
                        detail_keys:
                          done: true
                          name: Updated Task
                          due_date: '2022-06-25T00:00:00.000-07:00'
                          priority: high
                          description: The updated tag description
                        created_at: '2022-07-25T10:28:11.657-07:00'
                        updated_at: '2022-07-25T10:28:11.657-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data:
                            id: '25'
                            type: task
                        recipient:
                          data:
                            id: '1'
                            type: prospect
                    - id: '662'
                      type: timeline_activity
                      attributes:
                        key: task.create
                        type: task
                        detail_keys:
                          name: New Task
                          due_date: '2022-06-30T00:00:00.000-07:00'
                          description: An important piece of work to be made until it's due date
                        created_at: '2022-07-25T10:28:10.960-07:00'
                        updated_at: '2022-07-25T10:28:11.719-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data:
                            id: '25'
                            type: task
                        recipient:
                          data:
                            id: '1'
                            type: prospect
                    - id: '661'
                      type: timeline_activity
                      attributes:
                        key: note.delete
                        type: note
                        detail_keys: {}
                        created_at: '2022-07-25T10:28:07.111-07:00'
                        updated_at: '2022-07-25T10:28:07.111-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data: null
                        recipient:
                          data:
                            id: '136'
                            type: prospect
                    - id: '660'
                      type: timeline_activity
                      attributes:
                        key: note.update
                        type: note
                        detail_keys: {}
                        created_at: '2022-07-25T10:28:06.674-07:00'
                        updated_at: '2022-07-25T10:28:06.674-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data: null
                        recipient:
                          data:
                            id: '136'
                            type: prospect
                    - id: '659'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: An important thing to remember
                          name: New Note
                        created_at: '2022-07-25T10:28:05.625-07:00'
                        updated_at: '2022-07-25T10:28:05.625-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data:
                            id: '170'
                            type: note
                        recipient:
                          data:
                            id: '113'
                            type: prospect
                    - id: '657'
                      type: timeline_activity
                      attributes:
                        key: event.delete
                        type: event
                        detail_keys: {}
                        created_at: '2022-07-25T10:27:36.564-07:00'
                        updated_at: '2022-07-25T10:27:36.564-07:00'
                      relationships:
                        owner:
                          data:
                            id: '5'
                            type: user
                        tracked:
                          data: null
                        recipient:
                          data:
                            id: '2'
                            type: contact
                    - id: '653'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          name: Example Note
                        created_at: '2022-07-24T17:28:47.160-07:00'
                        updated_at: '2022-07-24T17:28:47.160-07:00'
                      relationships:
                        owner:
                          data:
                            id: '1'
                            type: application
                        tracked:
                          data:
                            id: '169'
                            type: note
                        recipient:
                          data:
                            id: '172'
                            type: prospect
                    - id: '652'
                      type: timeline_activity
                      attributes:
                        key: note.create
                        type: note
                        detail_keys:
                          body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          name: Example Note
                        created_at: '2022-07-24T17:28:19.069-07:00'
                        updated_at: '2022-07-24T17:28:19.069-07:00'
                      relationships:
                        owner:
                          data:
                            id: '1'
                            type: application
                        tracked:
                          data:
                            id: '168'
                            type: note
                        recipient:
                          data:
                            id: '171'
                            type: prospect
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 24
                    links:
                      self: /v1/timeline_activities?page=1
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
              examples:
                invalidParameter:
                  summary: Invalid Parameter
                  value:
                    errors:
                    - status: 422
                      title: Filter By Parameter Not Available
                      detail: When applying filters, a valid 'filter_by' parameter is required.
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant. Register a developer app at https://app.lawmatics.com/settings/developers (developer settings must be enabled by Lawmatics support). Access tokens are non-expiring; no refresh tokens are issued and scopes are not supported.
      flows:
        authorizationCode:
          authorizationUrl: https://app.lawmatics.com/oauth/authorize
          tokenUrl: https://api.lawmatics.com/oauth/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: 'The OAuth 2.0 access token is sent as `Authorization: Bearer <access_token>`.'
externalDocs:
  description: Official Lawmatics RESTful API documentation (Postman)
  url: https://docs.lawmatics.com/
x-provenance:
  generated: '2026-08-13'
  method: derived
  publisher: API Evangelist
  source: https://docs.lawmatics.com/api/collections/26379991/2sA3JM7gbw?segregateAuth=true&versionTag=latest
  source_type: Postman collection published by Lawmatics as its official API documentation
  source_file: postman/lawmatics-oauth-api.postman_collection.json
  note: 'NOT published by Lawmatics. Lawmatics publishes no OpenAPI. Every path, method, parameter, request example and response example in this document was converted mechanically from the provider-published Postman collection "Lawmatics OAuth API v1.22.0"; nothing was invented. Schemas are typed as generic objects because the collection carries examples, not JSON Schema. The server URL is the base documented in the collection Param Guide (https://api.lawmatics.com), not the collection''s disabled {{host}} placeholder. The 401 and 429 responses added to every authenticated operation are the provider-documented, globally applicable responses: the collection''s auth guide states a per-firm rate limit applies to all endpoints and returns 429 with a Retry-After header, and https://api.lawmatics.com/v1/contacts was observed returning 401 unauthenticated on 2026-08-13.'
