openapi: 3.2.0
info:
  title: Lawmatics OAuth Email Addresses API
  version: 1.22.0
  description: 'The official Lawmatics REST API for legal CRM, client intake and law firm automation. Manage matters (prospects), contacts, companies, custom forms and form entries, custom fields, events and appointments, tasks, notes, files, tags, users, time entries, expenses, invoices and transactions.


    Authentication is OAuth 2.0 authorization code grant; access tokens do not expire, there are no refresh tokens, and Lawmatics does not currently support scopes - an authorized app receives full CRUD access to the granted account.


    All list endpoints support the shared query-parameter grammar documented in the Param Guide: `fields` (field selection, one level deep, `fields=all` to expand), `page` (pagination), `sort_by`/`sort_order`, and `filter_by`/`filter_on`/`filter_with` (one filter at a time; operators `=`, `!=`, `<=`, `<`, `>=`, `>`, `like`, `ilike`, `null`, `not_null`).


    Responses follow a JSON:API-style `data` / `attributes` / `relationships` envelope.'
  contact:
    name: Lawmatics API Support
    email: api@lawmatics.com
    url: https://docs.lawmatics.com/
  termsOfService: https://www.lawmatics.com/terms-of-use
servers:
- url: https://api.lawmatics.com
  description: Lawmatics production API
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Email Addresses
  description: A Email Address is contact information that belongs to a Firm, Contact, or Company.
paths:
  /v1/email_addresses/{email_address_id}:
    get:
      operationId: getEmailAddress
      summary: Email Address
      description: A specific Email Address by id
      tags:
      - Email Addresses
      parameters:
      - name: email_address_id
        in: path
        required: true
        description: The email address id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getEmailAddress:
                  summary: GET Email Address
                  value:
                    data:
                      id: '123'
                      type: email_address
                      attributes:
                        label: Primary
                        info: susan61@gmail.com
                      relationships:
                        informationable:
                          data:
                            id: '62'
                            type: contact
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    put:
      operationId: updateEmailAddress
      summary: Update Email Address
      description: Updates a Email Address by id
      tags:
      - Email Addresses
      parameters:
      - name: email_address_id
        in: path
        required: true
        description: The email address id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                putUpdateEmailAddress:
                  summary: PUT Update Email Address
                  value:
                    data:
                      id: '379'
                      type: email_address
                      attributes:
                        label: New Label
                        info: roey+changed@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '112'
                            type: contact
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    delete:
      operationId: deleteEmailAddress
      summary: Delete Email Address
      description: 'Delete a Email Address by ID


        email_address_id: ID of the Email Address to delete'
      tags:
      - Email Addresses
      parameters:
      - name: email_address_id
        in: path
        required: true
        description: The email address id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                deleteDeleteEmailAddress:
                  summary: DELETE Delete Email Address
                  value:
                    data:
                      id: '379'
                      type: email_address
                      attributes:
                        label: New Label
                        info: roey+changed@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '112'
                            type: contact
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/email_addresses:
    get:
      operationId: getEmailAddresses
      summary: Email Addresses
      description: A paginated list of all Email Addresses in Lawmatics
      tags:
      - Email Addresses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getEmailAddresses:
                  summary: GET Email Addresses
                  value:
                    data:
                    - id: '363'
                      type: email_address
                      attributes:
                        label: Primary
                        info: zoobiedooby213123123@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '193'
                            type: contact
                    - id: '356'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '189'
                            type: contact
                    - id: '304'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '162'
                            type: contact
                    - id: '302'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '161'
                            type: contact
                    - id: '300'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '160'
                            type: contact
                    - id: '298'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '159'
                            type: contact
                    - id: '296'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '158'
                            type: contact
                    - id: '294'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '157'
                            type: contact
                    - id: '292'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '156'
                            type: contact
                    - id: '290'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '155'
                            type: contact
                    - id: '288'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey+changed@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '154'
                            type: contact
                    - id: '286'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '153'
                            type: contact
                    - id: '284'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '152'
                            type: contact
                    - id: '276'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey+changed@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '148'
                            type: contact
                    - id: '274'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '147'
                            type: contact
                    - id: '272'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '146'
                            type: contact
                    - id: '270'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '145'
                            type: contact
                    - id: '268'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '144'
                            type: contact
                    - id: '266'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '143'
                            type: contact
                    - id: '264'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '142'
                            type: contact
                    - id: '260'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '140'
                            type: contact
                    - id: '258'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '139'
                            type: contact
                    - id: '256'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '138'
                            type: contact
                    - id: '254'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '137'
                            type: contact
                    - id: '252'
                      type: email_address
                      attributes:
                        label: Primary
                        info: roey@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '136'
                            type: contact
                    meta:
                      total_pages: 6
                      limit_per_page: 25
                      total_entries: 138
                    links:
                      self: /v1/email_addresses?page=1
                      next: /v1/email_addresses?page=2
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    post:
      operationId: createEmailAddress
      summary: Create Email Address
      description: 'Create a new Email Address


        Required Fields: informationable, label, info


        info: The Email Address string.


        label: The Email Address''s label e.g. Primary.


        informationable_type: Prospect, Contact, Company, or Firm that the Email Address belongs to.


        informationable_id: Id of Record. Firm type doesn''t need an ID passed and it will be ignored.


        Note - Setting the Email Address through a Prospect (Matter) will set it on on the Prospects'' Contact/Company.'
      tags:
      - Email Addresses
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              examples:
                postCreateEmailAddress:
                  summary: POST Create Email Address
                  value:
                    data:
                      id: '378'
                      type: email_address
                      attributes:
                        label: Test
                        info: roey+api@lawmatics.com
                      relationships:
                        informationable:
                          data:
                            id: '112'
                            type: contact
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant. Register a developer app at https://app.lawmatics.com/settings/developers (developer settings must be enabled by Lawmatics support). Access tokens are non-expiring; no refresh tokens are issued and scopes are not supported.
      flows:
        authorizationCode:
          authorizationUrl: https://app.lawmatics.com/oauth/authorize
          tokenUrl: https://api.lawmatics.com/oauth/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: 'The OAuth 2.0 access token is sent as `Authorization: Bearer <access_token>`.'
externalDocs:
  description: Official Lawmatics RESTful API documentation (Postman)
  url: https://docs.lawmatics.com/
x-provenance:
  generated: '2026-08-13'
  method: derived
  publisher: API Evangelist
  source: https://docs.lawmatics.com/api/collections/26379991/2sA3JM7gbw?segregateAuth=true&versionTag=latest
  source_type: Postman collection published by Lawmatics as its official API documentation
  source_file: postman/lawmatics-oauth-api.postman_collection.json
  note: 'NOT published by Lawmatics. Lawmatics publishes no OpenAPI. Every path, method, parameter, request example and response example in this document was converted mechanically from the provider-published Postman collection "Lawmatics OAuth API v1.22.0"; nothing was invented. Schemas are typed as generic objects because the collection carries examples, not JSON Schema. The server URL is the base documented in the collection Param Guide (https://api.lawmatics.com), not the collection''s disabled {{host}} placeholder. The 401 and 429 responses added to every authenticated operation are the provider-documented, globally applicable responses: the collection''s auth guide states a per-firm rate limit applies to all endpoints and returns 429 with a Retry-After header, and https://api.lawmatics.com/v1/contacts was observed returning 401 unauthenticated on 2026-08-13.'
