openapi: 3.2.0
info:
  title: Lawmatics OAuth Task Statuses API
  version: 1.22.0
  description: 'The official Lawmatics REST API for legal CRM, client intake and law firm automation. Manage matters (prospects), contacts, companies, custom forms and form entries, custom fields, events and appointments, tasks, notes, files, tags, users, time entries, expenses, invoices and transactions.


    Authentication is OAuth 2.0 authorization code grant; access tokens do not expire, there are no refresh tokens, and Lawmatics does not currently support scopes - an authorized app receives full CRUD access to the granted account.


    All list endpoints support the shared query-parameter grammar documented in the Param Guide: `fields` (field selection, one level deep, `fields=all` to expand), `page` (pagination), `sort_by`/`sort_order`, and `filter_by`/`filter_on`/`filter_with` (one filter at a time; operators `=`, `!=`, `<=`, `<`, `>=`, `>`, `like`, `ilike`, `null`, `not_null`).


    Responses follow a JSON:API-style `data` / `attributes` / `relationships` envelope.'
  contact:
    name: Lawmatics API Support
    email: api@lawmatics.com
    url: https://docs.lawmatics.com/
  termsOfService: https://www.lawmatics.com/terms-of-use
servers:
- url: https://api.lawmatics.com
  description: Lawmatics production API
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Task Statuses
paths:
  /v1/task_statuses/{task_status_id}:
    get:
      operationId: getTaskStatus
      summary: Task Status
      description: A specific task status in Lawmatics.
      tags:
      - Task Statuses
      parameters:
      - name: task_status_id
        in: path
        required: true
        description: The task status id
        schema:
          type: string
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                getTaskStatus:
                  summary: GET Task Status
                  value:
                    data:
                      id: '3'
                      type: task_status
                      attributes:
                        name: Waiting for Client
                        color: '#A7783B'
                        created_at: '2022-12-27T10:08:45.708-08:00'
                        updated_at: '2022-12-27T10:08:45.708-08:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    put:
      operationId: updateTaskStatus
      summary: Update Task Status
      description: Updates a task status in Lawmatics.
      tags:
      - Task Statuses
      parameters:
      - name: task_status_id
        in: path
        required: true
        description: The task status id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: i am changing task status id 11
              color: '#000000'
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                updateTaskStatus:
                  summary: UPDATE Task Status
                  value:
                    data:
                      id: '11'
                      type: task_status
                      attributes:
                        name: i am changing task status id 11
                        color: '#000000'
                        created_at: '2023-07-03T09:51:58.461-07:00'
                        updated_at: '2023-07-03T10:12:16.345-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    delete:
      operationId: deleteTaskStatus
      summary: Delete Task Status
      description: Deletes a task status in Lawmatics.
      tags:
      - Task Statuses
      parameters:
      - name: task_status_id
        in: path
        required: true
        description: The task status id
        schema:
          type: string
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                deleteTaskStatus:
                  summary: DELETE Task Status
                  value:
                    data:
                      id: '10'
                      type: task_status
                      attributes:
                        name: lmao
                        color: '#000000'
                        created_at: '2023-07-03T09:49:50.880-07:00'
                        updated_at: '2023-07-03T09:50:01.235-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/task_statuses:
    get:
      operationId: getTaskStatuses
      summary: Task Statuses
      description: Gets all the task statuses in Lawmatics.
      tags:
      - Task Statuses
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                getTaskStatuses:
                  summary: GET Task Statuses
                  value:
                    data:
                    - id: '11'
                      type: task_status
                      attributes:
                        name: dolare
                        color: '#FFFFFF'
                        created_at: '2023-07-03T09:51:58.461-07:00'
                        updated_at: '2023-07-03T10:02:21.859-07:00'
                      relationships: {}
                    - id: '9'
                      type: task_status
                      attributes:
                        name: hello
                        color: '#000000'
                        created_at: '2023-04-24T15:42:34.296-07:00'
                        updated_at: '2023-04-24T15:42:34.296-07:00'
                      relationships: {}
                    - id: '4'
                      type: task_status
                      attributes:
                        name: In Progress
                        color: '#DE5E1C'
                        created_at: '2022-12-27T10:08:45.712-08:00'
                        updated_at: '2022-12-27T10:08:45.712-08:00'
                      relationships: {}
                    - id: '3'
                      type: task_status
                      attributes:
                        name: Waiting for Client
                        color: '#A7783B'
                        created_at: '2022-12-27T10:08:45.708-08:00'
                        updated_at: '2022-12-27T10:08:45.708-08:00'
                      relationships: {}
                    - id: '2'
                      type: task_status
                      attributes:
                        name: Waiting for Attorney
                        color: '#EDBE30'
                        created_at: '2022-12-27T10:08:45.704-08:00'
                        updated_at: '2022-12-27T10:08:45.704-08:00'
                      relationships: {}
                    - id: '1'
                      type: task_status
                      attributes:
                        name: Not Started
                        color: '#6519FA'
                        created_at: '2022-12-27T10:08:45.699-08:00'
                        updated_at: '2023-04-24T15:42:47.077-07:00'
                      relationships: {}
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 6
                    links:
                      self: /v1/task_statuses?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    post:
      operationId: createTaskStatus
      summary: Create Task Status
      description: Creates a task status in Lawmatics.
      tags:
      - Task Statuses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: new task status by jasmine
              color: '#000000'
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                createTaskStatus:
                  summary: CREATE Task Status
                  value:
                    data:
                      id: '12'
                      type: task_status
                      attributes:
                        name: new task status by jasmine
                        color: '#000000'
                        created_at: '2023-07-03T10:10:26.384-07:00'
                        updated_at: '2023-07-03T10:10:26.384-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant. Register a developer app at https://app.lawmatics.com/settings/developers (developer settings must be enabled by Lawmatics support). Access tokens are non-expiring; no refresh tokens are issued and scopes are not supported.
      flows:
        authorizationCode:
          authorizationUrl: https://app.lawmatics.com/oauth/authorize
          tokenUrl: https://api.lawmatics.com/oauth/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: 'The OAuth 2.0 access token is sent as `Authorization: Bearer <access_token>`.'
externalDocs:
  description: Official Lawmatics RESTful API documentation (Postman)
  url: https://docs.lawmatics.com/
x-provenance:
  generated: '2026-08-13'
  method: derived
  publisher: API Evangelist
  source: https://docs.lawmatics.com/api/collections/26379991/2sA3JM7gbw?segregateAuth=true&versionTag=latest
  source_type: Postman collection published by Lawmatics as its official API documentation
  source_file: postman/lawmatics-oauth-api.postman_collection.json
  note: 'NOT published by Lawmatics. Lawmatics publishes no OpenAPI. Every path, method, parameter, request example and response example in this document was converted mechanically from the provider-published Postman collection "Lawmatics OAuth API v1.22.0"; nothing was invented. Schemas are typed as generic objects because the collection carries examples, not JSON Schema. The server URL is the base documented in the collection Param Guide (https://api.lawmatics.com), not the collection''s disabled {{host}} placeholder. The 401 and 429 responses added to every authenticated operation are the provider-documented, globally applicable responses: the collection''s auth guide states a per-firm rate limit applies to all endpoints and returns 429 with a Retry-After header, and https://api.lawmatics.com/v1/contacts was observed returning 401 unauthenticated on 2026-08-13.'
