openapi: 3.2.0
info:
  title: Lawmatics OAuth Email Campaign Stats API
  version: 1.22.0
  description: 'The official Lawmatics REST API for legal CRM, client intake and law firm automation. Manage matters (prospects), contacts, companies, custom forms and form entries, custom fields, events and appointments, tasks, notes, files, tags, users, time entries, expenses, invoices and transactions.


    Authentication is OAuth 2.0 authorization code grant; access tokens do not expire, there are no refresh tokens, and Lawmatics does not currently support scopes - an authorized app receives full CRUD access to the granted account.


    All list endpoints support the shared query-parameter grammar documented in the Param Guide: `fields` (field selection, one level deep, `fields=all` to expand), `page` (pagination), `sort_by`/`sort_order`, and `filter_by`/`filter_on`/`filter_with` (one filter at a time; operators `=`, `!=`, `<=`, `<`, `>=`, `>`, `like`, `ilike`, `null`, `not_null`).


    Responses follow a JSON:API-style `data` / `attributes` / `relationships` envelope.'
  contact:
    name: Lawmatics API Support
    email: api@lawmatics.com
    url: https://docs.lawmatics.com/
  termsOfService: https://www.lawmatics.com/terms-of-use
servers:
- url: https://api.lawmatics.com
  description: Lawmatics production API
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Email Campaign Stats
paths:
  /v1/email_campaign_stats/{id}:
    get:
      operationId: getEmailCampaignStats
      summary: Email Campaign Stats
      description: 'Retrieves a statistics of a specific email campaign in Lawmatics.


        To retrieve a specific campaign, use the following format: TypeofCampaign-id


        An example of retrieving statistics of a marketing campaign would be:

        /v1/email_campaign_stats/MarketingCampaign-1


        An example of retrieving statistics of a date campaign would be:

        /v1/email_campaign_stats/DateCampaign-1'
      tags:
      - Email Campaign Stats
      parameters:
      - name: id
        in: path
        required: true
        description: The id
        schema:
          type: string
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                getEmailCampaignStats:
                  summary: GET Email Campaign Stats
                  value:
                    data:
                    - id: null
                      type: email_event
                      attributes:
                        contactable_id: 160
                        email: jasmine+3@lawmatics.com
                        first_name: lastOne3
                        last_name: null
                        delivered: false
                        bounces: 0
                        clicks: 0
                        opens: 0
                    - id: null
                      type: email_event
                      attributes:
                        contactable_id: 146
                        email: jasmine+2@lawmatics.com
                        first_name: lastOne2
                        last_name: null
                        delivered: false
                        bounces: 0
                        clicks: 0
                        opens: 0
                    - id: null
                      type: email_event
                      attributes:
                        contactable_id: 149
                        email: bran@example.com
                        first_name: Bran
                        last_name: Stark
                        delivered: false
                        bounces: 0
                        clicks: 0
                        opens: 0
                    - id: null
                      type: email_event
                      attributes:
                        contactable_id: 145
                        email: jasmine+3@lawmatics.com
                        first_name: lastOne3
                        last_name: null
                        delivered: false
                        bounces: 0
                        clicks: 0
                        opens: 0
                    - id: null
                      type: email_event
                      attributes:
                        contactable_id: 221
                        email: jasmine+1@lawmatics.com
                        first_name: lastOne
                        last_name: null
                        delivered: false
                        bounces: 0
                        clicks: 0
                        opens: 0
                    - id: null
                      type: email_event
                      attributes:
                        contactable_id: 151
                        email: jasmine+3@lawmatics.com
                        first_name: lastOne3
                        last_name: null
                        delivered: false
                        bounces: 0
                        clicks: 0
                        opens: 0
                    - id: null
                      type: email_event
                      attributes:
                        contactable_id: 152
                        email: jasmine+1@lawmatics.com
                        first_name: lastOne
                        last_name: null
                        delivered: false
                        bounces: 0
                        clicks: 0
                        opens: 0
                    - id: null
                      type: email_event
                      attributes:
                        contactable_id: 144
                        email: jasmine+2@lawmatics.com
                        first_name: lastOne2
                        last_name: null
                        delivered: false
                        bounces: 0
                        clicks: 0
                        opens: 0
                    - id: null
                      type: email_event
                      attributes:
                        contactable_id: 155
                        email: jasmine+1@lawmatics.com
                        first_name: lastOne
                        last_name: null
                        delivered: false
                        bounces: 0
                        clicks: 0
                        opens: 0
                    - id: null
                      type: email_event
                      attributes:
                        contactable_id: 132
                        email: sansastark@example.com
                        first_name: Sansa
                        last_name: Stark
                        delivered: false
                        bounces: 0
                        clicks: 0
                        opens: 0
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant. Register a developer app at https://app.lawmatics.com/settings/developers (developer settings must be enabled by Lawmatics support). Access tokens are non-expiring; no refresh tokens are issued and scopes are not supported.
      flows:
        authorizationCode:
          authorizationUrl: https://app.lawmatics.com/oauth/authorize
          tokenUrl: https://api.lawmatics.com/oauth/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: 'The OAuth 2.0 access token is sent as `Authorization: Bearer <access_token>`.'
externalDocs:
  description: Official Lawmatics RESTful API documentation (Postman)
  url: https://docs.lawmatics.com/
x-provenance:
  generated: '2026-08-13'
  method: derived
  publisher: API Evangelist
  source: https://docs.lawmatics.com/api/collections/26379991/2sA3JM7gbw?segregateAuth=true&versionTag=latest
  source_type: Postman collection published by Lawmatics as its official API documentation
  source_file: postman/lawmatics-oauth-api.postman_collection.json
  note: 'NOT published by Lawmatics. Lawmatics publishes no OpenAPI. Every path, method, parameter, request example and response example in this document was converted mechanically from the provider-published Postman collection "Lawmatics OAuth API v1.22.0"; nothing was invented. Schemas are typed as generic objects because the collection carries examples, not JSON Schema. The server URL is the base documented in the collection Param Guide (https://api.lawmatics.com), not the collection''s disabled {{host}} placeholder. The 401 and 429 responses added to every authenticated operation are the provider-documented, globally applicable responses: the collection''s auth guide states a per-firm rate limit applies to all endpoints and returns 429 with a Retry-After header, and https://api.lawmatics.com/v1/contacts was observed returning 401 unauthenticated on 2026-08-13.'
