openapi: 3.2.0
info:
  title: Lawmatics OAuth Event Locations API
  version: 1.22.0
  description: 'The official Lawmatics REST API for legal CRM, client intake and law firm automation. Manage matters (prospects), contacts, companies, custom forms and form entries, custom fields, events and appointments, tasks, notes, files, tags, users, time entries, expenses, invoices and transactions.


    Authentication is OAuth 2.0 authorization code grant; access tokens do not expire, there are no refresh tokens, and Lawmatics does not currently support scopes - an authorized app receives full CRUD access to the granted account.


    All list endpoints support the shared query-parameter grammar documented in the Param Guide: `fields` (field selection, one level deep, `fields=all` to expand), `page` (pagination), `sort_by`/`sort_order`, and `filter_by`/`filter_on`/`filter_with` (one filter at a time; operators `=`, `!=`, `<=`, `<`, `>=`, `>`, `like`, `ilike`, `null`, `not_null`).


    Responses follow a JSON:API-style `data` / `attributes` / `relationships` envelope.'
  contact:
    name: Lawmatics API Support
    email: api@lawmatics.com
    url: https://docs.lawmatics.com/
  termsOfService: https://www.lawmatics.com/terms-of-use
servers:
- url: https://api.lawmatics.com
  description: Lawmatics production API
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Event Locations
  description: These are Firm related Locations (for events) that can be configured in Firm settings.
paths:
  /v1/locations:
    get:
      operationId: getLocations
      summary: Locations
      description: A paginated list of all Firm Locations in Lawmatics
      tags:
      - Event Locations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getLocations:
                  summary: GET Locations
                  value:
                    data:
                    - id: '2985'
                      type: location
                      attributes:
                        name: Zoom
                        address: www.zoom.com
                        created_at: '2021-09-23T11:37:21.602-07:00'
                        updated_at: '2021-09-23T11:37:21.602-07:00'
                      relationships:
                        address:
                          data:
                            id: '1033526'
                            type: address
                    - id: '314'
                      type: location
                      attributes:
                        name: Phone Conference
                        address: 800-883-1105 ext. 2
                        created_at: '2019-05-15T14:07:18.373-07:00'
                        updated_at: '2019-05-15T14:07:18.373-07:00'
                      relationships:
                        address:
                          data:
                            id: '82052'
                            type: address
                    - id: '3'
                      type: location
                      attributes:
                        name: Spokane - Conference Room B
                        address: 711 W. Indiana, Spokane, WA 99205, United States
                        created_at: '2018-09-07T10:52:27.992-07:00'
                        updated_at: '2018-09-07T10:52:27.992-07:00'
                      relationships:
                        address:
                          data:
                            id: '3590'
                            type: address
                    - id: '2'
                      type: location
                      attributes:
                        name: Spokane - Conference Room A
                        address: 711 W. Indiana, Spokane, WA 99205, United States
                        created_at: '2018-09-07T10:49:00.735-07:00'
                        updated_at: '2018-09-07T10:49:00.735-07:00'
                      relationships:
                        address:
                          data:
                            id: '3590'
                            type: address
                    - id: '1'
                      type: location
                      attributes:
                        name: LM Office
                        address: 4250 Executive Square, Suite 101, La Jolla, CA 92037, United States
                        created_at: '2018-09-07T09:18:55.353-07:00'
                        updated_at: '2018-09-07T09:18:55.353-07:00'
                      relationships:
                        address:
                          data:
                            id: '3588'
                            type: address
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 5
                    links:
                      self: /v1/locations?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant. Register a developer app at https://app.lawmatics.com/settings/developers (developer settings must be enabled by Lawmatics support). Access tokens are non-expiring; no refresh tokens are issued and scopes are not supported.
      flows:
        authorizationCode:
          authorizationUrl: https://app.lawmatics.com/oauth/authorize
          tokenUrl: https://api.lawmatics.com/oauth/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: 'The OAuth 2.0 access token is sent as `Authorization: Bearer <access_token>`.'
externalDocs:
  description: Official Lawmatics RESTful API documentation (Postman)
  url: https://docs.lawmatics.com/
x-provenance:
  generated: '2026-08-13'
  method: derived
  publisher: API Evangelist
  source: https://docs.lawmatics.com/api/collections/26379991/2sA3JM7gbw?segregateAuth=true&versionTag=latest
  source_type: Postman collection published by Lawmatics as its official API documentation
  source_file: postman/lawmatics-oauth-api.postman_collection.json
  note: 'NOT published by Lawmatics. Lawmatics publishes no OpenAPI. Every path, method, parameter, request example and response example in this document was converted mechanically from the provider-published Postman collection "Lawmatics OAuth API v1.22.0"; nothing was invented. Schemas are typed as generic objects because the collection carries examples, not JSON Schema. The server URL is the base documented in the collection Param Guide (https://api.lawmatics.com), not the collection''s disabled {{host}} placeholder. The 401 and 429 responses added to every authenticated operation are the provider-documented, globally applicable responses: the collection''s auth guide states a per-firm rate limit applies to all endpoints and returns 429 with a Retry-After header, and https://api.lawmatics.com/v1/contacts was observed returning 401 unauthenticated on 2026-08-13.'
