openapi: 3.2.0
info:
  title: Lawmatics OAuth Event Types API
  version: 1.22.0
  description: 'The official Lawmatics REST API for legal CRM, client intake and law firm automation. Manage matters (prospects), contacts, companies, custom forms and form entries, custom fields, events and appointments, tasks, notes, files, tags, users, time entries, expenses, invoices and transactions.


    Authentication is OAuth 2.0 authorization code grant; access tokens do not expire, there are no refresh tokens, and Lawmatics does not currently support scopes - an authorized app receives full CRUD access to the granted account.


    All list endpoints support the shared query-parameter grammar documented in the Param Guide: `fields` (field selection, one level deep, `fields=all` to expand), `page` (pagination), `sort_by`/`sort_order`, and `filter_by`/`filter_on`/`filter_with` (one filter at a time; operators `=`, `!=`, `<=`, `<`, `>=`, `>`, `like`, `ilike`, `null`, `not_null`).


    Responses follow a JSON:API-style `data` / `attributes` / `relationships` envelope.'
  contact:
    name: Lawmatics API Support
    email: api@lawmatics.com
    url: https://docs.lawmatics.com/
  termsOfService: https://www.lawmatics.com/terms-of-use
servers:
- url: https://api.lawmatics.com
  description: Lawmatics production API
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Event Types
  description: 'Event Types define Event defaults, and can trigger automations, for common types of Events created in Lawmatics.


    Configuring Calendar Availability defaults is not currently supported by the API. Go to Settings -> Event Settings to configure the Event Type in more detail.'
paths:
  /v1/event_types/{event_type_id}:
    get:
      operationId: getEventType
      summary: Event Type
      description: A specific Event Type by id
      tags:
      - Event Types
      parameters:
      - name: event_type_id
        in: path
        required: true
        description: The event type id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getEventType:
                  summary: GET Event Type
                  value:
                    data:
                      id: '14'
                      type: event_type
                      attributes:
                        name: test6
                        duration: 30
                        created_at: '2022-06-26T17:29:20.139-07:00'
                        updated_at: '2022-06-26T17:29:20.139-07:00'
                      relationships:
                        events:
                          data: []
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    put:
      operationId: updateEventType
      summary: Update Event Type
      description: Updates an Event Type
      tags:
      - Event Types
      parameters:
      - name: event_type_id
        in: path
        required: true
        description: The event type id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: Different Event Type
              duration: 60
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                putUpdateEventType:
                  summary: PUT Update Event Type
                  value:
                    data:
                      id: '17'
                      type: event_type
                      attributes:
                        name: Different Event Type
                        duration: 60
                        created_at: '2022-06-26T17:34:30.915-07:00'
                        updated_at: '2022-06-26T17:35:02.532-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    delete:
      operationId: deleteEventType
      summary: Delete Event Type
      description: Delete an Event Type
      tags:
      - Event Types
      parameters:
      - name: event_type_id
        in: path
        required: true
        description: The event type id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                delDeleteEventType:
                  summary: DEL Delete Event Type
                  value:
                    data:
                      id: '17'
                      type: event_type
                      attributes:
                        name: Different Event Type
                        duration: 60
                        created_at: '2022-06-26T17:34:30.915-07:00'
                        updated_at: '2022-06-26T17:35:02.532-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/event_types:
    get:
      operationId: getEventTypes
      summary: Event Types
      description: A paginated list of all Event Types in Lawmatics
      tags:
      - Event Types
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    post:
      operationId: createEventType
      summary: Create Event Type
      description: 'Create a new Event Type


        duration: Default event duration (in minutes)


        name: Name of the Event Type'
      tags:
      - Event Types
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: Test Event Type
              duration: 30
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              examples:
                postCreateEventType:
                  summary: POST Create Event Type
                  value:
                    data:
                      id: '13'
                      type: event_type
                      attributes:
                        name: test5
                        duration: 30
                        created_at: '2022-06-26T17:28:08.821-07:00'
                        updated_at: '2022-06-26T17:28:08.821-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant. Register a developer app at https://app.lawmatics.com/settings/developers (developer settings must be enabled by Lawmatics support). Access tokens are non-expiring; no refresh tokens are issued and scopes are not supported.
      flows:
        authorizationCode:
          authorizationUrl: https://app.lawmatics.com/oauth/authorize
          tokenUrl: https://api.lawmatics.com/oauth/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: 'The OAuth 2.0 access token is sent as `Authorization: Bearer <access_token>`.'
externalDocs:
  description: Official Lawmatics RESTful API documentation (Postman)
  url: https://docs.lawmatics.com/
x-provenance:
  generated: '2026-08-13'
  method: derived
  publisher: API Evangelist
  source: https://docs.lawmatics.com/api/collections/26379991/2sA3JM7gbw?segregateAuth=true&versionTag=latest
  source_type: Postman collection published by Lawmatics as its official API documentation
  source_file: postman/lawmatics-oauth-api.postman_collection.json
  note: 'NOT published by Lawmatics. Lawmatics publishes no OpenAPI. Every path, method, parameter, request example and response example in this document was converted mechanically from the provider-published Postman collection "Lawmatics OAuth API v1.22.0"; nothing was invented. Schemas are typed as generic objects because the collection carries examples, not JSON Schema. The server URL is the base documented in the collection Param Guide (https://api.lawmatics.com), not the collection''s disabled {{host}} placeholder. The 401 and 429 responses added to every authenticated operation are the provider-documented, globally applicable responses: the collection''s auth guide states a per-firm rate limit applies to all endpoints and returns 429 with a Retry-After header, and https://api.lawmatics.com/v1/contacts was observed returning 401 unauthenticated on 2026-08-13.'
