openapi: 3.2.0
info:
  title: Lawmatics OAuth Events (Appointments) API
  version: 1.22.0
  description: 'The official Lawmatics REST API for legal CRM, client intake and law firm automation. Manage matters (prospects), contacts, companies, custom forms and form entries, custom fields, events and appointments, tasks, notes, files, tags, users, time entries, expenses, invoices and transactions.


    Authentication is OAuth 2.0 authorization code grant; access tokens do not expire, there are no refresh tokens, and Lawmatics does not currently support scopes - an authorized app receives full CRUD access to the granted account.


    All list endpoints support the shared query-parameter grammar documented in the Param Guide: `fields` (field selection, one level deep, `fields=all` to expand), `page` (pagination), `sort_by`/`sort_order`, and `filter_by`/`filter_on`/`filter_with` (one filter at a time; operators `=`, `!=`, `<=`, `<`, `>=`, `>`, `like`, `ilike`, `null`, `not_null`).


    Responses follow a JSON:API-style `data` / `attributes` / `relationships` envelope.'
  contact:
    name: Lawmatics API Support
    email: api@lawmatics.com
    url: https://docs.lawmatics.com/
  termsOfService: https://www.lawmatics.com/terms-of-use
servers:
- url: https://api.lawmatics.com
  description: Lawmatics production API
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Events (Appointments)
  description: Events are also referred to in the app as "Appointments"
paths:
  /v1/events/{event_id}:
    get:
      operationId: getEvent
      summary: Event
      description: A paginated list of all Events in Lawmatics
      tags:
      - Events (Appointments)
      parameters:
      - name: event_id
        in: path
        required: true
        description: The event id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getEvent:
                  summary: GET Event
                  value:
                    data:
                      id: '14'
                      type: event
                      attributes:
                        name: New Appointment
                        description: API Appointment
                        time_zone: America/Los_Angeles
                        start_date: '2022-06-28T15:00:00.000-07:00'
                        end_date: '2020-06-29T00:00:00.000-07:00'
                        all_day: true
                        reminder_type: minutes
                        reminder_delay_length: 10
                        reminder_sent: false
                        location:
                          id: 1
                          name: Miami Location
                          locationable_type: Firm
                          locationable_id: 2
                          address_id: 101
                          firm_id: 2
                          created_at: '2021-10-31T19:59:38.874-07:00'
                          updated_at: '2021-10-31T19:59:38.874-07:00'
                        send_invites: true
                        event_type_id: 4
                        attendee_name: Jennifer Lee
                        attendee_email: jennifer1@gmail.com
                        attendee_phone: 651-555-7796
                        location_name: Miami Location
                        location_address: 1234 Miami, Miami, FL 12345, United States
                        zoom_us_meeting_url: null
                        created_at: '2022-05-10T15:19:38.947-07:00'
                        updated_at: '2022-05-10T15:19:39.011-07:00'
                      relationships:
                        eventable:
                          data:
                            id: '2'
                            type: prospect
                        users:
                          data:
                          - id: '2'
                            type: user
                        event_type:
                          data:
                            id: '4'
                            type: event_type
                        address:
                          data:
                            id: '101'
                            type: address
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    put:
      operationId: updateEvent
      summary: Update Event
      description: 'Update an existing Matter by ID.


        PATCH works for this endpoint as well as PUT.'
      tags:
      - Events (Appointments)
      parameters:
      - name: event_id
        in: path
        required: true
        description: The event id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                putUpdateEvent:
                  summary: PUT Update Event
                  value:
                    data:
                      id: '1'
                      type: event
                      attributes:
                        name: New Appointment
                        description: 'API Appointment


                          Matter Phone: 619-555-7327'
                        start_date: '2020-06-28T00:00:00.000-07:00'
                        end_date: '2020-06-29T00:00:00.000-07:00'
                        all_day: false
                        reminder_type: minutes
                        reminder_delay_length: 10
                        reminder_sent: false
                        location:
                          id: 1
                          name: Miami Location
                          locationable_type: Firm
                          locationable_id: 2
                          address_id: 101
                          firm_id: 2
                          created_at: '2021-10-31T19:59:38.874-07:00'
                          updated_at: '2021-10-31T19:59:38.874-07:00'
                        send_invites: true
                        event_type_id: 5
                        time_zone: America/Los_Angeles
                      relationships:
                        users:
                          data:
                          - id: '3'
                            type: user
                        event_type:
                          data:
                            id: '5'
                            type: event_type
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    delete:
      operationId: cancelEvent
      summary: Cancel Event
      description: Cancels an existing Event/Appointment
      tags:
      - Events (Appointments)
      parameters:
      - name: event_id
        in: path
        required: true
        description: The event/appointment
        schema:
          type: string
      - name: notify_attendees
        in: query
        required: false
        schema:
          type: string
        example: 'true'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                deleteCancelEvent:
                  summary: DELETE Cancel Event
                  value:
                    data:
                      id: '6'
                      type: event
                      attributes:
                        name: New Appointment
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/events:
    get:
      operationId: getEvents
      summary: Events
      description: A paginated list of all Events in Lawmatics
      tags:
      - Events (Appointments)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getEvents:
                  summary: GET Events
                  value:
                    data:
                    - id: '5'
                      type: event
                      attributes:
                        name: Initial Consultation
                        description: test
                        time_zone: America/Los_Angeles
                        start_date: '2021-12-31T22:01:00.000-08:00'
                        end_date: '2021-12-31T22:31:00.000-08:00'
                        all_day: false
                        reminder_type: minutes
                        reminder_delay_length: null
                        reminder_sent: false
                        location:
                          id: 1
                          name: Miami Location
                          locationable_type: Firm
                          locationable_id: 2
                          address_id: 101
                          firm_id: 2
                          created_at: '2021-10-31T19:59:38.874-07:00'
                          updated_at: '2021-10-31T19:59:38.874-07:00'
                        send_invites: null
                        event_type_id: 5
                      relationships:
                        eventable:
                          data:
                            id: '105'
                            type: prospect
                        users:
                          data:
                          - id: '5'
                            type: user
                        event_type:
                          data:
                            id: '5'
                            type: event_type
                    - id: '4'
                      type: event
                      attributes:
                        name: Statute of Limitations
                        description: null
                        time_zone: America/Los_Angeles
                        start_date: '2021-12-08T00:00:00.000-08:00'
                        end_date: '2021-12-08T00:00:00.000-08:00'
                        all_day: true
                        reminder_type: null
                        reminder_delay_length: null
                        reminder_sent: false
                        location: null
                        send_invites: false
                        event_type_id: 4
                      relationships:
                        eventable:
                          data:
                            id: '101'
                            type: prospect
                        users:
                          data:
                          - id: '5'
                            type: user
                        event_type:
                          data:
                            id: '4'
                            type: event_type
                    - id: '3'
                      type: event
                      attributes:
                        name: Initial Consultation
                        description: 'test


                          Matter Phone: 520-730-1042'
                        time_zone: America/New_York
                        start_date: '2021-11-11T14:43:00.000-08:00'
                        end_date: '2021-11-11T15:13:00.000-08:00'
                        all_day: false
                        reminder_type: null
                        reminder_delay_length: null
                        reminder_sent: false
                        location:
                          id: 1
                          name: Miami Location
                          locationable_type: Firm
                          locationable_id: 2
                          address_id: 101
                          firm_id: 2
                          created_at: '2021-10-31T19:59:38.874-07:00'
                          updated_at: '2021-10-31T19:59:38.874-07:00'
                        send_invites: null
                        event_type_id: 3
                      relationships:
                        eventable:
                          data: null
                        users:
                          data:
                          - id: '5'
                            type: user
                        event_type:
                          data:
                            id: '3'
                            type: event_type
                    - id: '2'
                      type: event
                      attributes:
                        name: New Appointment - Joseph Brown
                        description: 'API Appointment


                          Matter Phone: 619-555-7327'
                        time_zone: America/Halifax
                        start_date: '2020-06-28T00:00:00.000-07:00'
                        end_date: '2020-06-29T00:00:00.000-07:00'
                        all_day: false
                        reminder_type: minutes
                        reminder_delay_length: 10
                        reminder_sent: false
                        location:
                          id: 1
                          name: Miami Location
                          locationable_type: Firm
                          locationable_id: 2
                          address_id: 101
                          firm_id: 2
                          created_at: '2021-10-31T19:59:38.874-07:00'
                          updated_at: '2021-10-31T19:59:38.874-07:00'
                        send_invites: true
                        event_type_id: 5
                      relationships:
                        eventable:
                          data:
                            id: '3'
                            type: prospect
                        users:
                          data:
                          - id: '3'
                            type: user
                        event_type:
                          data:
                            id: '5'
                            type: event_type
                    - id: '1'
                      type: event
                      attributes:
                        name: New Appointment
                        description: 'API Appointment


                          Matter Phone: 619-555-7327'
                        time_zone: America/New_York
                        start_date: '2020-06-28T00:00:00.000-07:00'
                        end_date: '2020-06-29T00:00:00.000-07:00'
                        all_day: false
                        reminder_type: minutes
                        reminder_delay_length: 10
                        reminder_sent: false
                        location:
                          id: 1
                          name: Miami Location
                          locationable_type: Firm
                          locationable_id: 2
                          address_id: 101
                          firm_id: 2
                          created_at: '2021-10-31T19:59:38.874-07:00'
                          updated_at: '2021-10-31T19:59:38.874-07:00'
                        send_invites: true
                        event_type_id: 5
                      relationships:
                        eventable:
                          data:
                            id: '3'
                            type: prospect
                        users:
                          data:
                          - id: '3'
                            type: user
                        event_type:
                          data:
                            id: '5'
                            type: event_type
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 5
                    links:
                      self: /v1/events?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    post:
      operationId: createEvent
      summary: Create Event
      description: 'Create a new Event/Appointment


        Optional Fields: Reminder fields, Location fields, time_zone


        eventable_type, eventable_id: The Prospect, Contact, or Client that the appointment is with.


        user_ids: The Firm Users hosting the appointment.


        reminder_type: ''minutes'', ''hours'', ''days'', ''weeks'', months''


        reminder_delay_length: Integer value (combined with reminder_type) for how long to wait to send a reminder


        send_invites: (default true)


        all_day: (default false)


        time_zone: a valid tz identifier string), (defaults to null)'
      tags:
      - Events (Appointments)
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              examples:
                postCreateEvent:
                  summary: POST Create Event
                  value:
                    data:
                      id: '13918'
                      type: event
                      attributes:
                        name: New Appointment
                        description: API Appointment
                        start_date: '2020-06-28T00:00:00.000-07:00'
                        end_date: '2020-06-29T00:00:00.000-07:00'
                        all_day: false
                        reminder_type: minutes
                        reminder_delay_length: 10
                        reminder_sent: false
                        location:
                          id: 1
                          name: LM Office
                          locationable_type: Firm
                          locationable_id: 15
                          address_id: 3588
                          firm_id: 15
                          created_at: '2018-09-07T09:18:55.353-07:00'
                          updated_at: '2018-09-07T09:18:55.353-07:00'
                        send_invites: false
                        event_type_id: 23
                        time_zone: America/Los_Angeles
                      relationships:
                        event_type:
                          data:
                            id: '23'
                            type: event_type
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant. Register a developer app at https://app.lawmatics.com/settings/developers (developer settings must be enabled by Lawmatics support). Access tokens are non-expiring; no refresh tokens are issued and scopes are not supported.
      flows:
        authorizationCode:
          authorizationUrl: https://app.lawmatics.com/oauth/authorize
          tokenUrl: https://api.lawmatics.com/oauth/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: 'The OAuth 2.0 access token is sent as `Authorization: Bearer <access_token>`.'
externalDocs:
  description: Official Lawmatics RESTful API documentation (Postman)
  url: https://docs.lawmatics.com/
x-provenance:
  generated: '2026-08-13'
  method: derived
  publisher: API Evangelist
  source: https://docs.lawmatics.com/api/collections/26379991/2sA3JM7gbw?segregateAuth=true&versionTag=latest
  source_type: Postman collection published by Lawmatics as its official API documentation
  source_file: postman/lawmatics-oauth-api.postman_collection.json
  note: 'NOT published by Lawmatics. Lawmatics publishes no OpenAPI. Every path, method, parameter, request example and response example in this document was converted mechanically from the provider-published Postman collection "Lawmatics OAuth API v1.22.0"; nothing was invented. Schemas are typed as generic objects because the collection carries examples, not JSON Schema. The server URL is the base documented in the collection Param Guide (https://api.lawmatics.com), not the collection''s disabled {{host}} placeholder. The 401 and 429 responses added to every authenticated operation are the provider-documented, globally applicable responses: the collection''s auth guide states a per-firm rate limit applies to all endpoints and returns 429 with a Retry-After header, and https://api.lawmatics.com/v1/contacts was observed returning 401 unauthenticated on 2026-08-13.'
