openapi: 3.2.0
info:
  title: Lawmatics OAuth Custom Emails API
  version: 1.22.0
  description: 'The official Lawmatics REST API for legal CRM, client intake and law firm automation. Manage matters (prospects), contacts, companies, custom forms and form entries, custom fields, events and appointments, tasks, notes, files, tags, users, time entries, expenses, invoices and transactions.


    Authentication is OAuth 2.0 authorization code grant; access tokens do not expire, there are no refresh tokens, and Lawmatics does not currently support scopes - an authorized app receives full CRUD access to the granted account.


    All list endpoints support the shared query-parameter grammar documented in the Param Guide: `fields` (field selection, one level deep, `fields=all` to expand), `page` (pagination), `sort_by`/`sort_order`, and `filter_by`/`filter_on`/`filter_with` (one filter at a time; operators `=`, `!=`, `<=`, `<`, `>=`, `>`, `like`, `ilike`, `null`, `not_null`).


    Responses follow a JSON:API-style `data` / `attributes` / `relationships` envelope.'
  contact:
    name: Lawmatics API Support
    email: api@lawmatics.com
    url: https://docs.lawmatics.com/
  termsOfService: https://www.lawmatics.com/terms-of-use
servers:
- url: https://api.lawmatics.com
  description: Lawmatics production API
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Custom Emails
paths:
  /v1/custom_emails/{custom_email_id}:
    get:
      operationId: getCustomEmail
      summary: Custom Email
      description: A specific custom email by id showcasing the custom email statistics such as unique open count, send count, bounce count, open rate, send rate, and bounce rate.
      tags:
      - Custom Emails
      parameters:
      - name: custom_email_id
        in: path
        required: true
        description: The custom email id
        schema:
          type: string
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                getCustomEmail:
                  summary: GET Custom Email
                  value:
                    data:
                      id: '24'
                      type: custom_email
                      attributes:
                        name: Welcome Email
                        subject: Welcome!
                        opens: 80
                        sends: 334
                        bounces: 8
                        clicks: 58
                        open_rate: 0.23952095808383234
                        click_rate: 0.017964071856287425
                        bounce_rate: 0.1467065868263473
                        delivered_rate: 0.7994011976047904
                        promotional: true
                        created_at: '2023-06-29T15:04:44.943-07:00'
                        updated_at: '2023-06-29T15:04:44.943-07:00'
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/custom_emails:
    get:
      operationId: getCustomEmails
      summary: Custom Emails
      description: A list of all custom emails in Lawmatics.
      tags:
      - Custom Emails
      responses:
        default:
          description: Example response captured in the source Postman collection; the HTTP status code was not recorded by the publisher.
          content:
            application/json:
              schema:
                type: object
              examples:
                getCustomEmails:
                  summary: GET Custom Emails
                  value:
                    data:
                    - id: '24'
                      type: custom_email
                      attributes:
                        name: Welcome Email
                        subject: Welcome!
                        opens: 80
                        sends: 334
                        bounces: 8
                        clicks: 58
                        open_rate: 0.23952095808383234
                        click_rate: 0.017964071856287425
                        bounce_rate: 0.1467065868263473
                        delivered_rate: 0.7994011976047904
                        promotional: true
                        created_at: '2023-06-29T15:04:44.943-07:00'
                        updated_at: '2023-06-29T15:04:44.943-07:00'
                    - id: '1'
                      type: custom_email
                      attributes:
                        name: onboarding email
                        subject: Thank you for Reaching out!
                        opens: null
                        sends: null
                        bounces: null
                        clicks: null
                        open_rate: null
                        click_rate: null
                        bounce_rate: null
                        delivered_rate: null
                        promotional: false
                        created_at: '2023-02-13T10:06:44.671-08:00'
                        updated_at: '2023-02-13T10:06:44.671-08:00'
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 2
                    links:
                      self: /v1/custom_emails?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant. Register a developer app at https://app.lawmatics.com/settings/developers (developer settings must be enabled by Lawmatics support). Access tokens are non-expiring; no refresh tokens are issued and scopes are not supported.
      flows:
        authorizationCode:
          authorizationUrl: https://app.lawmatics.com/oauth/authorize
          tokenUrl: https://api.lawmatics.com/oauth/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: 'The OAuth 2.0 access token is sent as `Authorization: Bearer <access_token>`.'
externalDocs:
  description: Official Lawmatics RESTful API documentation (Postman)
  url: https://docs.lawmatics.com/
x-provenance:
  generated: '2026-08-13'
  method: derived
  publisher: API Evangelist
  source: https://docs.lawmatics.com/api/collections/26379991/2sA3JM7gbw?segregateAuth=true&versionTag=latest
  source_type: Postman collection published by Lawmatics as its official API documentation
  source_file: postman/lawmatics-oauth-api.postman_collection.json
  note: 'NOT published by Lawmatics. Lawmatics publishes no OpenAPI. Every path, method, parameter, request example and response example in this document was converted mechanically from the provider-published Postman collection "Lawmatics OAuth API v1.22.0"; nothing was invented. Schemas are typed as generic objects because the collection carries examples, not JSON Schema. The server URL is the base documented in the collection Param Guide (https://api.lawmatics.com), not the collection''s disabled {{host}} placeholder. The 401 and 429 responses added to every authenticated operation are the provider-documented, globally applicable responses: the collection''s auth guide states a per-firm rate limit applies to all endpoints and returns 429 with a Retry-After header, and https://api.lawmatics.com/v1/contacts was observed returning 401 unauthenticated on 2026-08-13.'
