openapi: 3.2.0
info:
  title: Lawmatics OAuth Notes API
  version: 1.22.0
  description: 'The official Lawmatics REST API for legal CRM, client intake and law firm automation. Manage matters (prospects), contacts, companies, custom forms and form entries, custom fields, events and appointments, tasks, notes, files, tags, users, time entries, expenses, invoices and transactions.


    Authentication is OAuth 2.0 authorization code grant; access tokens do not expire, there are no refresh tokens, and Lawmatics does not currently support scopes - an authorized app receives full CRUD access to the granted account.


    All list endpoints support the shared query-parameter grammar documented in the Param Guide: `fields` (field selection, one level deep, `fields=all` to expand), `page` (pagination), `sort_by`/`sort_order`, and `filter_by`/`filter_on`/`filter_with` (one filter at a time; operators `=`, `!=`, `<=`, `<`, `>=`, `>`, `like`, `ilike`, `null`, `not_null`).


    Responses follow a JSON:API-style `data` / `attributes` / `relationships` envelope.'
  contact:
    name: Lawmatics API Support
    email: api@lawmatics.com
    url: https://docs.lawmatics.com/
  termsOfService: https://www.lawmatics.com/terms-of-use
servers:
- url: https://api.lawmatics.com
  description: Lawmatics production API
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Notes
paths:
  /v1/notes/{note_id}:
    get:
      operationId: getNote
      summary: Note
      description: A specific Note by ID
      tags:
      - Notes
      parameters:
      - name: note_id
        in: path
        required: true
        description: The note id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getNote:
                  summary: GET Note
                  value:
                    data:
                      id: '27430'
                      type: note
                      attributes:
                        name: Example Note
                        body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        created_at: '2018-10-17T18:17:15.722-07:00'
                        updated_at: '2018-10-17T18:17:15.722-07:00'
                      relationships:
                        notable:
                          data:
                            id: '41874'
                            type: prospect
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    put:
      operationId: updateNote
      summary: Update Note
      tags:
      - Notes
      parameters:
      - name: note_id
        in: path
        required: true
        description: The note id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: Updated Note
              body: I just updated this
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                putUpdateNote:
                  summary: PUT Update Note
                  value:
                    data:
                      id: '108'
                      type: note
                      attributes:
                        name: Updated Note
                        body: I just updated this
                        created_at: '2022-05-26T13:23:11.485-07:00'
                        updated_at: '2022-05-26T13:23:19.697-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    delete:
      operationId: deleteNote
      summary: Delete Note
      tags:
      - Notes
      parameters:
      - name: note_id
        in: path
        required: true
        description: The note id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                deleteDeleteNote:
                  summary: DELETE Delete Note
                  value:
                    data:
                      id: '108'
                      type: note
                      attributes:
                        name: Updated Note
                        body: I just updated this
                        created_at: '2022-05-26T13:23:11.485-07:00'
                        updated_at: '2022-05-26T13:23:26.462-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/notes:
    get:
      operationId: getNotes
      summary: Notes
      description: A paginated list of all Notes in Lawmatics
      tags:
      - Notes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getNotes:
                  summary: GET Notes
                  value:
                    data:
                    - id: '27430'
                      type: note
                      attributes:
                        name: Example Note
                        body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        created_at: '2018-10-17T18:17:15.722-07:00'
                        updated_at: '2018-10-17T18:17:15.722-07:00'
                      relationships:
                        notable:
                          data:
                            id: '41874'
                            type: prospect
                    - id: '25231'
                      type: note
                      attributes:
                        name: sed
                        body: ipsa
                        created_at: '2018-10-10T17:39:54.279-07:00'
                        updated_at: '2018-10-10T17:39:54.279-07:00'
                      relationships:
                        notable:
                          data:
                            id: '14'
                            type: prospect
                    - id: '8825'
                      type: note
                      attributes:
                        name: explicabo
                        body: voluptas
                        created_at: '2018-09-24T15:27:47.155-07:00'
                        updated_at: '2018-09-24T15:27:47.155-07:00'
                      relationships:
                        notable:
                          data:
                            id: '14'
                            type: prospect
                    - id: '8823'
                      type: note
                      attributes:
                        name: voluptatibus
                        body: occaecati
                        created_at: '2018-09-20T17:38:11.886-07:00'
                        updated_at: '2018-09-20T17:38:11.886-07:00'
                      relationships:
                        notable:
                          data:
                            id: '25'
                            type: prospect
                    - id: '8822'
                      type: note
                      attributes:
                        name: asd
                        body: asd
                        created_at: '2018-09-19T18:27:06.917-07:00'
                        updated_at: '2018-09-19T18:27:06.917-07:00'
                      relationships:
                        notable:
                          data:
                            id: '35'
                            type: prospect
                    - id: '8821'
                      type: note
                      attributes:
                        name: sfd
                        body: sdfsdf
                        created_at: '2018-09-19T14:11:22.278-07:00'
                        updated_at: '2018-09-19T14:11:22.278-07:00'
                      relationships:
                        notable:
                          data:
                            id: '17877'
                            type: prospect
                    - id: '8820'
                      type: note
                      attributes:
                        name: quia
                        body: dolores
                        created_at: '2018-09-11T11:49:06.517-07:00'
                        updated_at: '2018-09-11T11:49:06.517-07:00'
                      relationships:
                        notable:
                          data:
                            id: '14'
                            type: prospect
                    - id: '8819'
                      type: note
                      attributes:
                        name: eius
                        body: ea
                        created_at: '2018-09-11T11:46:04.109-07:00'
                        updated_at: '2018-09-11T11:46:04.109-07:00'
                      relationships:
                        notable:
                          data:
                            id: '14'
                            type: prospect
                    - id: '8818'
                      type: note
                      attributes:
                        name: pariatur
                        body: rerum
                        created_at: '2018-09-05T13:58:04.430-07:00'
                        updated_at: '2018-09-05T13:58:04.430-07:00'
                      relationships:
                        notable:
                          data:
                            id: '25'
                            type: prospect
                    - id: '8817'
                      type: note
                      attributes:
                        name: ratione
                        body: nemo
                        created_at: '2018-09-05T13:36:02.560-07:00'
                        updated_at: '2018-09-05T13:36:02.560-07:00'
                      relationships:
                        notable:
                          data:
                            id: '14'
                            type: prospect
                    - id: '8816'
                      type: note
                      attributes:
                        name: est
                        body: in
                        created_at: '2018-08-24T16:47:01.463-07:00'
                        updated_at: '2018-08-24T16:47:01.463-07:00'
                      relationships:
                        notable:
                          data:
                            id: '1'
                            type: prospect
                    - id: '2446'
                      type: note
                      attributes:
                        name: null
                        body: null
                        created_at: '2018-07-21T00:00:00.000-07:00'
                        updated_at: '2018-07-22T21:12:22.210-07:00'
                      relationships:
                        notable:
                          data:
                            id: '1'
                            type: prospect
                    - id: '101'
                      type: note
                      attributes:
                        name: test
                        body: test
                        created_at: '2018-07-16T16:46:45.548-07:00'
                        updated_at: '2018-07-16T16:46:45.548-07:00'
                      relationships:
                        notable:
                          data:
                            id: '1'
                            type: company
                    - id: '100'
                      type: note
                      attributes:
                        name: Joseph Note
                        body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        created_at: '2018-07-16T15:12:55.439-07:00'
                        updated_at: '2018-07-16T15:12:55.439-07:00'
                      relationships:
                        notable:
                          data:
                            id: '100'
                            type: prospect
                    - id: '99'
                      type: note
                      attributes:
                        name: Karen Note
                        body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        created_at: '2018-07-16T15:12:55.323-07:00'
                        updated_at: '2018-07-16T15:12:55.323-07:00'
                      relationships:
                        notable:
                          data:
                            id: '99'
                            type: prospect
                    - id: '98'
                      type: note
                      attributes:
                        name: Barbara Note
                        body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        created_at: '2018-07-16T15:12:55.081-07:00'
                        updated_at: '2018-07-16T15:12:55.081-07:00'
                      relationships:
                        notable:
                          data:
                            id: '98'
                            type: prospect
                    - id: '97'
                      type: note
                      attributes:
                        name: Sarah Note
                        body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        created_at: '2018-07-16T15:12:54.860-07:00'
                        updated_at: '2018-07-16T15:12:54.860-07:00'
                      relationships:
                        notable:
                          data:
                            id: '97'
                            type: prospect
                    - id: '96'
                      type: note
                      attributes:
                        name: Thomas Note
                        body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        created_at: '2018-07-16T15:12:54.740-07:00'
                        updated_at: '2018-07-16T15:12:54.740-07:00'
                      relationships:
                        notable:
                          data:
                            id: '96'
                            type: prospect
                    - id: '95'
                      type: note
                      attributes:
                        name: William Note
                        body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        created_at: '2018-07-16T15:12:54.488-07:00'
                        updated_at: '2018-07-16T15:12:54.488-07:00'
                      relationships:
                        notable:
                          data:
                            id: '95'
                            type: prospect
                    - id: '94'
                      type: note
                      attributes:
                        name: Karen Note
                        body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        created_at: '2018-07-16T15:12:54.360-07:00'
                        updated_at: '2018-07-16T15:12:54.360-07:00'
                      relationships:
                        notable:
                          data:
                            id: '94'
                            type: prospect
                    - id: '93'
                      type: note
                      attributes:
                        name: Maria Note
                        body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        created_at: '2018-07-16T15:12:54.131-07:00'
                        updated_at: '2018-07-16T15:12:54.131-07:00'
                      relationships:
                        notable:
                          data:
                            id: '93'
                            type: prospect
                    - id: '92'
                      type: note
                      attributes:
                        name: Maria Note
                        body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        created_at: '2018-07-16T15:12:54.018-07:00'
                        updated_at: '2018-07-16T15:12:54.018-07:00'
                      relationships:
                        notable:
                          data:
                            id: '92'
                            type: prospect
                    - id: '91'
                      type: note
                      attributes:
                        name: Jennifer Note
                        body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        created_at: '2018-07-16T15:12:53.780-07:00'
                        updated_at: '2018-07-16T15:12:53.780-07:00'
                      relationships:
                        notable:
                          data:
                            id: '91'
                            type: prospect
                    - id: '90'
                      type: note
                      attributes:
                        name: Richard Note
                        body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        created_at: '2018-07-16T15:12:53.527-07:00'
                        updated_at: '2018-07-16T15:12:53.527-07:00'
                      relationships:
                        notable:
                          data:
                            id: '90'
                            type: prospect
                    - id: '89'
                      type: note
                      attributes:
                        name: Jennifer Note
                        body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        created_at: '2018-07-16T15:12:53.403-07:00'
                        updated_at: '2018-07-16T15:12:53.403-07:00'
                      relationships:
                        notable:
                          data:
                            id: '89'
                            type: prospect
                    meta:
                      total_pages: 5
                      limit_per_page: 25
                      total_entries: 110
                    links:
                      self: /v1/note?page=1
                      next: /v1/note?page=2
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    post:
      operationId: createNote
      summary: Create Note
      tags:
      - Notes
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              examples:
                postCreateNote:
                  summary: POST Create Note
                  value:
                    data:
                      id: '109'
                      type: note
                      attributes:
                        name: New Note
                        body: An important thing to remember
                        created_at: '2022-05-26T13:48:20.485-07:00'
                        updated_at: '2022-05-26T13:48:20.485-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant. Register a developer app at https://app.lawmatics.com/settings/developers (developer settings must be enabled by Lawmatics support). Access tokens are non-expiring; no refresh tokens are issued and scopes are not supported.
      flows:
        authorizationCode:
          authorizationUrl: https://app.lawmatics.com/oauth/authorize
          tokenUrl: https://api.lawmatics.com/oauth/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: 'The OAuth 2.0 access token is sent as `Authorization: Bearer <access_token>`.'
externalDocs:
  description: Official Lawmatics RESTful API documentation (Postman)
  url: https://docs.lawmatics.com/
x-provenance:
  generated: '2026-08-13'
  method: derived
  publisher: API Evangelist
  source: https://docs.lawmatics.com/api/collections/26379991/2sA3JM7gbw?segregateAuth=true&versionTag=latest
  source_type: Postman collection published by Lawmatics as its official API documentation
  source_file: postman/lawmatics-oauth-api.postman_collection.json
  note: 'NOT published by Lawmatics. Lawmatics publishes no OpenAPI. Every path, method, parameter, request example and response example in this document was converted mechanically from the provider-published Postman collection "Lawmatics OAuth API v1.22.0"; nothing was invented. Schemas are typed as generic objects because the collection carries examples, not JSON Schema. The server URL is the base documented in the collection Param Guide (https://api.lawmatics.com), not the collection''s disabled {{host}} placeholder. The 401 and 429 responses added to every authenticated operation are the provider-documented, globally applicable responses: the collection''s auth guide states a per-firm rate limit applies to all endpoints and returns 429 with a Retry-After header, and https://api.lawmatics.com/v1/contacts was observed returning 401 unauthenticated on 2026-08-13.'
