openapi: 3.2.0
info:
  title: Lawmatics OAuth Phone Numbers API
  version: 1.22.0
  description: 'The official Lawmatics REST API for legal CRM, client intake and law firm automation. Manage matters (prospects), contacts, companies, custom forms and form entries, custom fields, events and appointments, tasks, notes, files, tags, users, time entries, expenses, invoices and transactions.


    Authentication is OAuth 2.0 authorization code grant; access tokens do not expire, there are no refresh tokens, and Lawmatics does not currently support scopes - an authorized app receives full CRUD access to the granted account.


    All list endpoints support the shared query-parameter grammar documented in the Param Guide: `fields` (field selection, one level deep, `fields=all` to expand), `page` (pagination), `sort_by`/`sort_order`, and `filter_by`/`filter_on`/`filter_with` (one filter at a time; operators `=`, `!=`, `<=`, `<`, `>=`, `>`, `like`, `ilike`, `null`, `not_null`).


    Responses follow a JSON:API-style `data` / `attributes` / `relationships` envelope.'
  contact:
    name: Lawmatics API Support
    email: api@lawmatics.com
    url: https://docs.lawmatics.com/
  termsOfService: https://www.lawmatics.com/terms-of-use
servers:
- url: https://api.lawmatics.com
  description: Lawmatics production API
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Phone Numbers
  description: A Phone Number is contact information that belongs to a Firm, Contact, or Company.
paths:
  /v1/phone_numbers/{phone_number_id}:
    get:
      operationId: getPhoneNumber
      summary: Phone Number
      description: A specific Phone Number by id
      tags:
      - Phone Numbers
      parameters:
      - name: phone_number_id
        in: path
        required: true
        description: The phone number id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getPhoneNumber:
                  summary: GET Phone Number
                  value:
                    data:
                      id: '514'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: '9989888888'
                      relationships:
                        informationable:
                          data:
                            id: '520'
                            type: contact
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    put:
      operationId: updatePhoneNumber
      summary: Update Phone Number
      description: Updates a Phone Number by id
      tags:
      - Phone Numbers
      parameters:
      - name: phone_number_id
        in: path
        required: true
        description: The phone number id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                putUpdatePhoneNumber:
                  summary: PUT Update Phone Number
                  value:
                    data:
                      id: '514'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: '9989888888'
                      relationships:
                        informationable:
                          data:
                            id: '520'
                            type: contact
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    delete:
      operationId: deletePhoneNumber
      summary: Delete Phone Number
      description: 'Delete a Phone Number


        phone_number_id: ID of the Phone Number to delete'
      tags:
      - Phone Numbers
      parameters:
      - name: phone_number_id
        in: path
        required: true
        description: The phone number id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                delDeletePhoneNumber:
                  summary: DEL Delete Phone Number
                  value:
                    data:
                      id: '514'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: '9989888888'
                      relationships:
                        informationable:
                          data:
                            id: '520'
                            type: contact
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/phone_numbers:
    get:
      operationId: getPhoneNumbers
      summary: Phone Numbers
      description: A paginated list of all Phone Numbers in Lawmatics
      tags:
      - Phone Numbers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getPhoneNumbers:
                  summary: GET Phone Numbers
                  value:
                    data:
                    - id: '514'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: '9989888888'
                      relationships:
                        informationable:
                          data:
                            id: '520'
                            type: contact
                    - id: '512'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: '9989888888'
                      relationships:
                        informationable:
                          data:
                            id: '519'
                            type: contact
                    - id: '503'
                      type: phone_number
                      attributes:
                        label: Home
                        info: 916-234-5677
                      relationships:
                        informationable:
                          data:
                            id: '58'
                            type: company
                    - id: '502'
                      type: phone_number
                      attributes:
                        label: Other
                        info: 916-235-5678
                      relationships:
                        informationable:
                          data:
                            id: '58'
                            type: company
                    - id: '499'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: 800-555-1234
                      relationships:
                        informationable:
                          data:
                            id: '58'
                            type: company
                    - id: '497'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: 123-123-1234
                      relationships:
                        informationable:
                          data:
                            id: '534'
                            type: contact
                    - id: '495'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: 800-987-6543
                      relationships:
                        informationable:
                          data:
                            id: '57'
                            type: company
                    - id: '493'
                      type: phone_number
                      attributes:
                        label: Home
                        info: 916-234-5677
                      relationships:
                        informationable:
                          data:
                            id: '55'
                            type: company
                    - id: '492'
                      type: phone_number
                      attributes:
                        label: Other
                        info: 916-235-5678
                      relationships:
                        informationable:
                          data:
                            id: '55'
                            type: company
                    - id: '489'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: 800-555-1234
                      relationships:
                        informationable:
                          data:
                            id: '55'
                            type: company
                    - id: '487'
                      type: phone_number
                      attributes:
                        label: Home
                        info: 916-234-5677
                      relationships:
                        informationable:
                          data:
                            id: '54'
                            type: company
                    - id: '486'
                      type: phone_number
                      attributes:
                        label: Other
                        info: 916-235-5678
                      relationships:
                        informationable:
                          data:
                            id: '54'
                            type: company
                    - id: '483'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: 800-555-1234
                      relationships:
                        informationable:
                          data:
                            id: '54'
                            type: company
                    - id: '481'
                      type: phone_number
                      attributes:
                        label: Home
                        info: 916-234-5677
                      relationships:
                        informationable:
                          data:
                            id: '53'
                            type: company
                    - id: '480'
                      type: phone_number
                      attributes:
                        label: Other
                        info: 916-235-5678
                      relationships:
                        informationable:
                          data:
                            id: '53'
                            type: company
                    - id: '477'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: 800-555-1234
                      relationships:
                        informationable:
                          data:
                            id: '53'
                            type: company
                    - id: '475'
                      type: phone_number
                      attributes:
                        label: Home
                        info: 916-234-5677
                      relationships:
                        informationable:
                          data:
                            id: '52'
                            type: company
                    - id: '474'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: 916-235-5678
                      relationships:
                        informationable:
                          data:
                            id: '52'
                            type: company
                    - id: '471'
                      type: phone_number
                      attributes:
                        label: Home
                        info: 916-234-5677
                      relationships:
                        informationable:
                          data:
                            id: '51'
                            type: company
                    - id: '470'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: 916-235-5678
                      relationships:
                        informationable:
                          data:
                            id: '51'
                            type: company
                    - id: '467'
                      type: phone_number
                      attributes:
                        label: Home
                        info: 916-234-5677
                      relationships:
                        informationable:
                          data:
                            id: '50'
                            type: company
                    - id: '466'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: 916-235-5678
                      relationships:
                        informationable:
                          data:
                            id: '50'
                            type: company
                    - id: '463'
                      type: phone_number
                      attributes:
                        label: Home
                        info: 916-234-5677
                      relationships:
                        informationable:
                          data:
                            id: '49'
                            type: company
                    - id: '462'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: 916-235-5678
                      relationships:
                        informationable:
                          data:
                            id: '49'
                            type: company
                    - id: '459'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: 800-555-1234
                      relationships:
                        informationable:
                          data:
                            id: '49'
                            type: company
                    meta:
                      total_pages: 6
                      limit_per_page: 25
                      total_entries: 143
                    links:
                      self: /v1/phone_numbers?page=1
                      next: /v1/phone_numbers?page=2
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    post:
      operationId: createPhoneNumber
      summary: Create Phone Number
      description: 'Create a new Phone Number


        Required Fields: informationable, label, info


        info: The Phone Number string.


        label: The Phone Number''s label e.g. Primary.


        informationable_type: Prospect, Contact, Company, or Firm that the Phone Number belongs to.


        informationable_id: Id of Record. Firm type doesn''t need an ID passed and it will be ignored.


        Note - Setting the Phone Number through a Prospect (Matter) will set the address on the Prospects'' Contact/Company.'
      tags:
      - Phone Numbers
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                label:
                  type: string
                info:
                  type: string
                informationable_type:
                  type: string
                informationable_id:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              examples:
                createPhoneNumber:
                  summary: Create Phone Number
                  value:
                    data:
                      id: '514'
                      type: phone_number
                      attributes:
                        label: Primary
                        info: '9989888888'
                      relationships:
                        informationable:
                          data:
                            id: '520'
                            type: contact
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant. Register a developer app at https://app.lawmatics.com/settings/developers (developer settings must be enabled by Lawmatics support). Access tokens are non-expiring; no refresh tokens are issued and scopes are not supported.
      flows:
        authorizationCode:
          authorizationUrl: https://app.lawmatics.com/oauth/authorize
          tokenUrl: https://api.lawmatics.com/oauth/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: 'The OAuth 2.0 access token is sent as `Authorization: Bearer <access_token>`.'
externalDocs:
  description: Official Lawmatics RESTful API documentation (Postman)
  url: https://docs.lawmatics.com/
x-provenance:
  generated: '2026-08-13'
  method: derived
  publisher: API Evangelist
  source: https://docs.lawmatics.com/api/collections/26379991/2sA3JM7gbw?segregateAuth=true&versionTag=latest
  source_type: Postman collection published by Lawmatics as its official API documentation
  source_file: postman/lawmatics-oauth-api.postman_collection.json
  note: 'NOT published by Lawmatics. Lawmatics publishes no OpenAPI. Every path, method, parameter, request example and response example in this document was converted mechanically from the provider-published Postman collection "Lawmatics OAuth API v1.22.0"; nothing was invented. Schemas are typed as generic objects because the collection carries examples, not JSON Schema. The server URL is the base documented in the collection Param Guide (https://api.lawmatics.com), not the collection''s disabled {{host}} placeholder. The 401 and 429 responses added to every authenticated operation are the provider-documented, globally applicable responses: the collection''s auth guide states a per-firm rate limit applies to all endpoints and returns 429 with a Retry-After header, and https://api.lawmatics.com/v1/contacts was observed returning 401 unauthenticated on 2026-08-13.'
