openapi: 3.2.0
info:
  title: Lawmatics OAuth Matters (Prospects) API
  version: 1.22.0
  description: 'The official Lawmatics REST API for legal CRM, client intake and law firm automation. Manage matters (prospects), contacts, companies, custom forms and form entries, custom fields, events and appointments, tasks, notes, files, tags, users, time entries, expenses, invoices and transactions.


    Authentication is OAuth 2.0 authorization code grant; access tokens do not expire, there are no refresh tokens, and Lawmatics does not currently support scopes - an authorized app receives full CRUD access to the granted account.


    All list endpoints support the shared query-parameter grammar documented in the Param Guide: `fields` (field selection, one level deep, `fields=all` to expand), `page` (pagination), `sort_by`/`sort_order`, and `filter_by`/`filter_on`/`filter_with` (one filter at a time; operators `=`, `!=`, `<=`, `<`, `>=`, `>`, `like`, `ilike`, `null`, `not_null`).


    Responses follow a JSON:API-style `data` / `attributes` / `relationships` envelope.'
  contact:
    name: Lawmatics API Support
    email: api@lawmatics.com
    url: https://docs.lawmatics.com/
  termsOfService: https://www.lawmatics.com/terms-of-use
servers:
- url: https://api.lawmatics.com
  description: Lawmatics production API
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Matters (Prospects)
  description: 'A Matter is a legal case, and the primary object in Lawmatics.


    NOTE: You may see Matters referenced as "Prospects" or "PNCs". This is for legacy reasons, and we are working to migrate away from these names internally.


    When creating a new Matter it will be in status PNC. This stands for Potential N'
paths:
  /v1/prospects/find_by_phone/{phone_number}:
    get:
      operationId: findMatterByPhoneNumber
      summary: Find Matter By Phone Number
      description: Fuzzy find a specific Matter by Phone Number.
      tags:
      - Matters (Prospects)
      parameters:
      - name: phone_number
        in: path
        required: true
        description: Any valid phone number. We strip all non digits when matching, and try with and without the leading 1 for US country codes.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getFindMatterByPhoneNumber:
                  summary: GET Find Matter By Phone Number
                  value:
                    data:
                      id: '41871'
                      type: prospect
                      attributes:
                        first_name: Roey
                        last_name: Chasman
                        email: roey+api@lawmatics.com
                        phone: '5555555555'
                        created_at: '2018-10-17T17:24:43.293-07:00'
                        updated_at: '2018-10-17T17:24:43.293-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/prospects/find_by_email/{email_address}:
    get:
      operationId: findMatterByEmailAddress
      summary: Find Matter By Email Address
      description: Fuzzy find a specific Matter by Email Address.
      tags:
      - Matters (Prospects)
      parameters:
      - name: email_address
        in: path
        required: true
        description: A valid email address
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getFindMatterByEmailAddress:
                  summary: GET Find Matter By Email Address
                  value:
                    data:
                      id: '41871'
                      type: prospect
                      attributes:
                        first_name: Roey
                        last_name: Chasman
                        email: roey+api@lawmatics.com
                        phone: '5555555555'
                        created_at: '2018-10-17T17:24:43.293-07:00'
                        updated_at: '2018-10-17T17:24:43.293-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/prospects/find_by_name/{name}:
    get:
      operationId: findMatterByName
      summary: Find Matter By Name
      description: Fuzzy find (case-insensitive) a specific Matter by their Name. You can pass either '{first_name} {last_name}' or simply '{first_name}'
      tags:
      - Matters (Prospects)
      parameters:
      - name: name
        in: path
        required: true
        description: We return the closest match. For better results include the PNC Contact's last name.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getFindMatterByName:
                  summary: GET Find Matter By Name
                  value:
                    data:
                      id: '41871'
                      type: prospect
                      attributes:
                        first_name: Roey
                        last_name: Chasman
                        email: roey+api@lawmatics.com
                        phone: '5555555555'
                        created_at: '2018-10-17T17:24:43.293-07:00'
                        updated_at: '2018-10-17T17:24:43.293-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/interactions/{interaction_id}:
    get:
      operationId: getInteraction
      summary: Interaction
      description: Retrieves an interaction by its ID
      tags:
      - Matters (Prospects)
      parameters:
      - name: interaction_id
        in: path
        required: true
        description: The interaction id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getInteraction:
                  summary: GET Interaction
                  value:
                    data:
                      id: '69'
                      type: interaction
                      attributes:
                        interaction_type: One kind of interaction
                        body: The one - cannot change.
                        happened_at: '2019-03-01T14:00:00.000-08:00'
                        created_at: '2022-08-23T20:19:47.926-07:00'
                        updated_at: '2022-08-24T15:30:15.255-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '144'
                            type: prospect
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    put:
      operationId: updateInteraction
      summary: Update Interaction
      description: 'Update an existing Interaction by ID.


        PATCH works for this endpoint as well as PUT.'
      tags:
      - Matters (Prospects)
      parameters:
      - name: interaction_id
        in: path
        required: true
        description: The interaction id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              happened_at: '2019-02-29T15:00:00-07:00'
              body: The one - from 143 to 144
              interaction_type: One kind of interaction
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                putUpdateInteraction:
                  summary: PUT Update Interaction
                  value:
                    data:
                      id: '69'
                      type: interaction
                      attributes:
                        interaction_type: One kind of interaction
                        body: A changed body.
                        happened_at: '2019-03-01T14:00:00.000-08:00'
                        created_at: '2022-08-23T20:19:47.926-07:00'
                        updated_at: '2022-08-24T20:43:05.020-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '144'
                            type: prospect
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    delete:
      operationId: deleteInteraction
      summary: Delete Interaction
      description: Deletes an existing interaction
      tags:
      - Matters (Prospects)
      parameters:
      - name: interaction_id
        in: path
        required: true
        description: The interaction id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                deleteInteraction:
                  summary: DELETE Interaction
                  value:
                    data:
                      id: '69'
                      type: interaction
                      attributes:
                        interaction_type: One kind of interaction
                        body: A changed body.
                        happened_at: '2019-03-01T14:00:00.000-08:00'
                        created_at: '2022-08-23T20:19:47.926-07:00'
                        updated_at: '2022-08-24T20:43:25.148-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '144'
                            type: prospect
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/interactions:
    get:
      operationId: getInteractions
      summary: Interactions
      description: A paginated list of all Interactions in Lawmatics
      tags:
      - Matters (Prospects)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getInteractions:
                  summary: GET Interactions
                  value:
                    data:
                    - id: '70'
                      type: interaction
                      attributes:
                        interaction_type: A type of interaction
                        body: The two.
                        happened_at: '2022-06-29T15:00:00.000-07:00'
                        created_at: '2022-08-24T15:29:44.289-07:00'
                        updated_at: '2022-08-24T15:29:44.289-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '143'
                            type: prospect
                    - id: '69'
                      type: interaction
                      attributes:
                        interaction_type: One kind of interaction
                        body: The one - cannot change.
                        happened_at: '2019-03-01T14:00:00.000-08:00'
                        created_at: '2022-08-23T20:19:47.926-07:00'
                        updated_at: '2022-08-24T15:30:15.255-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '144'
                            type: prospect
                    - id: '68'
                      type: interaction
                      attributes:
                        interaction_type: some type of Interaction
                        body: Body of the Interaction.
                        happened_at: '2022-06-29T15:00:00.000-07:00'
                        created_at: '2022-08-19T07:08:05.717-07:00'
                        updated_at: '2022-08-19T07:08:05.717-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '143'
                            type: prospect
                    - id: '67'
                      type: interaction
                      attributes:
                        interaction_type: some type of Interaction
                        body: Body of the Interaction.
                        happened_at: '2022-06-29T15:00:00.000-07:00'
                        created_at: '2022-08-19T06:57:07.842-07:00'
                        updated_at: '2022-08-19T06:57:07.842-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '143'
                            type: prospect
                    - id: '65'
                      type: interaction
                      attributes:
                        interaction_type: Phone Call
                        body: '2016'
                        happened_at: '2016-08-18T21:02:00.790-07:00'
                        created_at: '2022-08-18T21:03:08.111-07:00'
                        updated_at: '2022-08-18T21:03:08.111-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '143'
                            type: prospect
                    - id: '33'
                      type: interaction
                      attributes:
                        interaction_type: some type of Interaction
                        body: Body of the Interaction.
                        happened_at: '2022-06-29T15:00:00.000-07:00'
                        created_at: '2022-08-17T07:45:22.510-07:00'
                        updated_at: '2022-08-17T07:45:22.510-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '12'
                            type: prospect
                    - id: '32'
                      type: interaction
                      attributes:
                        interaction_type: some type of Interaction
                        body: Body of the Interaction.
                        happened_at: '2022-06-29T15:00:00.000-07:00'
                        created_at: '2022-08-17T07:18:57.068-07:00'
                        updated_at: '2022-08-17T07:18:57.068-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '12'
                            type: prospect
                    - id: '31'
                      type: interaction
                      attributes:
                        interaction_type: some type of Interaction
                        body: Body of the Interaction.
                        happened_at: '2022-06-29T15:00:00.000-07:00'
                        created_at: '2022-08-17T07:18:20.243-07:00'
                        updated_at: '2022-08-17T07:18:20.243-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '12'
                            type: prospect
                    - id: '29'
                      type: interaction
                      attributes:
                        interaction_type: some type of Interaction
                        body: Body of the Interaction.
                        happened_at: '2022-06-29T15:00:00.000-07:00'
                        created_at: '2022-08-16T18:31:05.746-07:00'
                        updated_at: '2022-08-16T18:31:05.748-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '121'
                            type: prospect
                    - id: '28'
                      type: interaction
                      attributes:
                        interaction_type: some type of Interaction
                        body: Body of the Interaction.
                        happened_at: '2022-06-29T15:00:00.000-07:00'
                        created_at: '2022-08-16T18:31:00.704-07:00'
                        updated_at: '2022-08-16T18:31:00.713-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '12'
                            type: prospect
                    - id: '27'
                      type: interaction
                      attributes:
                        interaction_type: some type of Interaction
                        body: Body of the Interaction.
                        happened_at: '2022-06-29T15:00:00.000-07:00'
                        created_at: '2022-08-16T10:13:38.683-07:00'
                        updated_at: '2022-08-16T10:13:38.685-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '12'
                            type: prospect
                    - id: '26'
                      type: interaction
                      attributes:
                        interaction_type: some type of Interaction too
                        body: Body of the Interaction!
                        happened_at: '2022-06-29T15:00:00.000-07:00'
                        created_at: '2022-08-16T10:13:28.379-07:00'
                        updated_at: '2022-08-16T10:13:28.381-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '12'
                            type: prospect
                    - id: '25'
                      type: interaction
                      attributes:
                        interaction_type: some type of Interaction
                        body: Body of the Interaction!
                        happened_at: '2022-06-29T15:00:00.000-07:00'
                        created_at: '2022-08-16T10:13:20.531-07:00'
                        updated_at: '2022-08-16T10:13:20.534-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '12'
                            type: prospect
                    - id: '24'
                      type: interaction
                      attributes:
                        interaction_type: some type of Interaction
                        body: Body of the Interaction
                        happened_at: '2022-06-29T15:00:00.000-07:00'
                        created_at: '2022-08-16T10:13:16.189-07:00'
                        updated_at: '2022-08-16T10:13:16.207-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '12'
                            type: prospect
                    - id: '23'
                      type: interaction
                      attributes:
                        interaction_type: some type of Interaction
                        body: Body of the Interaction
                        happened_at: '2022-06-29T15:00:00.000-07:00'
                        created_at: '2022-08-16T10:04:07.490-07:00'
                        updated_at: '2022-08-16T10:04:07.522-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '12'
                            type: prospect
                    - id: '22'
                      type: interaction
                      attributes:
                        interaction_type: some type of Interaction
                        body: Body of the Interaction
                        happened_at: '2022-06-29T15:00:00.000-07:00'
                        created_at: '2022-08-16T09:52:39.900-07:00'
                        updated_at: '2022-08-16T09:52:39.917-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '12'
                            type: prospect
                    - id: '21'
                      type: interaction
                      attributes:
                        interaction_type: '77777'
                        body: '77777'
                        happened_at: '2022-03-01T14:00:00.000-08:00'
                        created_at: '2022-08-16T09:04:14.069-07:00'
                        updated_at: '2022-08-16T09:12:12.824-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '12'
                            type: prospect
                    - id: '6'
                      type: interaction
                      attributes:
                        interaction_type: '77777'
                        body: '77777'
                        happened_at: '2022-03-01T14:00:00.000-08:00'
                        created_at: '2022-08-16T08:23:18.610-07:00'
                        updated_at: '2022-08-16T10:20:42.847-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '12'
                            type: prospect
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 18
                    links:
                      self: /v1/interactions?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    post:
      operationId: createInteraction
      summary: Create Interaction
      description: 'Create a new Interaction


        Required fields:


        happened_at: timestamp meaning when the interaction happened


        prospect_id: Integer value, id of the prospect this interaction is related to


        body: text describing the interaction


        interaction_type: a string describing the kind of interaction that happened'
      tags:
      - Matters (Prospects)
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              examples:
                postCreateInteraction:
                  summary: POST Create Interaction
                  value:
                    data:
                      id: '71'
                      type: interaction
                      attributes:
                        interaction_type: A type of interaction
                        body: the body
                        happened_at: '2022-06-29T15:00:00.000-07:00'
                        created_at: '2022-08-24T20:42:19.343-07:00'
                        updated_at: '2022-08-24T20:42:19.343-07:00'
                      relationships:
                        created_by:
                          data:
                            id: '2'
                            type: user
                        interactable:
                          data:
                            id: '143'
                            type: prospect
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/campaigns/{campaign_id}:
    get:
      operationId: getCampaign
      summary: Campaign
      description: A specific Marketing Campaign by ID
      tags:
      - Matters (Prospects)
      parameters:
      - name: campaign_id
        in: path
        required: true
        description: The campaign id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getCampaign:
                  summary: GET Campaign
                  value:
                    data:
                      id: '192'
                      type: campaign
                      attributes:
                        name: ClioCon 2018
                        description: ClioCon in New Orleans 2018
                        utm_match: clio_con
                        tracking_number: '+18556347246'
                        pnc_count: 9
                        created_at: '2018-10-04T10:35:00.880-07:00'
                        updated_at: '2018-10-04T10:35:00.880-07:00'
                      relationships:
                        source:
                          data:
                            id: '2'
                            type: source
                        prospects:
                          data:
                          - id: '12505'
                            type: prospect
                          - id: '6017'
                            type: prospect
                          - id: '5977'
                            type: prospect
                          - id: '5974'
                            type: prospect
                          - id: '5971'
                            type: prospect
                          - id: '5968'
                            type: prospect
                          - id: '5966'
                            type: prospect
                          - id: '5963'
                            type: prospect
                          - id: '5959'
                            type: prospect
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/campaigns:
    get:
      operationId: getCampaigns
      summary: Campaigns
      description: A paginated list of all Marketing Campaigns in Lawmatics
      tags:
      - Matters (Prospects)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getCampaigns:
                  summary: GET Campaigns
                  value:
                    data:
                    - id: '284'
                      type: campaign
                      attributes:
                        name: Landing Page Ad 1
                        created_at: '2018-10-11T18:09:55.363-07:00'
                        updated_at: '2018-10-11T18:09:55.363-07:00'
                      relationships: {}
                    - id: '285'
                      type: campaign
                      attributes:
                        name: Blog Ad 1
                        created_at: '2018-10-12T15:28:16.893-07:00'
                        updated_at: '2018-10-12T15:28:23.512-07:00'
                      relationships: {}
                    - id: '286'
                      type: campaign
                      attributes:
                        name: Banner Ad 1
                        created_at: '2018-10-12T15:28:34.041-07:00'
                        updated_at: '2018-10-12T15:28:34.041-07:00'
                      relationships: {}
                    - id: '287'
                      type: campaign
                      attributes:
                        name: Banner Ad 2
                        created_at: '2018-10-12T15:28:41.512-07:00'
                        updated_at: '2018-10-12T15:28:45.320-07:00'
                      relationships: {}
                    - id: '288'
                      type: campaign
                      attributes:
                        name: Roey Chasman
                        created_at: '2018-10-12T15:38:08.058-07:00'
                        updated_at: '2018-10-12T15:38:08.058-07:00'
                      relationships: {}
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 5
                    links:
                      self: /v1/campaigns?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/sources/{source_id}:
    get:
      operationId: getSource
      summary: Source
      description: A specific Marketing Source by ID
      tags:
      - Matters (Prospects)
      parameters:
      - name: source_id
        in: path
        required: true
        description: The source id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getSource:
                  summary: GET Source
                  value:
                    data:
                      id: '243'
                      type: source
                      attributes:
                        name: Facebook
                        description: null
                        color: '#F70303'
                        utm_match: null
                        spend_frequency: weekly
                        tracking_number: null
                        pnc_count: 0
                        created_at: '2018-09-20T10:45:21.681-07:00'
                        updated_at: '2018-09-20T10:45:21.681-07:00'
                      relationships:
                        campaigns:
                          data:
                          - id: '174'
                            type: campaign
                        prospects:
                          data: []
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/sources:
    get:
      operationId: getSources
      summary: Sources
      description: A paginated list of all Marketing Sources in Lawmatics
      tags:
      - Matters (Prospects)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getSources:
                  summary: GET Sources
                  value:
                    data:
                    - id: '243'
                      type: source
                      attributes:
                        name: Facebook
                        created_at: '2018-09-20T10:45:21.681-07:00'
                        updated_at: '2018-09-20T10:45:21.681-07:00'
                      relationships: {}
                    - id: '200'
                      type: source
                      attributes:
                        name: Nolo
                        created_at: '2018-08-29T15:14:15.629-07:00'
                        updated_at: '2018-08-29T15:14:15.629-07:00'
                      relationships: {}
                    - id: '90'
                      type: source
                      attributes:
                        name: ChatBot 101
                        created_at: '2018-07-20T09:44:43.821-07:00'
                        updated_at: '2018-07-20T09:44:43.821-07:00'
                      relationships: {}
                    - id: '6'
                      type: source
                      attributes:
                        name: Referrals
                        created_at: '2018-03-04T02:17:45.924-08:00'
                        updated_at: '2018-04-12T14:13:01.357-07:00'
                      relationships: {}
                    - id: '3'
                      type: source
                      attributes:
                        name: Google
                        created_at: '2018-01-24T10:44:54.260-08:00'
                        updated_at: '2018-01-24T10:44:54.260-08:00'
                      relationships: {}
                    - id: '2'
                      type: source
                      attributes:
                        name: Conferences
                        created_at: '2018-01-08T10:47:20.997-08:00'
                        updated_at: '2018-10-05T09:02:59.114-07:00'
                      relationships: {}
                    - id: '1'
                      type: source
                      attributes:
                        name: Google PPC
                        created_at: '2018-01-08T10:02:16.040-08:00'
                        updated_at: '2018-10-05T07:29:39.386-07:00'
                      relationships: {}
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 7
                    links:
                      self: /v1/source?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/pipelines/{pipeline_id}:
    get:
      operationId: getPipeline
      summary: Pipeline
      description: A specific Pipeline by id
      tags:
      - Matters (Prospects)
      parameters:
      - name: pipeline_id
        in: path
        required: true
        description: The pipeline id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getPipeline:
                  summary: GET Pipeline
                  value:
                    data:
                      id: '4'
                      type: pipeline
                      attributes:
                        name: Intake
                        description: Intake Pipeline
                        statuses:
                        - pnc
                        pipeline_type: intake
                        matter_count: 174
                        estimated_value: $0.22
                        created_at: '2019-02-28T07:21:48.362-08:00'
                        updated_at: '2019-02-28T07:21:48.362-08:00'
                      relationships:
                        stages:
                          data:
                          - id: '6'
                            type: stage
                          - id: '7'
                            type: stage
                          - id: '9'
                            type: stage
                          - id: '148'
                            type: stage
                          - id: '352'
                            type: stage
                          - id: '138'
                            type: stage
                          - id: '146'
                            type: stage
                          - id: '147'
                            type: stage
                        created_by:
                          data:
                            id: '14'
                            type: user
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/pipelines:
    get:
      operationId: getPipelines
      summary: Pipelines
      description: A paginated list of all Pipelines in Lawmatics
      tags:
      - Matters (Prospects)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getPipelines:
                  summary: GET Pipelines
                  value:
                    data:
                    - id: '61'
                      type: pipeline
                      attributes:
                        name: sdf
                        description: sdfdfs
                        statuses:
                        - pnc
                        pipeline_type: normal
                        matter_count: 0
                        estimated_value: $0
                        created_at: '2019-04-01T13:47:21.156-07:00'
                        updated_at: '2019-04-01T13:47:21.156-07:00'
                      relationships:
                        stages:
                          data: []
                        created_by:
                          data:
                            id: '3'
                            type: user
                    - id: '60'
                      type: pipeline
                      attributes:
                        name: test23
                        description: wow
                        statuses:
                        - pnc
                        pipeline_type: intake
                        matter_count: 0
                        estimated_value: $0
                        created_at: '2019-04-01T13:46:50.796-07:00'
                        updated_at: '2019-04-01T13:46:50.796-07:00'
                      relationships:
                        stages:
                          data:
                          - id: '374'
                            type: stage
                        created_by:
                          data:
                            id: '3'
                            type: user
                    - id: '16'
                      type: pipeline
                      attributes:
                        name: test
                        description: test
                        statuses:
                        - pnc
                        pipeline_type: intake
                        matter_count: 0
                        estimated_value: $0
                        created_at: '2019-03-12T10:45:35.796-07:00'
                        updated_at: '2019-03-12T10:45:35.796-07:00'
                      relationships:
                        stages:
                          data: []
                        created_by:
                          data:
                            id: '3'
                            type: user
                    - id: '4'
                      type: pipeline
                      attributes:
                        name: Intake
                        description: Intake Pipeline
                        statuses:
                        - pnc
                        pipeline_type: intake
                        matter_count: 173
                        estimated_value: $0.22
                        created_at: '2019-02-28T07:21:48.362-08:00'
                        updated_at: '2019-02-28T07:21:48.362-08:00'
                      relationships:
                        stages:
                          data:
                          - id: '6'
                            type: stage
                          - id: '7'
                            type: stage
                          - id: '9'
                            type: stage
                          - id: '148'
                            type: stage
                          - id: '352'
                            type: stage
                          - id: '138'
                            type: stage
                          - id: '146'
                            type: stage
                          - id: '147'
                            type: stage
                        created_by:
                          data:
                            id: '14'
                            type: user
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 4
                    links:
                      self: /v1/pipeline?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/stages/{stage_id}:
    get:
      operationId: getStage
      summary: Stage
      description: A specific Stage by id
      tags:
      - Matters (Prospects)
      parameters:
      - name: stage_id
        in: path
        required: true
        description: The stage id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getStage:
                  summary: GET Stage
                  value:
                    data:
                      id: '147'
                      type: stage
                      attributes:
                        name: Initial Call
                        color: '#bcc2c94d'
                        order: 7
                        created_at: '2018-10-02T11:25:35.532-07:00'
                        updated_at: '2019-02-28T19:28:40.101-08:00'
                      relationships:
                        prospects:
                          data:
                          - id: '50645'
                            type: prospect
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/stages:
    get:
      operationId: getStages
      summary: Stages
      description: A paginated list of all Stages in Lawmatics
      tags:
      - Matters (Prospects)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getStagesFilteredByPipeline:
                  summary: GET Stages Filtered By Pipeline
                  value:
                    data:
                    - id: '352'
                      type: stage
                      attributes:
                        name: test      w
                      relationships:
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    - id: '148'
                      type: stage
                      attributes:
                        name: Consult Completed
                      relationships:
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    - id: '147'
                      type: stage
                      attributes:
                        name: Initial Call
                      relationships:
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    - id: '146'
                      type: stage
                      attributes:
                        name: Consult Scheduled
                      relationships:
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    - id: '138'
                      type: stage
                      attributes:
                        name: Really very way too long stage name
                      relationships:
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    - id: '9'
                      type: stage
                      attributes:
                        name: Stage 3
                      relationships:
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    - id: '7'
                      type: stage
                      attributes:
                        name: Stage 2
                      relationships:
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    - id: '6'
                      type: stage
                      attributes:
                        name: Stage 1
                      relationships:
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 8
                    links:
                      self: /v1/stage?page=1
                getStages:
                  summary: GET Stages
                  value:
                    data:
                    - id: '352'
                      type: stage
                      attributes:
                        name: test      w
                        color: '#757F8F'
                        order: 4
                        created_at: '2019-01-10T16:13:55.733-08:00'
                        updated_at: '2019-03-06T23:08:42.168-08:00'
                      relationships:
                        prospects:
                          data:
                          - id: '54736'
                            type: prospect
                          - id: '50661'
                            type: prospect
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    - id: '148'
                      type: stage
                      attributes:
                        name: Consult Completed
                        color: '#bcc2c94d'
                        order: 3
                        created_at: '2018-10-02T11:25:36.329-07:00'
                        updated_at: '2019-03-06T23:08:42.168-08:00'
                      relationships:
                        prospects:
                          data:
                          - id: '54747'
                            type: prospect
                          - id: '54787'
                            type: prospect
                          - id: '54748'
                            type: prospect
                          - id: '54749'
                            type: prospect
                          - id: '54750'
                            type: prospect
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    - id: '147'
                      type: stage
                      attributes:
                        name: Initial Call
                        color: '#bcc2c94d'
                        order: 7
                        created_at: '2018-10-02T11:25:35.532-07:00'
                        updated_at: '2019-02-28T19:28:40.101-08:00'
                      relationships:
                        prospects:
                          data:
                          - id: '50645'
                            type: prospect
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    - id: '146'
                      type: stage
                      attributes:
                        name: Consult Scheduled
                        color: '#bcc2c94d'
                        order: 6
                        created_at: '2018-10-02T11:25:35.363-07:00'
                        updated_at: '2019-02-28T19:28:40.096-08:00'
                      relationships:
                        prospects:
                          data:
                          - id: '79'
                            type: prospect
                          - id: '32'
                            type: prospect
                          - id: '10'
                            type: prospect
                          - id: '100'
                            type: prospect
                          - id: '46'
                            type: prospect
                          - id: '17877'
                            type: prospect
                          - id: '17683'
                            type: prospect
                          - id: '27'
                            type: prospect
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    - id: '138'
                      type: stage
                      attributes:
                        name: Really very way too long stage name
                        color: '#F70303'
                        order: 5
                        created_at: '2018-08-07T16:55:52.659-07:00'
                        updated_at: '2019-02-28T19:28:40.091-08:00'
                      relationships:
                        prospects:
                          data:
                          - id: '54688'
                            type: prospect
                          - id: '19'
                            type: prospect
                          - id: '54767'
                            type: prospect
                          - id: '45305'
                            type: prospect
                          - id: '6'
                            type: prospect
                          - id: '41789'
                            type: prospect
                          - id: '65'
                            type: prospect
                          - id: '45302'
                            type: prospect
                          - id: '16'
                            type: prospect
                          - id: '90'
                            type: prospect
                          - id: '93'
                            type: prospect
                          - id: '60'
                            type: prospect
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    - id: '9'
                      type: stage
                      attributes:
                        name: Stage 3
                        color: '#70B08B'
                        order: 2
                        created_at: '2018-07-17T17:40:21.805-07:00'
                        updated_at: '2019-03-06T23:08:42.170-08:00'
                      relationships:
                        prospects:
                          data:
                          - id: '50662'
                            type: prospect
                          - id: '45306'
                            type: prospect
                          - id: '41788'
                            type: prospect
                          - id: '17682'
                            type: prospect
                          - id: '17681'
                            type: prospect
                          - id: '45303'
                            type: prospect
                          - id: '128'
                            type: prospect
                          - id: '21'
                            type: prospect
                          - id: '68'
                            type: prospect
                          - id: '26'
                            type: prospect
                          - id: '95'
                            type: prospect
                          - id: '52'
                            type: prospect
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    - id: '7'
                      type: stage
                      attributes:
                        name: Stage 2
                        color: '#DC438F'
                        order: 1
                        created_at: '2018-07-16T15:12:39.502-07:00'
                        updated_at: '2019-03-06T23:08:40.445-08:00'
                      relationships:
                        prospects:
                          data:
                          - id: '40'
                            type: prospect
                          - id: '45310'
                            type: prospect
                          - id: '50649'
                            type: prospect
                          - id: '45311'
                            type: prospect
                          - id: '72'
                            type: prospect
                          - id: '63'
                            type: prospect
                          - id: '57'
                            type: prospect
                          - id: '23'
                            type: prospect
                          - id: '43'
                            type: prospect
                          - id: '35'
                            type: prospect
                          - id: '67'
                            type: prospect
                          - id: '62'
                            type: prospect
                          - id: '58'
                            type: prospect
                          - id: '12'
                            type: prospect
                          - id: '17'
                            type: prospect
                          - id: '20'
                            type: prospect
                          - id: '80'
                            type: prospect
                          - id: '55'
                            type: prospect
                          - id: '53'
                            type: prospect
                          - id: '77'
                            type: prospect
                          - id: '44'
                            type: prospect
                          - id: '99'
                            type: prospect
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    - id: '6'
                      type: stage
                      attributes:
                        name: Stage 1
                        color: '#7997C9'
                        order: 0
                        created_at: '2018-07-16T15:12:39.495-07:00'
                        updated_at: '2019-02-28T07:21:48.506-08:00'
                      relationships:
                        prospects:
                          data:
                          - id: '54896'
                            type: prospect
                          - id: '54895'
                            type: prospect
                          - id: '54894'
                            type: prospect
                          - id: '54893'
                            type: prospect
                          - id: '54892'
                            type: prospect
                          - id: '54891'
                            type: prospect
                          - id: '54890'
                            type: prospect
                          - id: '54889'
                            type: prospect
                          - id: '54888'
                            type: prospect
                          - id: '54887'
                            type: prospect
                          - id: '54886'
                            type: prospect
                          - id: '54885'
                            type: prospect
                          - id: '54884'
                            type: prospect
                          - id: '54883'
                            type: prospect
                          - id: '54882'
                            type: prospect
                          - id: '54881'
                            type: prospect
                          - id: '54880'
                            type: prospect
                          - id: '54879'
                            type: prospect
                          - id: '54878'
                            type: prospect
                          - id: '54877'
                            type: prospect
                          - id: '54876'
                            type: prospect
                          - id: '54875'
                            type: prospect
                          - id: '54874'
                            type: prospect
                          - id: '54873'
                            type: prospect
                          - id: '54872'
                            type: prospect
                          - id: '54871'
                            type: prospect
                          - id: '54870'
                            type: prospect
                          - id: '54869'
                            type: prospect
                          - id: '54868'
                            type: prospect
                          - id: '54867'
                            type: prospect
                          - id: '54866'
                            type: prospect
                          - id: '54865'
                            type: prospect
                          - id: '54864'
                            type: prospect
                          - id: '54863'
                            type: prospect
                          - id: '54862'
                            type: prospect
                          - id: '54861'
                            type: prospect
                          - id: '54860'
                            type: prospect
                          - id: '54859'
                            type: prospect
                          - id: '54858'
                            type: prospect
                          - id: '54857'
                            type: prospect
                          - id: '54856'
                            type: prospect
                          - id: '54855'
                            type: prospect
                          - id: '54854'
                            type: prospect
                          - id: '54853'
                            type: prospect
                          - id: '54852'
                            type: prospect
                          - id: '54851'
                            type: prospect
                          - id: '54850'
                            type: prospect
                          - id: '54849'
                            type: prospect
                          - id: '54848'
                            type: prospect
                          - id: '54846'
                            type: prospect
                          - id: '54845'
                            type: prospect
                          - id: '54844'
                            type: prospect
                          - id: '54843'
                            type: prospect
                          - id: '54842'
                            type: prospect
                          - id: '54841'
                            type: prospect
                          - id: '54840'
                            type: prospect
                          - id: '54839'
                            type: prospect
                          - id: '54838'
                            type: prospect
                          - id: '54837'
                            type: prospect
                          - id: '54836'
                            type: prospect
                          - id: '54833'
                            type: prospect
                          - id: '54832'
                            type: prospect
                          - id: '54831'
                            type: prospect
                          - id: '54820'
                            type: prospect
                          - id: '54810'
                            type: prospect
                          - id: '54808'
                            type: prospect
                          - id: '54807'
                            type: prospect
                          - id: '54730'
                            type: prospect
                          - id: '54733'
                            type: prospect
                          - id: '50659'
                            type: prospect
                          - id: '50664'
                            type: prospect
                          - id: '50663'
                            type: prospect
                          - id: '50665'
                            type: prospect
                          - id: '45307'
                            type: prospect
                          - id: '122'
                            type: prospect
                          - id: '127'
                            type: prospect
                          - id: '45308'
                            type: prospect
                          - id: '45301'
                            type: prospect
                          - id: '28'
                            type: prospect
                          - id: '8'
                            type: prospect
                          - id: '87'
                            type: prospect
                          - id: '86'
                            type: prospect
                          - id: '82'
                            type: prospect
                          - id: '22'
                            type: prospect
                          - id: '18'
                            type: prospect
                          - id: '9'
                            type: prospect
                          - id: '98'
                            type: prospect
                          - id: '61'
                            type: prospect
                          - id: '7'
                            type: prospect
                          - id: '5'
                            type: prospect
                          - id: '74'
                            type: prospect
                          - id: '70'
                            type: prospect
                          - id: '69'
                            type: prospect
                          - id: '59'
                            type: prospect
                          - id: '51'
                            type: prospect
                          - id: '49'
                            type: prospect
                          - id: '42'
                            type: prospect
                          - id: '41'
                            type: prospect
                          - id: '36'
                            type: prospect
                          - id: '34'
                            type: prospect
                          - id: '30'
                            type: prospect
                          - id: '97'
                            type: prospect
                          - id: '94'
                            type: prospect
                          - id: '92'
                            type: prospect
                          - id: '91'
                            type: prospect
                        pipeline:
                          data:
                            id: '4'
                            type: pipeline
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 8
                    links:
                      self: /v1/stage?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/practice_areas/{practice_area_id}:
    get:
      operationId: getPracticeArea
      summary: Practice Area
      description: A specific Practice Area by id
      tags:
      - Matters (Prospects)
      parameters:
      - name: practice_area_id
        in: path
        required: true
        description: The practice area id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getPracticeArea:
                  summary: GET Practice Area
                  value:
                    data:
                      id: '63'
                      type: practice_area
                      attributes:
                        name: Family Law
                        color: '#bcc2c9'
                        created_at: '2018-07-23T14:41:38.401-07:00'
                        updated_at: '2018-07-23T14:41:38.401-07:00'
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    put:
      operationId: updatePracticeArea
      summary: Update Practice Area
      description: 'Updates an existing Practice Area


        Optional Fields: statute_of_limitations_enabled


        name: The Area name


        color: The Area color. Can be any CSS valid color (hex, rgb, hsl, colorname string, etc)


        statute_of_limitations_enabled: If Statute of Limitations is enabled'
      tags:
      - Matters (Prospects)
      parameters:
      - name: practice_area_id
        in: path
        required: true
        description: The practice area id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: New Name
              color: '#bcc2c9'
              statute_of_limitations_enabled: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              examples:
                putUpdatePracticeArea:
                  summary: PUT Update Practice Area
                  value:
                    data:
                      id: '9'
                      type: practice_area
                      attributes:
                        name: New Name
                        color: '#bcc2c9'
                        statute_of_limitations_enabled: true
                        matter_count: 0
                        created_at: '2022-05-26T10:54:59.444-07:00'
                        updated_at: '2022-05-26T11:27:35.598-07:00'
                      relationships:
                        prospects:
                          data: []
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    delete:
      operationId: deletePracticeArea
      summary: Delete Practice Area
      description: Deletes an existing Practice Area
      tags:
      - Matters (Prospects)
      parameters:
      - name: practice_area_id
        in: path
        required: true
        description: The practice area id
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              examples:
                deleteUpdatePracticeArea:
                  summary: DELETE Update Practice Area
                  value:
                    data:
                      id: '9'
                      type: practice_area
                      attributes:
                        name: New Name
                        created_at: '2022-05-26T10:54:59.444-07:00'
                        updated_at: '2022-05-26T11:45:32.351-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/practice_areas:
    get:
      operationId: getPracticeAreas
      summary: Practice Areas
      description: A paginated list of all Practice Areas in Lawmatics
      tags:
      - Matters (Prospects)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getPracticeAreas:
                  summary: GET Practice Areas
                  value:
                    data:
                    - id: '4'
                      type: practice_area
                      attributes:
                        name: Criminal Defense
                        color: '#bcc2c9'
                        created_at: '2018-07-16T15:13:04.112-07:00'
                        updated_at: '2018-07-16T15:13:04.112-07:00'
                    - id: '5'
                      type: practice_area
                      attributes:
                        name: Intellectual Property
                        color: '#bcc2c9'
                        created_at: '2018-07-16T15:13:04.114-07:00'
                        updated_at: '2018-07-16T15:13:04.114-07:00'
                    - id: '6'
                      type: practice_area
                      attributes:
                        name: Divorce
                        color: '#bcc2c9'
                        created_at: '2018-07-16T15:13:04.116-07:00'
                        updated_at: '2018-07-16T15:13:04.116-07:00'
                    - id: '63'
                      type: practice_area
                      attributes:
                        name: Family Law
                        color: '#bcc2c9'
                        created_at: '2018-07-23T14:41:38.401-07:00'
                        updated_at: '2018-07-23T14:41:38.401-07:00'
                    - id: '64'
                      type: practice_area
                      attributes:
                        name: Veterans Disability
                        color: '#bcc2c9'
                        created_at: '2018-07-23T14:41:38.691-07:00'
                        updated_at: '2018-07-23T14:41:38.691-07:00'
                    - id: '65'
                      type: practice_area
                      attributes:
                        name: Estate Planning
                        color: '#bcc2c9'
                        created_at: '2018-07-23T14:41:39.193-07:00'
                        updated_at: '2018-07-23T14:41:39.193-07:00'
                    - id: '94'
                      type: practice_area
                      attributes:
                        name: Expungement
                        color: '#bcc2c9'
                        created_at: '2018-08-07T16:49:06.060-07:00'
                        updated_at: '2018-08-07T16:49:06.060-07:00'
                    - id: '95'
                      type: practice_area
                      attributes:
                        name: Dui
                        color: '#bcc2c9'
                        created_at: '2018-08-07T16:49:06.134-07:00'
                        updated_at: '2018-08-07T16:49:06.134-07:00'
                    - id: '96'
                      type: practice_area
                      attributes:
                        name: Unknown
                        color: '#bcc2c9'
                        created_at: '2018-08-07T16:49:06.187-07:00'
                        updated_at: '2018-08-07T16:49:06.187-07:00'
                    - id: '97'
                      type: practice_area
                      attributes:
                        name: Misdemeanor
                        color: '#bcc2c9'
                        created_at: '2018-08-07T16:49:06.221-07:00'
                        updated_at: '2018-08-07T16:49:06.221-07:00'
                    - id: '98'
                      type: practice_area
                      attributes:
                        name: Non Practice Area
                        color: '#bcc2c9'
                        created_at: '2018-08-07T16:49:06.233-07:00'
                        updated_at: '2018-08-07T16:49:06.233-07:00'
                    - id: '99'
                      type: practice_area
                      attributes:
                        name: Domestic Violence
                        color: '#bcc2c9'
                        created_at: '2018-08-07T16:49:06.302-07:00'
                        updated_at: '2018-08-07T16:49:06.302-07:00'
                    - id: '100'
                      type: practice_area
                      attributes:
                        name: Felony
                        color: '#bcc2c9'
                        created_at: '2018-08-07T16:49:06.384-07:00'
                        updated_at: '2018-08-07T16:49:06.384-07:00'
                    - id: '101'
                      type: practice_area
                      attributes:
                        name: Marijuana
                        color: '#bcc2c9'
                        created_at: '2018-08-07T16:49:06.691-07:00'
                        updated_at: '2018-08-07T16:49:06.691-07:00'
                    - id: '102'
                      type: practice_area
                      attributes:
                        name: Asset Forfeiture
                        color: '#bcc2c9'
                        created_at: '2018-08-07T16:49:06.927-07:00'
                        updated_at: '2018-08-07T16:49:06.927-07:00'
                    - id: '103'
                      type: practice_area
                      attributes:
                        name: Juvenile
                        color: '#bcc2c9'
                        created_at: '2018-08-07T16:49:07.191-07:00'
                        updated_at: '2018-08-07T16:49:07.191-07:00'
                    - id: '104'
                      type: practice_area
                      attributes:
                        name: Marijuana Business
                        color: '#bcc2c9'
                        created_at: '2018-08-07T16:49:07.315-07:00'
                        updated_at: '2018-08-07T16:49:07.315-07:00'
                    - id: '105'
                      type: practice_area
                      attributes:
                        name: Prop 64
                        color: '#bcc2c9'
                        created_at: '2018-08-07T16:49:08.097-07:00'
                        updated_at: '2018-08-07T16:49:08.097-07:00'
                    - id: '106'
                      type: practice_area
                      attributes:
                        name: Prop 57
                        color: '#bcc2c9'
                        created_at: '2018-08-07T16:49:09.110-07:00'
                        updated_at: '2018-08-07T16:49:09.110-07:00'
                    - id: '107'
                      type: practice_area
                      attributes:
                        name: Unassigned
                        color: '#bcc2c9'
                        created_at: '2018-08-07T16:49:09.644-07:00'
                        updated_at: '2018-08-07T16:49:09.644-07:00'
                    - id: '109'
                      type: practice_area
                      attributes:
                        name: Business - Business General
                        color: '#757F8F'
                        created_at: '2018-08-24T16:36:17.715-07:00'
                        updated_at: '2018-08-24T16:36:17.715-07:00'
                    - id: '125'
                      type: practice_area
                      attributes:
                        name: Paternity
                        color: '#bcc2c9'
                        created_at: '2018-10-08T14:26:25.945-07:00'
                        updated_at: '2018-10-08T14:26:25.945-07:00'
                    - id: '128'
                      type: practice_area
                      attributes:
                        name: Limited Scope
                        color: '#bcc2c9'
                        created_at: '2018-10-11T10:11:54.969-07:00'
                        updated_at: '2018-10-11T10:11:54.969-07:00'
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 23
                    links:
                      self: /v1/practice_areas?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    post:
      operationId: createPracticeArea
      summary: Create Practice Area
      description: 'Create a new Practice Area


        Optional Fields: statute_of_limitations_enabled


        name: The Area name


        color: The Area color. Can be any CSS valid color (hex, rgb, hsl, colorname string, etc)


        statute_of_limitations_enabled: If Statute of Limitations is enabled'
      tags:
      - Matters (Prospects)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: Test Practice Area c87d06a9-05b2-44ab-861f-43cd1ee1de67
              color: '#bcc2c9'
              statute_of_limitations_enabled: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              examples:
                postCreatePracticeArea:
                  summary: POST Create Practice Area
                  value:
                    data:
                      id: '9'
                      type: practice_area
                      attributes:
                        name: New Area
                        color: '#bcc2c9'
                        statute_of_limitations_enabled: true
                        matter_count: 0
                        created_at: '2022-05-26T10:54:59.444-07:00'
                        updated_at: '2022-05-26T10:54:59.444-07:00'
                      relationships:
                        prospects:
                          data: []
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/relationships/{relationship_id}:
    get:
      operationId: getRelationship
      summary: Relationship
      description: A specific Relationship by ID
      tags:
      - Matters (Prospects)
      parameters:
      - name: relationship_id
        in: path
        required: true
        description: The relationship id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getRelationship:
                  summary: GET Relationship
                  value:
                    data:
                      id: '2'
                      type: relationship
                      attributes:
                        name: Spouse
                        prospect_id: 101
                        contact_id: 6
                        relationship_type_id: 1
                        created_at: '2021-10-31T19:34:53.641-07:00'
                        updated_at: '2021-10-31T19:34:53.641-07:00'
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    put:
      operationId: updateRelationship
      summary: Update Relationship
      description: Update Relationship
      tags:
      - Matters (Prospects)
      parameters:
      - name: relationship_id
        in: path
        required: true
        description: The relationship id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              prospect_id: '{{prospect_id}}'
              contact_id: '{{contact_id}}'
              relationship_type_id: '{{relationship_type_id}}'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              examples:
                putUpdateRelationship:
                  summary: PUT Update Relationship
                  value:
                    data:
                      id: '19'
                      type: relationship
                      attributes:
                        name: Aunties
                        prospect_id: 99
                        contact_id: 7
                        created_at: '2021-10-31T23:17:44.457-07:00'
                        updated_at: '2021-10-31T23:20:50.162-07:00'
                        relationship_type_id: 9
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    delete:
      operationId: deleteRelationship
      summary: Delete Relationship
      description: Delete a Relationship by ID
      tags:
      - Matters (Prospects)
      parameters:
      - name: relationship_id
        in: path
        required: true
        description: The relationship id
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/relationships:
    get:
      operationId: getRelationships
      summary: Relationships
      description: A paginated list of all Relationships in Lawmatics
      tags:
      - Matters (Prospects)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getRelationships:
                  summary: GET Relationships
                  value:
                    data:
                    - id: '4'
                      type: relationship
                      attributes:
                        name: Child
                        prospect_id: 101
                        contact_id: 8
                        has_portal_access?: false
                        created_at: '2021-10-31T20:26:39.243-07:00'
                        updated_at: '2021-10-31T20:26:39.243-07:00'
                      relationships:
                        relationship_type:
                          data:
                            id: '3'
                            type: relationship_type
                        custom_field:
                          data:
                            id: '3'
                            type: custom_field
                    - id: '2'
                      type: relationship
                      attributes:
                        name: Spouse
                        prospect_id: 101
                        contact_id: 102
                        has_portal_access?: false
                        created_at: '2021-10-31T19:34:53.637-07:00'
                        updated_at: '2021-10-31T19:34:53.637-07:00'
                      relationships:
                        relationship_type:
                          data:
                            id: '1'
                            type: relationship_type
                        custom_field:
                          data:
                            id: '1'
                            type: custom_field
                    - id: '1'
                      type: relationship
                      attributes:
                        name: Brother
                        prospect_id: 101
                        contact_id: 101
                        has_portal_access?: true
                        created_at: '2021-10-31T19:31:56.908-07:00'
                        updated_at: '2021-10-31T19:31:56.908-07:00'
                      relationships:
                        relationship_type:
                          data:
                            id: '2'
                            type: relationship_type
                        custom_field:
                          data:
                            id: '2'
                            type: custom_field
                    meta:
                      total_pages: 1
                      limit_per_page: 25
                      total_entries: 3
                    links:
                      self: /v1/relationships?page=1
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    post:
      operationId: createRelationship
      summary: Create Relationship
      description: 'Create a new Relationship


        If the Relationship Type allows multiple, you can create more than one Relationship per Matter.'
      tags:
      - Matters (Prospects)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              prospect_id: '{{prospect_id}}'
              contact_id: '{{contact_id}}'
              relationship_type_id: '{{relationship_type_id}}'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              examples:
                postCreateRelationship:
                  summary: POST Create Relationship
                  value:
                    data:
                      id: '21'
                      type: relationship
                      attributes:
                        name: Brother
                        prospect_id: 101
                        contact_id: 8
                        relationship_type_id: 2
                        created_at: '2021-10-31T23:21:53.269-07:00'
                        updated_at: '2021-10-31T23:21:53.269-07:00'
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/relationship_types/{relationship_type_id}:
    get:
      operationId: getRelationshipType
      summary: Relationship Type
      description: A specific Relationship Type by ID
      tags:
      - Matters (Prospects)
      parameters:
      - name: relationship_type_id
        in: path
        required: true
        description: The relationship type id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getRelationship:
                  summary: GET Relationship
                  value:
                    data:
                      id: '2'
                      type: relationship
                      attributes:
                        name: Spouse
                        prospect_id: 101
                        contact_id: 6
                        relationship_type_id: 1
                        created_at: '2021-10-31T19:34:53.641-07:00'
                        updated_at: '2021-10-31T19:34:53.641-07:00'
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
    put:
      operationId: updateRelationshipType
      summary: Update Relationship Type
      description: Update Relationship
      tags:
      - Matters (Prospects)
      parameters:
      - name: relationship_type_id
        in: path
        required: true
        description: The relationship type id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: Sister
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                putUpdateRelationshipType:
                  summary: PUT Update Relationship Type
                  value:
                    data:
                      id: '2'
                      type: relationship_type
                      attributes:
                        name: Changed Relationship Type
                        is_repeatable: true
                        created_at: '2021-10-31T16:22:05.472-07:00'
                        updated_at: '2022-08-08T17:53:27.925-07:00'
                      relationships: {}
        '401':
          description: Unauthorized - missing or invalid OAuth 2.0 bearer token
        '429':
          description: Too Many Requests - the per-firm rate limit was exceeded; a Retry-After header is returned
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
  /v1/relationship_types:
    get:
      operationId: getRelationshipTypes
      summary: Relationship Types
      description: A paginated list of all Relationship Types in Lawmatics
      tags:
      - Matters (Prospects)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                getRelationshipTypes:
                  summary: GET Relationship Types
                  value:
                    data:
                    - id: '3'
                      type: relationship_type
                      attributes:
                        name: Child
                        is_repeatable: true
                      relationships:
                        created_by:
                          data:
                            id: '5'
                            type: user
                    - id: '2'
                      type: relationship_type
                      attributes:
                        name: Brother
                        is_repeatable: true
                      relationships:
                        created_by:
                          data:
                            id: '5'
                            type: user
                    - id: '1'
[...]
